<div class="annotations card active" ng-if="annotations.length > 0">
  <div class="card-content">
    <span class="card-title">
      <span class="card-title-text"
            translate
            translate-n="annotations.length"
            translate-plural="<% $count %> annotations">One annotation</span>
    </span>

    <table class="table table-hover table-condensed">
      <colgroup>
        <col class="col-xs-7"></col>
        <col class="col-xs-3"></col>
        <col class="col-xs-2"></col>
      </colgroup>
      <tbody>
        <tr ng-repeat="obj in annotations">
          <td><% obj.text %></td>
          <td class="text-right"><% obj.created_at | date : 'd MMM' %></td>
          <td class="text-right">
            <a href="<% obj.picture_url %>"
               title="<% 'Download attachment.'|translate %>"
               ng-if="obj.attachment !== undefined">
              <i class="fa fa-download"></i>
            </a>&nbsp;
            <a href="#"
               title="<% 'Delete this annotation from the database.'|translate %>"
               ng-click="deleteAnnotation(obj)">
              <i class="fa fa-times text-danger"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
