<div class="annotations card active">
  <div class="card-content">
    <span class="card-title">
      <span class="card-title-text"
            ng-if="annotations.length > 0"
            translate
            translate-n="annotations.length"
            translate-plural="<% $count %> annotations">One annotation</span>

      <span class="card-title-text"
            ng-if="annotations.length == 0"
            translate>Add an annotation</span>
    </span>

    <full-details></full-details>

    <annotations-view
      ng-class="{ hidden: !fullDetails }"
      asset="box.content.waterchain.layers.waterchain_grid.data"
      time-state="omnibox.state.temporal"
      annotations="annotations">
    </annotations-view>
    <annotations-make
      ng-class="{ hidden: !fullDetails }"
      ng-if="box.content.waterchain.layers.waterchain_grid.data"
      asset="box.content.waterchain.layers.waterchain_grid.data"
      timelineat="timeline.state.temporal.at"
      annotations="annotations">
    </annotations-make>
  </div>
</div>
