<div class="annotations card active">
  <div class="card-content">
    <form>
      <div class="input-group input-group-sm">
        <input type="text"
               class="form-control"
               ng:model="text"
               placeholder="<% 'Annotation message...'|translate %>">
        <span class="input-group-btn">
          <input type="submit"
                 class="btn btn-default"
                 ng-click="createAnnotation(text)"
                 value="<% 'Add'|translate %>" />
        </span>
      </div>
    </form>
  </div>
</div>
