<div ng-if="annotations.length > 0">
  <table class="table table-hover table-condensed">
    <colgroup>
      <col class="col-xs-7"></col>
      <col class="col-xs-3"></col>
      <col class="col-xs-2"></col>
    </colgroup>
    <tbody>
      <tr ng-repeat="obj in annotations">
        <td><% obj.text %></td>
        <td class="text-right">
          <span ng-bind="obj.datetime_from | date: formatDatetime()"></span>
        </td>
        <td class="text-right">
          <a target="_blank"
             href="<% obj.attachment_url %>"
             title="<% 'Download attachment.'|translate %>"
             ng-if="obj.attachment_url">
            <i class="fa fa-download"></i>
          </a>&nbsp;
          <a class="clickable"
             title="<% 'Delete this annotation from the database.'|translate %>"
             ng-click="deleteAnnotation(obj)">
            <i class="fa fa-trash text-danger"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
