<form name="annotationform" novalidate>
  <table class="table table-condensed table-no-borders">
    <colgroup>
      <col class="col-xs-7"></col>
      <col class="col-xs-3"></col>
      <col class="col-xs-2"></col>
    </colgroup>
    <tbody>
      <tr>
        <td>
          <input type="text"
                 class="form-control input-sm"
                 name="text"
                 ng-maxlength=256
                 required
                 ng:model="text"
                 placeholder="<% 'Annotation message...'|translate %>">
          <div
            ng-show="annotationform.text.$dirty && annotationform.text.$invalid">
            <small
              class="text-danger"
              ng-show="annotationform.text.$error.required"
              translate>
              Annotation text is required.
            </small>
            <small
              class="text-danger"
              ng-show="annotationform.text.$error.maxlength"
              translate>
              Annotation text cannot be longer than 256 characters.
            </small>
          </div>
        </td>
        <td class="text-right">
          <span ng-bind="timelineat | date: formatDatetime()"></span>
        </td>
        <td>
          <button
            class="btn btn-link"
            ng-disabled="annotationform.$invalid"
            ng-click="createAnnotation()">
            <i class="fa fa-plus"></i>
          </button>
          &nbsp;
          <button
            class="btn btn-link"
            ng-disabled="annotationform.$pristine"
            ng-click="resetForm()">
            <i class="fa fa-times text-danger"></i>
          </button>
        </td>
      </tr>
      <tr ng-show="annotationform.text.$dirty">
        <td colspan="3">
          <span translate>Add an attachment:</span>
          <input type="file"
                 class="input-sm"
                 name="attachment"
                 ng:model="fileupload"
                 file-model="attachment"
                 max-file-size=10000000>
          <div ng-show="annotationform.attachment.$dirty && annotationform.attachment.$invalid">
            <small
              class="text-danger"
              ng-show="annotationform.attachment.$error.maxFileSize"
              translate>
              Annotation attachment size cannot be bigger than 10MB.
            </small>
          </div>
          <div ng-hide="user.organisations.length === 1">
          <span translate>Select an organisation:</span><br>
          <select
            ng-options="org as org.name for org in user.organisations track by org.unique_id"
            ng-model="selectedOrganisation"></select>
        </div>
        </td>
        <td></td>
      </tr>
    </tbody>
  </table>
</form>
