<div class="annotations card active">
  <div class="card-content">
    <form name="annotationform" novalidate>
      <input type="text"
             class="form-control input-sm"
             name="text"
             ng-maxlength=256
             required
             ng:model="text"
             placeholder="<% 'Annotation message...'|translate %>">
      <div
        ng-show="annotationform.text.$dirty && annotationform.text.$invalid">
        <small
          class="text-danger"
          ng-show="annotationform.text.$error.required"
          translate>
          Annotation text is required.
        </small>
        <small
          class="text-danger"
          ng-show="annotationform.text.$error.maxlength"
          translate>
          Annotation text cannot be longer than 256 characters.
        </small>
      </div>
      <button type="submit"
              ng-disabled="annotationform.$invalid"
              class="btn btn-default btn-sm"
              ng-click="createAnnotation()" translate>Add</button>
    </form>
  </div>
</div>
