<div ng-controller="AreaCtrl">
  <div ng-repeat="(slug, lg) in box.content" class="card active" id="card-<% slug %>">
    <div
      ng-repeat="l in lg.layers"
      ng-if="!!l && l.data"
      ng-switch="l.aggType"
      class="card-content"
      id="card-content-<% l.name %>">
      <graph
        ng-switch-when="curve"
        line xlabel="'[%]'"
        ylabel="'hoogte [mNAP]'"
        data="l.data"
        keys="{x: 0, y: 1}">
      </graph>
      <graph
        ng-switch-when="counts"
        horizontal-stack
        data="l.data"
        keys="{x: 'data', y: 'label'}"
        xlabel="'[%]'"
        dimensions="{height: 80, padding: {left: 0, right: 0, top: 5, bottom: 50}}">
      </graph>
      <div ng-switch-default ng-switch="l.type">
        <graph
          ng-switch-when="Store"
          line
          data="l.data">
        </graph>
        <div ng-switch-when="Vector">
          <table class="table table-hover table-condensed" >
            <thead>
                <th><i class="fa fa-circle"></i></th>
                <th><% lg.layerGroupName %></th>
                <th><% filteredRes.length %></th>
            </thead>
            <tbody>
              <tr ng-repeat="event in l.data">
                  <td rel="tooltip"
                      data-placement="left"
                      title="<% event.properties.category %>">
                    <i class="fa fa-circle">
                    </i>
                  </td>
                  <td rel="tooltip"
                      data-placement="left"
                      title="start: <% event.properties.timestamp_start | date:'dd/MM/yyyy' %>
                             eind: <% event.properties.timestamp_end | date:'dd/MM/yyyy' %>">
                      <% event.properties.timestamp_start | date:'dd/MM/yyyy' %>
                  </td>
                  <td rel="tooltip"
                      data-placement="left"
                      title="<% event.properties.value %>">
                    <% event.properties.value | truncate:40 %>
                  </td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
