<div class="card-content">

  <span class="kunstwerk-title">

    <i id="icon-holder"
       ng-class="$parent.getIconClass(waterchain.layers.waterchain_grid.data.entity_name)">
    </i>

    <span id="title-holder"
          class="card-title-text kunstwerk-title-text">
      <% waterchain.layers.waterchain_grid.data.entity_name | objectTitle %>
    </span>
  </span>


  <table id="kunstwerk-table" class="table table-condensed table-hover"
         ng-init="waterchain.layers.waterchain_grid.data = $parent.fixUTFNameData(waterchain.layers.waterchain_grid.data);">

    <tr class="attr-row"
        ng-repeat="obj in wanted[waterchain.layers.waterchain_grid.data.entity_name].rows"
        ng-class="{'hidden': $index > 2}">

      <td class="fixed-width-card-table">
        <div class="attr-row-content">
          <% obj.keyName %>
        </div>
      </td>

      <td class="lineout"
          ng-if="waterchain.layers.waterchain_grid.data[obj.attrName]">
        <div class="attr-row-content" ng-bind-html="$eval(obj.ngBindValue) + obj.valueSuffix">
        </div>
      </td>

      <td class="lineout"
          ng-if="!waterchain.layers.waterchain_grid.data[obj.attrName]"
          rel="tooltip"
          data-toggle="tooltip"
          title="Dit is een voorbeeld waarde">
        <div ng-bind-html="obj.defaultValue + obj.valueSuffix" class="attr-row-content dummy-attr-value">
        </div>
      </td>
    </tr>
  </table>

  <div  class="show-structure-attrs-link"
        ng-click="$parent.box.toggleFullTable()">

    <span class="show-structure-attrs-text"
          ng-if="$parent.box.showFullTable
            && wanted[waterchain.layers.waterchain_grid.data.entity_name].rows.length > 3">
      <i class="fa fa-lg fa-caret-up table-toggler"></i>
    </span>

    <span class="show-structure-attrs-text"
          ng-if="!$parent.box.showFullTable
            && wanted[waterchain.layers.waterchain_grid.data.entity_name].rows.length > 3">
      <i class="fa fa-lg fa-caret-down table-toggler"></i>
    </span>
  </div>

  <div class="structure-image-wrapper text-center"
       ng-if="!!waterchain.layers.waterchain_grid.data.image_url">

      <img class="structure-image"
           ng-src="{{waterchain.layers.waterchain_grid.data.image_url}}" />

  </div>
</div>

