<div ng-controller="LineCtrl">
  <div ng-repeat="lg in box.content" class="card active" id="card-<% l.name %>">
    <div ng-repeat="l in lg.layers"
      id="card-content-<% l.name %>"
      class="card-content"
      ng-if="l.data">
      <div class="card-content" id="card-content-<% agg.name %>">

        <graph ng-if="l.scale === 'interval' || l.scale === 'ratio'"
          line
          data="l.data"
          ylabel="l.quantity + ' [' + l.unit + ']'"
          xlabel="'Afstand in [m]'">
        </graph>

        <graph ng-if="l.scale === 'nominal'"
          horizontal-stack
          data="l.data"
          keys="{x: 'data', y: 'label'}"
          xlabel="'[%]'"
          dimensions="{height: 80, padding: {left: 0, right: 0, top: 5, bottom: 50}}">
        </graph>

      </div>
    </div>
  </div>
</div>
