<div ng-controller="PointCtrl">

  <div class="card active"
      ng-if="box.content.waterchain">
    <cardattributes waterchain="box.content.waterchain"></cardattributes>
  </div>

  <div class="card active"
       ng-if="box.content.timeseries">
    <timeseries timeseries="box.content.timeseries"></timeseries>
  </div>

  <div ng-if="box.content.rain">
    <rain></rain>
  </div>

  <div ng-repeat="(slug, lg) in box.content"
       class="card active"
       ng-if="slug !== 'waterchain' && slug !== 'timeseries' && slug !== 'rain'">
    <defaultpoint lg="lg"></defaultpoint>
  </div>
</div>
