<div ng-controller="PointCtrl">

  <div class="card active"
      ng-if="box.content.waterchain">
    <cardattributes waterchain="box.content.waterchain"></cardattributes>
  </div>

  <div class="card active"
       ng-if="box.content.timeseries">
    <timeseries timeseries="box.content.timeseries"></timeseries>
  </div>

  <div class="card active"
       ng-if="box.content.rain">
    <rain></rain>
  </div>

  <div ng-repeat="(slug, lg) in box.content"
       class="card active"
       ng-if="slug !== 'waterchain' && slug !== 'timeseries' && slug !== 'rain'">
    <defaultpoint lg="lg"></defaultpoint>
  </div>
</div>

<!--
<div ng-controller="PointCtrl">
  <div ng-repeat="(slug, lg) in box.content" id="card" class="card active">
    <div ng-switch="slug">
      <cardattributes ng-switch-when="waterchain" waterchain="lg"></cardattributes>
      <timeseries ng-switch-when="timeseries" timeseries="lg"></timeseries>
      <rain ng-switch-when="rain"></rain>
      <defaultpoint ng-switch-default lg="lg" map-state="mapState"></defaultpoint>
    </div>
  </div>
</div>
-->

