<div id="timeline" ng-controller="TimeLine">

  <div class="row">
  <div class="time-controls">
    <div class="btn-group">
      <a ng-click="timeState.playPauseAnimation()"
         class="extra-padding timeline-button"
         ng-class="{'active': timeState.animation.playing}"
         title="<% timeState.animation.playing ? tooltips.stopAnim : tooltips.startAnim %>"
         data-original-title="Afspelen/pauzeren">
        <i ng-class="{'fa-fw fa fa-play': !timeState.animation.playing, 'fa-fw fa fa-pause active': timeState.animation.playing }"></i>
      </a>
    </div>
  </div>
  <div id="timeline-svg-wrapper" class="timeline-svg-wrapper">
    <svg></svg>
  </div>
  <div class="time-controls-right">
    <div class="btn-group-vertical">
        <a class="btn btn-default btn-xss" ng-click="timeState.zoom('in')"
          class="extra-padding timeline-button"
          title="<% tooltips.zoomInTimeline %>">
          <i class="fa fa-plus"></i>
        </a>
        <a class="btn btn-default btn-xss" ng-mousedown="timeState.zoomToNow()"
          class="extra-padding timeline-button"
          title="<% tooltips.goToNow %>">
          <i class="fa fa-clock-o"></i>
        </a>
        <a class="btn btn-default btn-xss" ng-click="timeState.zoom('out')"
          class="extra-padding timeline-button"
          title="<% tooltips.zoomOutTimeline %>">
          <i class="fa fa-minus"></i>
        </a>
    </div>
  </div>
  </div>

  <div class="row time-start-now-end">
    <div class="col-md-3"
        title="<% tooltips.timelineStart %>">
      <p><% timeState.start | date:'d MMMM y - HH:mm' %></p>
    </div>

    <div class="col-md-6"
         title="<% tooltips.timelineAt %>">
      <p class="text-center"><% timeState.at | date:'d MMMM y - HH:mm' %></p>
    </div>

    <div class="col-md-3"
         title="<% tooltips.timelineEnd %>">
      <p class="text-right"><% timeState.end | date:'d MMMM y - HH:mm' %> </p>
    </div>
  </div>

</div>
