<div id="timeline" ng-controller="TimeLine">

  <div class="time-controls">
    <div class="btn-group">
      <a ng-click="timeState.playPauseAnimation()"
         class="extra-padding timeline-button"
         ng-class="{'active': timeState.animation.playing}"
         rel="tooltip"
         data-toggle="tooltip"
         data-placement="top"
         title=""
         data-original-title="Afspelen/pauzeren">
        <i ng-class="{'fa-fw fa fa-play': !timeState.animation.playing, 'fa-fw fa fa-pause active': timeState.animation.playing }"></i></a>
    </div>
  </div>
  <div id="timeline-svg-wrapper" class="timeline-svg-wrapper">
   <svg></svg>
  </div>

</div>
