

#loading-bar .bar {
  background: $alizarin;
}

/* Fancy blur effect */
#loading-bar .peg {
  -moz-box-shadow: $alizarin 1px 0 6px 1px;
  -ms-box-shadow: $alizarin 1px 0 6px 1px;
  -webkit-box-shadow: $alizarin 1px 0 6px 1px;
  box-shadow: $alizarin 1px 0 6px 1px;
}
