/**
 * Broken browser layout if IE9 or lower
 */

#dark-overlay {
    background-color: $black;
    display: none;
    height: $height9;
    left: 0;
    opacity: 0.9;
    position: absolute;
    top: 0;
    width: $width19;
    z-index: 100;
}

#timeline, #searchbox, .container-fluid, .navbar, #omnibox, .layer-menu-container, .ribbon  {
    z-index: 0;
}

#mymodal {
    background-color: $white;
    border-radius: 10px;
    color: $black;
    display: none;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    padding: 20px;
    width: 4$width21;
}

