// Most colors come from flat ui.. why don't all?
$alizarin: #e74c3c; // Light red
$asbestos: #7f8c8d; // Darkest gray
$belize-hole: #2980b9; // Blue
$black: #000000;
$clouds: #ecf0f1; // lightest gray
$darkgray2: rgb(130, 130, 130);
$darkgray3: #666666;
$darkgray4: #777777;
$darkgray: #333333;
$greensea: #16a085; // Blue/greenish but darker
$greenseaish: #138a72; // something someone made up?
$midnightblue: #2c3e50; // Dark blue
$pomegranate: #c0392b; // Darker red
$silver: #bdc3c7; // medium-light grey
$turquoise: #1abc9c; // Blue/Greenish
$white1: #fbfbfb;
$white: #ffffff;
$bargrey: #95a5a6;
