// Most colors come from flat ui.. why don't all?
$alizarin: #e74c3c; // Light red
$asbestos: #7f8c8d;
$belize-hole: #2980b9;
$black: #000000;
$darkgray2: rgb(130, 130, 130);
$darkgray3: #666666;
$darkgray4: #777777;
$darkgray: #333333;
$greensea: #16a085;
$greenseaish: #138a72;
$midnightblue: #2c3e50;
$pomegranate: #c0392b; // Darker red
$turquoise: #1abc9c; // Blue/Greenish
$white1: #fbfbfb;
$white: #ffffff; 


