/*
 * Dashboard style definition
 */

.dashboard-wrapper {
  position: absolute;
  top: 70px;
  left: 420px;
  right: 0px;
  margin-right: 10px;
  bottom: 65px;
  overflow: hidden;
  transition: .3s ease;
}

.dashboard-wrapper .row {
  min-height: 50px;
  margin: 3px;
  margin-bottom: 10px;
  padding: 3px;
  @include material-shadow();

  &:hover {
    @include material-shadow-hover();
  }

  &:first-child {
    /*
      We probably want to increase this to have it nicely under the navbar
      alligning with the cards.
    */
    margin-top: 1px;
  }
}

.dashboard-inner {
}
