/*
 * Dashboard style definition
 */

.dashboard-wrapper {
  transition: .3s ease;
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
  background-color: $white;
}

.dashboard-wrapper .row {
  min-height: 50px;
  padding-bottom: 15px;
}
