/**
 * Error pages
 */

.error-message {
    height: $height20;
    left: 50%;
    margin-left: -250px;
    margin-top: -175px;
    padding: 2em;
    position:absolute;
    top: 50%;
    width: 500px;
    z-index: 1;
}

.error-text {
    background-color: rgba(22, 160, 133, 1.0);
    border-color: $turquoise;
    border-color: rgba(26, 188, 156, 0.6);
    color: rgba(253, 253, 253, 1);
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-size: 1.5em;
    padding: 1em;
    text-shadow: none;
    text-transform: none;
    a {
        color: #9b59b6;
    }

}

.error-bg {
    background-color: rgba(240, 240, 240, 1);
}

.bg-text {
    box-sizing: border-box;
    color: $white;
    display: block;
    font-size: 12em;
    font-weight: bold;
    padding: 10px;
    position:absolute;
    text-align: center;
    text-shadow: 0px 1px 0px #999999, 0px 2px 0px #888888, 0px 3px 0px #777777, 0px 4px 0px #666666, 0px 5px 0px #555555, 0px 6px 0px #444444, 0px 7px 0px $darkgray, 0px 8px 7px #001135;
}

to {
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    bottom:0;
    bottom:0;
    right: 100%;
    right: 100%;
}

.bounce {
    -webkit-animation: bounce 10s linear 0 infinite;
    animation: bounce 10s linear 0s infinite;
}


.error-message {
    height: $height20;
    left: 50%;
    margin-left: -250px;
    margin-top: -175px;
    padding: 2em;
    position:absolute;
    top: 50%;
    width: 500px;
    z-index: 1;
}

.error-text {
    background-color: rgba(22, 160, 133, 1.0);
    border-color: $turquoise;
    border-color: rgba(26, 188, 156, 0.6);
    color: rgba(253, 253, 253, 1);
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-size: 1.5em;
    padding: 1em;
    text-shadow: none;
    text-transform: none;
    a {
        color: #9b59b6;
    }

}

.error-bg {
    background-color: rgba(240, 240, 240, 1);
}

.bg-text {
    box-sizing: border-box;
    color: $white;
    display: block;
    font-size: 12em;
    font-weight: bold;
    padding: 10px;
    position:absolute;
    text-align: center;
    text-shadow: 0px 1px 0px #999999, 0px 2px 0px #888888, 0px 3px 0px #777777, 0px 4px 0px #666666, 0px 5px 0px #555555, 0px 6px 0px #444444, 0px 7px 0px $darkgray, 0px 8px 7px #001135;
}

to {
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    bottom:0;
    bottom:0;
    right: 100%;
    right: 100%;
}

.bounce {
    -webkit-animation: bounce 10s linear 0 infinite;
    animation: bounce 10s linear 0s infinite;
}


