/**
 * Error pages
 */

.error-message {
    height: 130px ;
    left: 50%;
    margin-left: -250px;
    margin-top: -175px;
    padding: 2em;
    position:absolute;
    top: 50%;
    width: 500px;
    z-index: 1;
}

.error-text {
    background-color: $greenSea;
    border-color: $turquoise;
    border-color: rgba($turquoise, 0.6);
    color: $deprecated-gray2;
    font-family: $font-family;
    font-size: 1.5em;
    padding: 1em;
    text-shadow: none;
    text-transform: none;
    a {
        color: $amethyst;
    }

}


.error-bg {
    background-color: $deprecated-gray1;
}

.bg-text {
    box-sizing: border-box;
    color: $white;
    display: block;
    font-size: 12em;
    font-weight: bold;
    padding: 10px;
    position:absolute;
    text-align: center;
    text-shadow: 0px 1px 0px $deprecated-gray13, 0px 2px 0px $deprecated-gray14, 0px 3px 0px $deprecated-gray10, 0px 4px 0px $deprecated-gray15, 0px 5px 0px $deprecated-gray16, 0px 6px 0px $deprecated-gray17, 0px 7px 0px $darkgray, 0px 8px 7px $deprecated-color4;
}

to {
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    bottom:0;
    bottom:0;
    right: 100%;
    right: 100%;
}

.bounce {
    -webkit-animation: bounce 10s linear 0 infinite;
    animation: bounce 10s linear 0s infinite;
}


.error-bg {
    background-color: $deprecated-gray1;
}

.bg-text {
    box-sizing: border-box;
    color: $white;
    display: block;
    font-size: 12em;
    font-weight: bold;
    padding: 10px;
    position:absolute;
    text-align: center;
    text-shadow: 0px 1px 0px $deprecated-gray13, 0px 2px 0px $deprecated-gray14, 0px 3px 0px $deprecated-gray10, 0px 4px 0px $deprecated-gray15, 0px 5px 0px $deprecated-gray16, 0px 6px 0px $deprecated-gray17, 0px 7px 0px $darkgray, 0px 8px 7px $deprecated-color4;
}

to {
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    bottom:0;
    bottom:0;
    right: 100%;
    right: 100%;
}

.bounce {
    -webkit-animation: bounce 10s linear 0 infinite;
    animation: bounce 10s linear 0s infinite;
}


