.favourites {
    position: absolute;
    right: 10px;
    top: 70px;
    width: 350px;
    background: rgba($white, 1);
    padding: 15px;
    font-size: 0.9em;
    transition: .3s ease;

    input {
        width: 100%;
        padding: 5px;
    }

    table {
        margin-bottom: 0;
    }

    &:after, &:before {
      bottom: 100%;
      top: -20px;
      left: 180px;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    &:after {
      border-color: rgba(255, 255, 255, 0.0);
      border-bottom-color: rgba(255, 255, 255, 1);
      border-width: 10px;
      margin-left: -10px;
    }
    &:before {
      border-color: rgba(255, 255, 255, 0.0);
      border-bottom-color: rgba(255, 255, 255, 1);
      border-width: 12px;
      margin-left: -12px;
    }

    .favourites-show {
        max-height: 400px;
        overflow-y: auto;
    }
}

table.table-no-borders {
    tr td {
        border: none;
    }
}
