/*
 * d3 css stuff
 */

.graph-svg-wrapper > span {
  position: absolute;
  padding: 10px;
  color: $bargrey;
}

.plot {
    fill: rgba(250, 250, 255, 0);
}

.axis path, .axis line {
    fill: none;
    stroke: $silver;
    shape-rendering: crispEdges;
    stroke-width: 2;
}

.axis line {
    display: none;
}

.line {
    fill: $greensea;
    stroke: $greensea;
    stroke-width: 1px;
}

.title {
    font-size: 1.5em;
}

.axis {
  fill: none;
  stroke: darkgray;
  stroke-width: 1;
  shape-rendering: crispEdges;
}

rect {
fill: $bargrey;
}

#listeners {
  opacity: 0;
}

rect.bar {
  stroke: white;
  fill: $bargrey;
}

rect.bar.selected {
  fill: $pomegranate;
}

.tooltip-background {
  stroke-width: 0;
  fill: rgba(255, 255, 255, 0.8);
}

.bar-timeline {
  fill: $bargrey;
  stroke-width: 1;
  fill-opacity: 1;
  stroke: white;
}

.tickmark {
  fill: $midnightblue;
  stroke-width: 1;
  fill-opacity: 1;
  stroke: $midnightblue;
}

.y1.axis  text {
  fill: crimson;
  stroke: none;
  font-size: 0.8em;
}

text, axis text {
  fill: $bargrey;
  stroke: none;
  font-size: 13px;
}

.graph-text {
  fill: $silver;
  stroke: none;
  font-size: 13px;
}

.interaction-group {
  fill: $midnightblue;
  stroke: $midnightblue;
  stroke-width: 2px;
  stroke-dasharray: 8, 4;

}

text.d3tooltip {
      position: absolute;
      width: 100px;
      height: 20px;
      line-height: 20px;
      padding: 10px;
      font-size: 14px;
      text-align: center;
      color: rgb(113, 157, 171);
      background: rgb(255, 255, 255);
      border: 4px solid rgb(255, 255, 255);
      border-radius: 5px;
      text-shadow: rgba(0, 0, 0, 0.1) 1px 1px 1px;
      box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 2px 0px;
}

text.d3tooltip:after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-width: 10px;
      border-style: solid;
      border-color: #FFFFFF transparent transparent transparent;
      top: 44px;
      left: 50px;
}

.donut-underline {
  width: 195px;
  height: 1px;
  background-color: #222;
  float: right;
  opacity: 0.0;
}

.donut-underline-top {
  margin-top: -150px;
}

.donut-underline-bottom {
  margin-top: -35px;
}

.percentage-container {
  width: 185px;
  height: 90px;
  float: right;
  margin-top: -136px;
  opacity: 0.0;
  text-align: center;
  color: $asbestos;
  font-weight: 800;
  font-size: 40px;
  padding-top: 15px;
}

.donut-title-text {
  text-anchor: middle;
  fill: $asbestos;
  font-size: 14px;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

.donutGraph {
  margin-bottom: 15px;
}

.xyGraph {
  margin-bottom: -10px;
}
