/*
 * d3 css stuff
 */

.graph-svg-wrapper > span {
  position: absolute;
  padding: 10px;
  color: $concrete;
}

svg {
  @include cross-browser(user-select, none);
}

.plot {
    fill: $deprecated-gray18;
    fill-opacity: 0;
}

.axis path, .axis line {
    fill: none;
    stroke: $silver;
    shape-rendering: crispEdges;
    stroke-width: 2;
}

.y-axis {
  g line {
    stroke-width: 1px;
    stroke-dasharray: 1;
  }
  path {
    display: none;
  }
}

.line {
  fill: none;
  stroke: $greenSea;
  stroke-width: 2px;
}

.thresholds line {
  stroke: $asbestos;
  stroke-dasharray: 4, 4;
  stroke-width: 2px;

}

.interpolation-line {
  fill: none;
  stroke: $asbestos;
  stroke-width: 4px;
  stroke-dasharray: 10,10;
}

.point {
  stroke: $asbestos;
  stroke-width: 2px;
  fill: $concrete;
}

.title {
    font-size: 1.5em;
}

.axis {
  fill: none;
  stroke: $deprecated-gray8;
  stroke-width: 1;
  shape-rendering: crispEdges;
}

rect {
    fill: $concrete;
}

.click-axis {
  fill: transparent;
}

#listeners {
  opacity: 0;
}

rect.bar {
  stroke: $white;
  fill: $concrete;
}

rect.bar.selected {
  fill: $pomegranate;
}

rect.valuebox {
  fill: white;
  stroke: $concrete;
  stroke-width: 1;
}

.tooltip-background {
  stroke-width: 0;
  fill: $white;
  fill-opacity: 0.8;
}

.bar-timeline {
  fill: $concrete;
  stroke-width: 1;
  fill-opacity: 1;
  stroke: $white;
}

.tickmark {
  fill: $midnightblue;
  stroke-width: 1;
  fill-opacity: 1;
  stroke: $midnightblue;
}

.y1.axis  text {
  fill: $deprecated-color5;
  stroke: none;
  font-size: 0.8em;
}

text, axis text {
  fill: $concrete;
  stroke: none;
  font-size: 13px;
}

.valuebox rect {
  fill: $white;
  stroke: $silver;
  stroke-width: 0.5;
  stroke-dasharray: none;
}

.graph-text {
  fill: $silver;
  stroke: none;
  font-size: 13px;
}

.interaction-group {
  fill: $midnightblue;
  stroke: $midnightblue;
  stroke-width: 2px;
  stroke-dasharray: 8, 4;

}

text.d3tooltip {
      position: absolute;
      width: 100px;
      height: 20px;
      line-height: 20px;
      padding: 10px;
      font-size: 14px;
      text-align: center;
      color: $deprecated-color6;
      background: $white;
      border: 4px solid $white;
      border-radius: 5px;
      text-shadow: rgba($black, 0.1) 1px 1px 1px;
      box-shadow: rgba($black, 0.1) 1px 1px 2px 0px;
}

text.d3tooltip:after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-width: 10px;
      border-style: solid;
      border-color: $white transparent transparent transparent;
      top: 44px;
      left: 50px;
}

.donut-underline {
  width: 195px;
  height: 1px;
  background-color: $deprecated-gray11;
  float: right;
  opacity: 0.0;
}

.donut-underline-top {
  margin-top: -150px;
}

.donut-underline-bottom {
  margin-top: -35px;
}

.percentage-container {
  width: 185px;
  height: 90px;
  float: right;
  margin-top: -136px;
  opacity: 0.0;
  text-align: center;
  color: $asbestos;
  font-weight: 800;
  font-size: 40px;
  padding-top: 15px;
}

.donut-title-text {
  text-anchor: middle;
  fill: $asbestos;
  font-size: 14px;
  font-family: $font-family;
}

.donutGraph {
  margin-bottom: 15px;
}

.xyGraph {
  margin-bottom: -10px;
}
