/**
 * Layer switcher layout
 */

%layer-wrapper-base {
    position: absolute;
    top: 150px;
    background-color: rgba($white, 0.9);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    transition: .3s ease;
}
.layer-switcher-wrapper {
    @extend %layer-wrapper-base;
    width: 250px;
    right: -200px;
}
.layer-adder-wrapper {
    @extend %layer-wrapper-base;
    width: 550px;
    right: -500px;
}

.slide-left {
    right: 0;
}

%layer-base {
    float: right;
    min-height: 300px;
    max-height: 600px;
    overflow-y: auto;
    padding: 15px 0 15px 15px;
    background: $clouds;
    color: $asbestos;
    list-style-type: none;
}

.layer-adder {
    @extend %layer-base;
    width: 500px;
    right: -550px;  // Necessary to make the resizing animation smooth.

    input {
        width: 100%;
        border: none;
        height: 40px;
        padding: 0 10px;
    }

    table tbody tr {
        td:last-child {
            text-align: left;
        }

        &:hover {
            @include material-shadow-hover();
        }
    }

    .go-back {
        display: block;
        font-size: 0.87em;
        margin-top: -15px;
        margin-bottom: 10px;
        text-align: center;
        padding: 8px;
        text-transform: uppercase;
    }
}

.layer-switcher {
    @extend %layer-base;
    width: 200px;
    right: -250px;  // Necessary to make the resizing animation smooth.

    .layer-item {
        display: block;
        width: $width19;
        position: relative;
        margin-bottom: 0;
        padding: 8px;
        border: 2px solid transparent;
        line-height: 1;
        transition: .3s ease;
        cursor: pointer;
        color: $asbestos;

        span {
            // To improve text on background color readability.
            // Note that this won't work in IE!
            mix-blend-mode: difference;
        }

        .layer-chooser-tools {
          position: absolute;
          right: 0;
          top: 0;
        }

        i {
            float: right;
            right: 0;
            top: 0;
            bottom: 0;
            padding: 8px;
            background: rgba($clouds, 0.6);
            transition: .3s ease;

            &:hover {
                color: $pomegranate;
            }
        }

        &:hover, &.active {
            border-color: $asbestos;
        }

        &.add-data {
            border: 1px dashed $asbestos;
            border-right: 0;

            &:hover {
                border-style: solid;
            }

            i {
                background: none;
                &:hover {
                    color: $asbestos;
                }
            }
        }

        &.count {
            color: $pomegranate;
        }
    }
    ul li {
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        -webkit-user-select: none;
        list-style-type: none;
        user-select: none;
    }
}

.eventLGIndicator {
    width: 40%;
    height: 100%;
    background-color: $black; /* is set dynamically */
    float: right;
}

.need-bottom-margin {
    margin-bottom: 10px;
}
