/*
 * Layout and global stuff..
 * needs some refactoring
 */


@font-face {
    font-family: "Kunstwerk";
    src: url("../font/Kunstwerk Regular.ttf") format('truetype');
}

font-face {
    font-family: "Kunstwerk";
    src: url("../font/Kunstwerk Regular.ttf") format('truetype');
}

html {
    height: $height9;
    margin: 0;
    overflow:hidden;
    width: $width19;
}

body {
    font-family: $font-family;
    height: $height9;
    margin: 0;
    overflow:hidden;
    width: $width19;
}


.map {
    height: $height9;
    height: 100%;
    position: absolute;
    width: $width19;
}

.container-fluid {
    padding: 0;
}

.clickObj {
    -moz-animation: grow .6s linear forwards;
    -ms-animation: grow .6s linear forwards;
    -o-animation: grow .6s linear forwards;
    -webkit-animation: grow .6s linear forwards;
    -webkit-transform-origin: 0 0;
    animation: grow .6s linear forwards;
    background: white;
    border-radius: 50%;
    height:2$height19;
    margin-left: -2.5px;
    margin-top: -2.5px;
    transform-origin: 0 0;
    width:2$width22;
}

#context-transition-overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0;
    background-color: white;
    opacity: 0.7;
}

i {
    text-decoration:none !important;
}

a {
    color: $belize-hole;
    &:link {
        text-decoration:none !important;
    }

    &:visited {
        text-decoration:none !important;
    }

    &:hover {
        text-decoration:none !important;
    }

    &:active {
        text-decoration:none !important;
    }

}

@keyframes {
    grow {
        0% { width: $width22;
            height: $height19;
            margin-left: -2.5px;
            margin-top: -2.5px;
        }

    }
        bounce {
            animation-timing-function: ease-out;
            from { -webkit-animation-timing-function: ease-out;
                right: 0;
            }


        50% {
            bottom: 90%;
            bottom: 90%;
            height: $height16;
            height: $height16;
            height: $height16;
            margin-left: -7.5px;
            margin-left: -7.5px;
            margin-left: -7.5px;
            margin-top:-7.5px;
            margin-top:-7.5px;
            margin-top:-7.5px;
            opacity: 1;
            opacity: 1;
            opacity: 1;
            width: $width16;
            width: $width16;
            width: $width16;
        }

        100% {
            height: $height11;
            height: $height11;
            height: $height11;
            margin-left: -25px;
            margin-left: -25px;
            margin-left: -25px;
            margin-top:-25px;
            margin-top:-25px;
            margin-top:-25px;
            opacity: 0;
            opacity: 0;
            opacity: 0;
            width: $width21;
            width: $width21;
            width: $width21;
        }
    }
}

@-webkit-keyframes {
    grow {
        0% { width: $width22;
            height: $height19;
            margin-left: -2.5px;
            margin-top: -2.5px;
        }

        bounce {
            from { -webkit-animation-timing-function: ease-out;
                right: 0;
            }

        }
    }
}

@-ms-keyframes {
    grow {
        0% { width: $width22;
            height: $height19;
            margin-left: -2.5px;
            margin-top: -2.5px;
        }

    }
}




.list-group {
    margin-bottom: 0;
    label {
        font-weight: normal;
    }

}


/* Bootstrap Overrides for progress bar */

.progress {
    height: 10px;
    margin: 0 0 10px 0;
    z-index: 100;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    -o-transition: .3s ease;
    -ms-transition: .3s ease;
    -moz-transition: .3s ease;
    -webkit-transition: .3s ease;
}

.inactive {
    height: $height20;
    transition: .3s ease;
}


.progress-bar {
    -ms-box-shadow: none;
    -o-box-shadow: none;
    background-color: $turquoise;
    box-shadow: none;
}

ul.list-inline {
    li.baselayer-icon {
        border: 2px solid $pomegranate;
        height:$height11;
        margin:4px;
        overflow:hidden;
        padding:4px;
        position:relative;
        width:$width21;
        span {
            bottom: 0;
            color: $white;
            font-size: 10px;
            position: absolute;
        }

        label {
            display:none;
        }

    }

    li.baselayer-icon#Topografie {
    }

    li.baselayer-icon#Satelliet {
    }

    li.baselayer-icon#Hoogtekaart {
    }

    li.baselayer-icon.active {
        border: 2px solid red;
    }

}


.fa-road {
    left: 1px;
    top: 3px;
}

.tooltip {
    position: fixed;
}


.info-text {
    margin-left: 0.5em;
}

#content {
    height: $height9;
    position: absolute;
    top: 50px;
    width: $width19;
}

.spacer {
    margin-bottom: 1em;
}

.control {
    margin: 0 15px;
}

.btn-load {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    width: 90%;
}

.btn-schlider {
    height: $height8;
    width: 150%;
}

.btn-disturbance {
    width: $width17;
}

.map-crosshair {
    cursor: crosshair;
}

.non-btn {
    height: $height8;
    padding: 1em;
}

.non-btn-group {
    display: inline-block;
    margin-top: 3px;
    position: relative;
    vertical-align: middle;
}

.btn-xss {
    border: 0;
    font-size: 16px;
    line-height: 1.1;
    padding: 1px 4px;
}

header {
    color: rgb(255,255,255);
    font-size: 18px;
    height: $height11;
    left: 0;
    right: 0;
    top: 0;
    z-index: 2000;
}


.third-width-td {
    width: 33.3%;
}


.circle {
    cursor: pointer;
}

.clickable {
    cursor: pointer;
}

img {
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    image-rendering: optimizeSpeed;
}

::-webkit-input-placeholder {
    color: $asbestos;
}

:-moz-placeholder {
    color: $asbestos;
}

::-moz-placeholder {
    color: $asbestos;
}
.dummy-attr-value {
    color: #bdc3c7;
}

.crosshair {
    cursor: crosshair;
}

.slide-left {
    right: 0;
}

.icon-time {
    right: 20px;
    top: -0px;
}

.zoomto-icon {
    cursor: pointer;
    font-size: 16px;
    font-size: 18px;
    margin-right: 5px;
    margin-top: 6px;
    opacity: 1;
    transition: .2s;
    &:hover {
        color: $pomegranate;
    }

    &:active {
        color: $pomegranate;
    }

}

.icon-active {
    color: $pomegranate;
}

.visible {
    opacity: 1;
    transition-delay: .8s;
    visibility: visible;
}

