/**
 * Leaflet overrides.
 */

.leaflet-overlay-pane {
    svg {
        z-index: 1000;
    }

}

.leaflet-div-icon {
    background: none;
    border: none;
}


.leaflet-control-zoom {
    box-shadow: 0 0 0 $black;
    display: inline-block;
    left: 472px;
    position: relative;
}

.leaflet-bar {
    a {
        &:last-child {
            -moz-user-select: none;
            -ms-user-select: none;
            -webkit-user-select: none;
            border-bottom-right-radius: 2px;
            border-bottom: 0;
            border-left: 1px solid $white;
            border-radius: 0;
            border-top-right-radius: 2px;
            height: $height14;
            height: $height14;
            left: -4px;
            line-height: $height14;
            line-height: $height14;
            position: absolute;
            user-select: none;
            width: $width12;
        }

        &:first-child {
            -moz-user-select: none;
            -ms-user-select: none;
            -webkit-user-select: none;
            border-bottom: 0;
            border-left: 1px solid $white;
            border-radius: 0;
            height: $height14;
            left: -38px;
            line-height: $height14;
            position: absolute;
            user-select: none;
            width: $width12;
        }

    }

}

.leaflet-container {
    background: #efefef;
    a {
        background-color: $greensea;
        color: $white;
        &:hover {
            background-color: $turquoise;
            color: $white;
        }

    }

    img.leaflet-image-layer {
        -webkit-filter: contrast(200%);
        filter: contrast(200%);
        max-width: none !important;
    }

}


.marker-cluster {
  background-clip: padding-box;
  border-radius: 20px;

  opacity: 0; /* parent gets fully transparent */
  }
.marker-cluster div {
  color: white;
  width: 30px;
  height: 30px;
  margin-left: 5px;
  margin-top: 5px;

  text-align: center;
  border-radius: 15px;
  font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;

  opacity: 1; /* child becomes fully non-transparent; */
  border: 4px solid; /* child gets border; */
  }
.marker-cluster span {
  line-height: 28px;
  }

.leaflet-cluster-anim .leaflet-marker-icon, .leaflet-cluster-anim .leaflet-marker-shadow {
  -webkit-transition: -webkit-transform 0.3s ease-out, opacity 0.3s ease-in;
  -moz-transition: -moz-transform 0.3s ease-out, opacity 0.3s ease-in;
  -o-transition: -o-transform 0.3s ease-out, opacity 0.3s ease-in;
  transition: transform 0.3s ease-out, opacity 0.3s ease-in;
  }
