
// lizard apps stuff
.lizard-apps-button {
  color: $white;

  ul.dropdown-menu {
      border-radius: 0;
  }
  svg {
    margin-right: 0.25em;
    margin-top: 0.1em;
    width: 11px;
    fill: white;
  }
}

.lizard-apps-container {
  position: absolute;
  top: 60px;
  max-width: 300px;
  color: black;
  background: rgba(255, 255, 255, 1);
}

.lizard-apps {
  width: 100%;
  position: relative;
  background: rgba(255, 255, 255, 1);
  border: 0px solid rgba(255, 255, 255, 1);

  &:after, &:before {
    top: -20px;
    bottom: 100%;
    left: 40px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  &:after {
    border-color: rgba(255, 255, 255, 0.0);
    border-bottom-color: rgba(255, 255, 255, 1);
    border-width: 10px;
    margin-left: -10px;
  }
  &:before {
    border-color: rgba(255, 255, 255, 0.0);
    border-bottom-color: rgba(255, 255, 255, 1);
    border-width: 12px;
    margin-left: -12px;
  }

  .lizard-apps-icon {
    float: left;
    > a {
      // padding: 10px;
      @include center-block();
      width: 100px;
      height: 100px;
      text-align: center;
      &:hover {
        @include material-shadow();
      }

      img {
        border: solid transparent;
        border-radius: 10px;
        max-width: 100%;
        max-height: 100%;
      }
      span {
        display: none;
      }
    }
  }
}
