/**
 * Navigation layout
 */

nav.navbar {
    float: right;
    margin: 0;
    border: none;
    border-radius: 0;
    color: $white;
    width: 100% !important;

    .navbar-header {
        background: none;
        margin: 0 -15px;
    }

    .navbar-collapse {
        margin: 0 -15px;
        @include material-shadow();
        &:hover {
            @include material-shadow-hover();
        }
    }

    &.navbar-default {
        background-color: transparent;

        .navbar-header .navbar-toggle {
            background-color: $white;
        }

        .navbar-collapse {
            border: none;
            background-color: $greenSea;
        }

        .navbar-nav {
            > li > a {
                color: $white;
                &:hover {
                    background-color: $turquoise;
                    @include material-shadow-hover();
                }
            }
            > li.open > a {
                color: $white;
                background-color: $turquoise;
            }
        }
    }

    i {
        margin-right: 0.25em;
    }
    ul.dropdown-menu {
        border-radius: 0;
    }
}

.navbar-right {
  margin-right: 0 !important;
}

// Apparently Bootstrap expects a navbar-header on the left side
.navbar-nav.navbar-left:first-child {
    margin-left: -15px;
}

// This can be changed in Bootstrap variables
$grid-float-breakpoint-max: 768px;
@media (max-width: $grid-float-breakpoint-max) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: $white;
    }
}

.badge-notify{
   background: $alizarin;
   position: relative;
   top: -15px;
   left: -32px;
}

.user-name {
  margin-left: -10px;
}
