/**
 * Navigation layout
 */

.user-menu-wrapper {
    position: absolute;
    height: 50px;
    right: 0;
    top: 0;
    margin-right: 6px;
    text-align: center;

    i.fa {
        font-size: 1.2em;
    }

    a {
        color: $midnightblue;
        float: right;
        padding: 15px;
    }

    .logout {
        &:hover {
           color: $alizarin;
        }
    }
}

.user-menu nav {
    position: absolute;
    right: 213px;
    top: 3px;

    i.fa {
        font-size: 1.2em;
    }

    a {
        width: 30px;
        height: 30px;
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.7);
        display: inline-block;
        border-radius: 35px;
        text-align: center;
        padding: 6px;
        margin: 6px;
        @include cross-browser(transition, .3s);

        i {
            color: #2c3e50;
            top: 7px;
            left: 10px;
        }

        /*&:hover {*/
            /*@include cross-browser(transform, rotate(360deg));*/
        /*}*/
    }

}

#username {
    overflow: hidden;
    text-align: left;
    width: 120px;
    text-overflow: ellipsis;
    white-space: nowrap;

    span {
        padding-left: $width23;
    }
}
