/**
 * Navigation layout
 */

@media (min-width: 767px)
    {
        .navbar-nav.navbar-right:last-child {
            margin-right: 0px !important;
        }

    }


.navbar {
    border: none !important;
    font-size: 14px !important;
    .nav > li > .inactive {
        color: #D9D9D6;
    }

    .nav > li > a.active {
        color: $pomegranate;
        cursor: default;
    }

    .divider-vertical {
        border-left: 1px solid $greenseaish;
        border-right: 1px solid $greenseaish;
        height: $height12;
        margin: 0;
    }

    .nav > li > a {
        color: $midnightblue;
        float: none;
        text-decoration: none;
        transition:.3s;
        &:hover {
            color: $midnightblue;
            text-decoration: none;
        }

    }

    .nav > li > a.logout {
        &:hover {
            color: $alizarin;
            text-decoration: none;
        }

    }

}

.navbar-header {
    width: $width6;
}

.navbar-brand {
    background: url('../images/logo_text.png') no-repeat scroll 12px 8px;
    height: $navbarheight;
    width: 90px;
    span {
        display: none;
    }

}

.lizard-icon {
    font-size: 2em;
    position: relative;
    top: 10px;
}


.navbar-version, .navbar-version:link, .navbar-version:active, .navbar-version:visited  {
    color: white;
    cursor: pointer;
    font-size: 8pt;
    margin-top: 29px;
    position: absolute;
}

.navbar-toggle {
    background-color: rgba(22, 160, 133, 1.0) !important;
    border: none !important;
}

.navbar-inverse {
    position: absolute;
    /*left: -40px;*/
    /*width: 240px;*/
    /*top: -50px;*/
    background-color: rgba(255,255,255,0);
    .navbar-toggle {
        background-color: rgba(22, 160, 133, 1.0) !important;
        border: none !important;
        &:hover {
            background-color: rgba(22, 160, 133, 1.0) !important;
            border: none !important;
        }

    }

    .navbar-collapse {
        border: none !important;
    }

    .navbar-form {
        border: none !important;
    }

}

#username {
    float: none !important;
    float: right;
    font-size: 14px;
    margin-left: 7px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100px;
    padding: 2px;

    span {
        padding-left: $width23;
    }
}

.user {
    display: inline-block;
    height: $height11;
    transform: translateZ(0);
    position:relative;
    text-shadow: 0 0 2px $white, 1px 0 2px $white, -1px 0 2px $white;;
}

.navbar-collapse {
    padding-right: 0px !important;
}


.navbar-version {
    display: none;
    left: 92px;
    position: absolute;
}

