/**
 * Navigation layout
 */

nav.navbar {
    @include material-shadow();
    float: right;
    margin: 10px;
    border: none;
    border-radius: 0;
    background-color: $greenSea;
    color: $white;

    &:hover {
        @include material-shadow-hover();
    }

    &.navbar-default .navbar-nav {
        > li > a {
            color: $white;
            &:hover {
                background-color: $turquoise;
                @include material-shadow-hover();
            }
        }
        > li.open > a {
            color: $white;
            background-color: $turquoise;
        }
    }
    i {
        margin-right: 0.25em;
    }
    ul.dropdown-menu {
        border-radius: 0;
    }
}

// Apparently Bootstrap expects a navbar-header on the left side
.navbar-nav.navbar-left:first-child {
    margin-left: -15px;
}

// This can be changed in Bootstrap variables
$grid-float-breakpoint-max: 768px;
@media (max-width: $grid-float-breakpoint-max) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: $white;
    }
}

// lizard apps stuff
.lizard-apps-button {
  width: 20px;
  fill: white;
}
