
$notie-color-success: $midnightBlue;
$notie-color-warning: $carrot;
$notie-color-error: $pumpkin;
$notie-color-info: $greenSea;
$notie-color-neutral: $clouds;
$notie-color-text: $clouds;
$notie-color-background: white;
