/*
 * Omnibox style definition
 */
#omnibox {
    position: absolute;
    width: 400px;
    left: 0;
    margin: 10px;
    transition: left 0.5s;

    .animate-repeat {
      list-style:none;
      box-sizing:border-box;
    }

    .animate-repeat.ng-enter,
    .animate-repeat.ng-leave,
    .animate-repeat.ng-move {
        -webkit-transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
        -moz-transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
        -ms-transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
        -o-transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
        transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
        position: relative;
        display: block;
    }

    .animate-repeat.ng-leave.ng-leave-active,
    .animate-repeat.ng-move,
    .animate-repeat.ng-enter {
      opacity:0;
      max-height:0;
    }

    .animate-repeat.ng-leave,
    .animate-repeat.ng-move.ng-move-active,
    .animate-repeat.ng-enter.ng-enter-active {
      opacity:1;
      max-height:40px;
    }
}

#rap-card {
    outline: none;
}

.card-attributes {
  margin-top: -8px;
  padding-top: 8px;
  padding-bottom: 1px;
}

.card table i[class*='icon-'] {
    position: relative;
    top: -1px;
    font-size: 1em;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {

   /* this is for the area aggregation */
   .card table i[class*='icon-'] {
       top: 7px;
   }
}

.card .sm-icon i[class*='icon-'] {
    font-size: 1em;
}

.card .flip-button, .card .flip-button a {
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: $deprecated-gray7;
}
.card .flip-button a:hover{
    color: $deprecated-gray9;
}

.card table, .card-events {
    table-layout: fixed;
    margin: 6px 0 6px 11px;
    line-height: 15px;
    font-size: 0.9em;
    list-style: none;
    color: $deprecated-gray10;
    max-width: 370px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &.show-full-text {
        white-space: normal;
    }
}

.card table.fullwidth{
    line-height: 15px;
    font-size: 0.9em;
    list-style: none;
    width: 100%;
    margin-left: 37px;
    color: $deprecated-gray10;
    margin-bottom: 16px;
}

.card .actions {
    padding: 10px 10px 0 0;
    position: absolute;
    right: 0;
    top: 0;
}

.card .actions ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.card .actions ul li a {
    cursor: pointer;
    color: $deprecated-gray7;
}

.card .actions ul li a:hover {
    color: $deprecated-gray9;
}

.card .nxt-box-overflow {
    overflow: auto;
}

.location {
    padding: 10px;
    width:400px;
    white-space:nowrap;
    text-overflow:ellipsis;
    font-size: .9em;
}

.carousel {
  min-height: 50px;
  overflow: hidden;
}

.carousel-control {
  background-image: none !important;
}

.location:focus {
    background-color: $deprecated-gray12 !important;
    outline: 0;
    outline: thin dotted \9;
    font-weight: bold;
}
.location:focus > i {
    color: $deprecated-color7 !important;
}

.card .location ul {
    list-style:none;padding:0;margin:0;
}

.card .location ul li {
    border-bottom:1px solid $deprecated-gray5;
    padding:0;
    margin:0;
}

.card .location ul li ul {
    list-style:none;
    padding:0;
    margin:0;
}

.card .location ul li ul li {
    display:inline;
}

.card .location table {
    margin:8px 0 0 0;
}

.card .location table tr td{
    padding-left:20px;
}

.clickable{
    cursor: pointer;
}

#cards {
  position: relative;
  width: 415px;
  margin-top: 5px;
  outline: none;
  background: none;
  opacity: 1;
  transition: all 200ms cubic-bezier(0.52,0,0.48,1);
  clip: rect(0px,400px,1000px,0px);
}

/*
  Overwrites for custom omnibox scroll bar. The preferred way would be to
  overwrite the sass files before compilation, but we use compiled css of vendor
  packages. Hence, this error prone list.
 */
.ps-container.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail {
  background-color: $clouds;
}
.ps-container.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail > .ps-scrollbar-x {
  background-color: $concrete;
}
.ps-container.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail {
  background-color: $clouds;
}
.ps-container.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  background-color: $concrete;
}
.ps-container > .ps-scrollbar-x-rail > .ps-scrollbar-x {
  background-color: $silver;
}
.ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  background-color: $silver;
}
.ps-container:hover.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail {
  background-color: $clouds;
}
.ps-container:hover.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail > .ps-scrollbar-x {
  background-color: $concrete;
}
.ps-container:hover.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail {
  background-color: $clouds;
}
.ps-container:hover.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  background-color: $concrete;
}
.ps-container:hover > .ps-scrollbar-x-rail:hover {
  background-color: $clouds;
}
.ps-container:hover > .ps-scrollbar-x-rail:hover > .ps-scrollbar-x {
  background-color: $concrete;
}
.ps-container:hover > .ps-scrollbar-y-rail:hover {
  background-color: $clouds;
}
.ps-container:hover > .ps-scrollbar-y-rail:hover > .ps-scrollbar-y {
  background-color: $concrete;
}

.draggable-ts {
  user-select: none;
}

.nav a {
    color: $deprecated-color1;
}

.tab-content {
    margin: 20px;
}

.gridStyle {
    border: 1px solid $deprecated-gray6;
    width: 400px;
    height: 300px
}

.ui-match {
    background: $deprecated-color2;
}

/**
 * iOS 6 style switch checkboxes
 * by Lea Verou http://lea.verou.me
 */

:root input[type="checkbox"].ios-switch + div {
    display: inline-block;
    vertical-align: middle;
    width: 3em; height: 1em;
    border: 1px solid $black;
    border: 1px solid rgba($black, 0.3);
    border-radius: 999px;
    margin: 0 .5em;
    background: $white;
    background-image: linear-gradient(rgba($black, 0.1), transparent),
                      linear-gradient(90deg, hsl(210, 90%, 60%) 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
    background-origin: border-box;
    background-clip: border-box;
    overflow: hidden;
    transition-duration: .4s;
    transition-property: padding, width, background-position, text-indent;
    box-shadow: 0 .1em .1em rgba($black, 0.2) inset,
                0 .45em 0 .1em rgba($black, 0.05) inset;
    font-size: 150%; /* change this and see how they adjust! */
}

:root input[type="checkbox"].ios-switch:checked + div {
    padding-left: 2em;
    width: 1em;
    background-position: 0 0;
}

:root input[type="checkbox"].ios-switch + div:before {
    content: 'On';
    float: left;
    width: 1.65em;
    height: 1.65em;
    margin: -.1em;
    border: 1px solid $black;
    border: 1px solid rgba($black, 0.35);
    border-radius: inherit;
    background: $white;
    background-image: linear-gradient(rgba($black, 0.2), transparent);
    box-shadow: 0 .1em .1em .1em rgba($white, 0.8) inset,
                0 0 .5em rgba($black, 0.3);
    color: $white;
    text-shadow: 0 -1px 1px rgba($black, 0.3);
    text-indent: -2.5em;
}

:root input[type="checkbox"].ios-switch:active + div:before {
    background-color: $deprecated-gray5;
}

:root input[type="checkbox"].ios-switch:focus + div {
    box-shadow: 0 .1em .1em rgba($black, 0.2) inset,
                0 .45em 0 .1em rgba($black, 0.05) inset,
                0 0 .4em 1px rgba($deprecated-color8, 0.5);
}

:root input[type="checkbox"].ios-switch + div:before,
:root input[type="checkbox"].ios-switch + div:after {
    font: bold 60%/1.9 'Roboto', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}

:root input[type="checkbox"].ios-switch + div:after {
    content: 'Off';
    float: left;
    text-indent: .5em;
    color: $black;
    color: rgba($black, 0.45);
    text-shadow: none;

}

#box-awesome {
    position: fixed;
    z-index: 2000;
    top: 54px;
    left: 50px;
}

#box-awesome-search {
    position: relative;
    width: 400px;
    height: 28px;
}

#box-awesome-search input {
    padding-left: 10px !important;
    font-size: 1em;
    font-family: $font-family !important;
    padding-right: 0;
    width: 100%;
    outline: 0;
    border: 0;
    border-radius: 0;
    box-shadow: 0 2px 6px rgba($black, 0.3),0 4px 15px -5px rgba($black,0.0);
    transition: all 200ms cubic-bezier(0.52,0,0.48,1);
}

#box-awesome-search button {
    position: relative;
    top: -35px;
    left: 400px;
    width: 72px;
    height: 27px;
    background-image: linear-gradient(to bottom, $deprecated-color9, $deprecated-color1);
    border: 0;
    border-radius: 0 2px 2px 0;
    box-shadow: 0 2px 6px rgba($black, 0.3);
    color: $white;
}

#box-awesome-inner {
    position: relative;
    top: -5px;
    padding: 1em 2em 3em 2em;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0 2px 6px rgba($black, 0.3), 0 4px 15px -5px transparent;
    background: $white;
}

#box-awesome-results {
    position: relative;
    top: 15px;
    width: 400px;
    height: 150px;
    overflow-x: hidden;
    background-color: $white;
    box-shadow: 0 2px 6px rgba($black, 0.3), 0 4px 15px -5px transparent;
}

#box-awesome-results ul {
    list-style-type: none;
}

#box-awesome-results p {
    margin-top: 10px;
    margin-left: 20px;
}

.card-details {
    cursor: pointer;
}

/* table view messess up float: right */
.table-details-toggler {
    left: -10px;
}

.hidden-details {
    opacity: 0;
    max-height: 0;
    -webkit-transition: .3s ease;
}

.unhidden-details {
    opacity: 1;
    max-height: 460px;
}

.ready-to-rotate {
    -webkit-transition: all .3s ease;
}

.rotate-ninety {
    -webkit-transform: rotate(90deg);
}

.card-details{
    color: $deprecated-gray10;
    font-size: 13px;
}

.streetview {
    margin-left: 38px;
}

.larger-font-card-table {
  font-size: 12px;
  color: $asbestos;
}


#dashboard {
    position: absolute;
    top: 55px !important;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    width: 98%;
    height: 98%;
    background-color: $white;
    opacity: 0.95;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
}
#dashboard.ng-hide {
    opacity: 0;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
}
.ng-hide {
  display: block !important;

  position:absolute;
  top:-9999px;
  left:-9999px;
}

.streetview-img {
  position: relative;
  right: 38px;
  margin-top: 10px;
}

.close-ancestor-card {
  color: $deprecated-gray7;
  float: right;
  position: relative;
  top: -42px;
  left: 5px;
}

.close-ancestor-card:hover {
  color: $deprecated-gray8;
  cursor: pointer;
}

/* Omnibox (from 18 july) */

.card {
  position: relative;
  white-space: normal;
  background: $white;
  background: rgba($white, 0.95);
  border-radius: 2px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index:10;
  width: $omnibox-width;
  top:0px;
  transition: all .2s ease-out;
  -webkit-transition: all .2s ease-out;
  margin-bottom: 5px;
  @include material-shadow();
}

.card:hover {
    @include material-shadow-hover();
}

.card-header {
  position: relative;
  height: 60px;
  width: $omnibox-width;
  top: 50%;
  background-color: $greensea;
}

.card-header-center {
    position: absolute;
    top: 9px;
    width: 390px;
    padding-left: 9px;
    color: $white;
    line-height: 1;

    .icons {
        font-size: 0.8em;
        padding-left: 3px;
        padding-top: 10px;
    }

    .asset-icon {
        top: -4px;
        left: 5px;
        color: $midnightblue;
    }

    .asset-title {
        padding-left: 5px;
        padding-top: 5px;
        font-size: 1em;
    }

    em {
        font-size: 15px;
        padding-left: 40px;
    }
}

.card-content {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  color: $asbestos;

  .card-content-list {
    display: inline-block;
    width: 350px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  i {
    font-size: 15px;
    position: relative;
  }

  .circle {
    margin-top: 2px;
    height: 15px;
    width: 15px;
    border-radius: 10px;
    background-color: $greensea;
  }
}

.card-content-message {
  margin: 8px;
}

.card-content.timeseries {
  margin-bottom: 0;
}

.empty-card-content {
  height: 40px;
  color: $asbestos;
}

.pointer:hover {
  cursor: pointer;
}

.card-tools {
  /* float: right; not sure what's wrong but stuff's weird on staging*/
  position: relative;
  top: -1px;
  z-index: 9999;
  margin-bottom: 5px;
}

.card-tools a.btn-default {
  color: $concrete;
}

.timeseries-header-container {
  display: inline-block;
  width: 100%;
  min-width: 100%;
  /*margin-bottom: 10px;*/
  /*background-color: $deprecated-gray4;*/
  padding-left: 10px;
}

.timeseries-header-container .fa-clock-o,
.timeseries-header-container .fa-file-image-o {
  color: $alizarin;
  font-size: 1.5em;
  top: 2px;
  position: relative;
  left: -5px;
}

.timeseries-header-text {
  width: 20%;
  float: left;
  color: $asbestos;
}

select.timeseries {
  width: 320px;
  position: relative;
}

select.nested-asset {
  width: 300px;
  position: relative;
}

.timeseries-graph-container {
  margin-top: 10px;
}

.card table tr:first-child td {
    border-top: none;
}

.relatified-events-header:hover {
  cursor: pointer;
}

td.lineout {
  color: $asbestos !important;
}

.structure-image-wrapper {
  margin-bottom: 10px;
}

.structure-image {
  max-width: 370px;
  max-height: 247px;
  margin: 5px;
}

.show-structure-attrs-link {
  position: relative;
  text-align: center;
}

.show-structure-attrs-text {
  font-size: 12px;
  cursor: pointer;
  color: $silver;
}

.show-structure-attrs-text:hover {
  color: $asbestos;
}

.table-toggler {
  font-size: 18px;
  color: $silver;
}

.message {
  vertical-align: middle;
  font-size: 0.95em;
  color: $deprecated-gray10;
}

.card .single-row-table {
    max-height: 30px;
    min-height: 30px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.card .single-row-table td,
.card .single-row-table th {
    border: 0 !important;
}


.discrete-raster-color-indicator {

  background-color: $deprecated-color3; /* to be set dynamically */
  border-radius: 2px;
  position: relative;
  width: 46px;
  height: 18px;
}

input[type=file] {
    height: auto;
    transition: 0.7s ease;
    opacity: 1;
    visibility: visible;

    &.ng-hide {
        display: block !important;
        visibility: hidden;
        top: -30px;
        opacity: 0;
    }
}

.btn-link {
    padding: 0;
}
