/*
 * Scenarios style definition
 */

.scenarios-wrapper .row {
    margin-top: 10px;
}

.selected-result {
    font-weight: bold;
}

.table .result-table {
    background-color: rgba(255,255,255,0);
}

.scenarios-table {
    text-align: right;
    table-layout: auto;
    white-space: normal;
}

tr td:first-child {
    text-align: left;
}

.table .result-table > tbody > tr > td {
    border: none;
}

.pagination {
    margin: 0;
}
