/*
 * Scenarios style definition
 */

.scenarios-wrapper .row {
    margin-top: 10px;
}

.selected-scenario {
    font-weight: bold;
}

.table .result-table {
    background-color: rgba(255,255,255,0);
}

.table .result-table > tbody > tr > td {
    border: none;
}
