/*
 * Scenarios style definition
 */

.scenarios-wrapper {
  transition: .3s ease;
  margin-top: $navbarheight;
  padding-left: 10px;
  z-index: 1000;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: $white;
}

.scenarios-table {
    height: 100%;
    max-height: 100%;
    overflow: auto;
    position: absolute;
    right: 0;
}

.scenarios-wrapper .row {
    margin-top: 10px;
}

.selected-scenario {
    font-weight: bold;
}

.table .result-table {
    background-color: rgba(255,255,255,0);
}

.table .result-table > tbody > tr > td {
    border: none;
}
