.searchbox {
    height: 50px;
    margin-bottom: 10px;

    .resize-wrapper {
        overflow: hidden;
    }

    .search-and-close {
        height: 50px;
        width: 100%;
        background: $white;
        background: rgba($white, 0.95);

        input {
            height: 30px;
            width: 100%;
            margin-top: 10px;
            padding: 0 15px;
            background: transparent;
            color: $asbestos;
            border: none;
            &:focus {
                // Remove the border on focus for Webkit/Chrome.
                outline: none;
            }

            &::-webkit-input-speech-button {
                opacity: 0.5;
            }
        }

        .clear-search {
            float: right;
            height: 50px;
            width: 50px;
            background: transparent;
            color: $silver;
            border-radius: 0;
            border: none;

            &:hover {
                color: $asbestos;
            }

            &:after {
                content: '';
                height: 30px;
                border-left: 1px solid $silver;
                position: absolute;
                top: 10px;
                right: 90px;
            }
        }
    }
}

.zoom-buttons {
    float: right;
    height: 50px;
    margin-left: 10px;
    text-align: center;

    button {
        display: block;
        height: 25px;
        width: 30px;
        padding: 0;
        background-color: $greenSea;
        color: $white;
        border: none;
        border-radius: 0;

        &:hover {
            color: $white;
            background-color: $turquoise;
            @include material-shadow-hover();
        }
    }
}

.search-results {
    > h3 {
        background-color: $turquoise;
        font-size: 14px;
        padding: 10px;
        color: $white;
        margin: 0;
    }
    > ul {
        padding: 0;
        margin: 0;

        > li {
            &:hover {
                background-color: $clouds;
            }

            &:last {
                margin-bottom: 5px;
            }
        }
    }
}
