$searchbox-height: 50px;
$searchbox-margins: 10px;
$zoombutton-width: 30px;

.searchbox {
    height: $searchbox-height;
    margin-bottom: $searchbox-margins;

    .resize-wrapper {
        overflow: hidden;
    }

    .search-and-close {
        height: $searchbox-height;
        width: 100%;
        background: $white;
        background: rgba($white, 0.95);

        input {
            height: $searchbox-height - (2 * $searchbox-margins);
            width: 100%;
            margin-top: $searchbox-margins;
            padding: 0 15px;
            background: transparent;
            color: $asbestos;
            border: none;
            &:focus {
                // Remove the border on focus for Webkit/Chrome.
                outline: none;
            }

            &::-webkit-input-speech-button {
                opacity: 0.5;
            }
        }

        .clear-search {
            float: right;
            height: $searchbox-height;
            width: $searchbox-height;
            background: transparent;
            color: $silver;
            border-radius: 0;
            border: none;

            &:hover {
                color: $asbestos;
            }

            &:after {
                content: '';
                height: $searchbox-height - (2 * $searchbox-margins);
                border-left: 1px solid $silver;
                position: absolute;
                // Position absolute sets the the border on the right of the
                // zoom buttons if right=0 (or left of the search bar if
                // left=0). Move it to left of the close button.
                right: $zoombutton-width + $searchbox-margins + $searchbox-height;
                top: $searchbox-margins;
            }
        }
    }
}

.zoom-buttons {
    float: right;
    height: $searchbox-height;
    margin-left: $searchbox-margins;
    text-align: center;

    button {
        display: block;
        height: $searchbox-height / 2;
        width: $zoombutton-width;
        padding: 0;
        background-color: $greenSea;
        color: $white;
        border: none;
        border-radius: 0;

        &:hover, &:active {
            color: $white;
            background-color: $turquoise;
            @include material-shadow-hover();
        }
        &:focus {
            background-color: $greenSea;
        }
    }
}

.search-results {
    > h3 {
        background-color: $turquoise;
        font-size: 14px;
        padding: $searchbox-margins;
        color: $white;
        margin: 0;
    }
    > ul {
        padding: 0;
        margin: 0;

        > li {
            &:hover {
                background-color: $clouds;
            }

            &:last {
                margin-bottom: 5px;
            }
        }
    }
}
