/**
 * Timeline layout
 */

.timeline {
    background-color: rgba(255, 255, 255, 0.9);
    transition:.3s;
    width: $width19;
}

.timeline-svg-wrapper {
    margin-top: 2px;
    svg {
        position: relative;
    }
}

.time-controls {
    bottom: 0;
    float: left;
    margin-bottom: 21px;
    position: absolute;
    z-index: 999;
}

.time-controls-right {
    float: right;
    margin-bottom: 21px;
    margin-left: 15px;
    position: absolute;
    right: 0;
    top: 1px;
    z-index: 999;

    .btn-group-vertical {

        margin: 0px 8px 0 0;

        .btn-xss {
            color: #2c3e50;
            background-color: #fff;
            &:hover {
                color: rgba(127, 140, 141,1.0);
                text-decoration: none;
                background-color: #fff;
            }
        }

    }
}

.time-start-now-end {
    cursor: not-allowed;
    p {
        height: $height8;
        margin: 0;
    }

}

.timeline-button {
    color: rgba(44, 62, 80,1.0);
    cursor: pointer;
    float: none;
    font-size: 35px;
    text-decoration: none;
    text-shadow: none;
    transition:.3s;

    .fa {
        position: relative;
        top: 7px;
    }

    &:hover {
        color: rgba(127, 140, 141,1.0);
        text-decoration: none;
    }

}

.timeline-button-active {
    &:active {
        color: rgba(231, 76, 60,1.0);
        text-decoration: none;
    }

}

.extra-padding {
    padding: 15px;
}

.btn {
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.noselect {
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#left-speed-radio {
    padding-left: 30px;
}

.indicator {
    border-color: $darkgray2 transparent transparent transparent;
    border-color: rgba(130, 130, 130, 1) transparent transparent transparent;
    border-style: solid;
    border-width: 10px;
    content: "";
    height: $height20;
    left: 49.5%;
    position: relative;
    top:6px;
    width: 0;
}

.plot-temporal {
    fill: $white;
    fill: rgba(255, 255, 255, 0.0);
    stroke: none;
}

.hover-line {
    stroke: #aaaaaa;
}

.reference-line {
    fill: $darkgray2;
    fill: rgba(130, 130, 130, 1);
    stroke-width: $width23;
    stroke: $darkgray2;
    stroke: rgba(130, 130, 130, 1);
}

.selected {
    color: $pomegranate;
    fill: $pomegranate;
}

#xlabel.selected {
    color: $silver;
    fill: $silver;
}

.highlighted-event {
    color: $pomegranate;
    fill: $pomegranate;
}

.extent {
    fill: rgba(30,30,30,0.1);
}

.resize {
    path {
        fill-opacity: .8;
        fill-opacity: .8;
        fill: $darkgray3;
        fill: $darkgray3;
        stroke-width: $width23;
        stroke: $black;
        stroke: $black;
    }

}

.selecting {
    circle {
        fill-opacity: 0.8;
        stroke-width: 10px;
        stroke: rgba(240, 50, 60, 0.6);
    }

}

.timeline-axis {
    path {
        display: none;
        fill: none;
        shape-rendering: crispEdges;
    }

    line {
        display: none;
        fill: none;
        shape-rendering: crispEdges;
    }

    text {
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-user-select: none;
        fill: $midnightblue;
        font-family: 'Roboto', Helvetica, Arial, sans-serif;
        font-size: 13px;
        shape-rendering: crispEdges;
        text-shadow: none;
        text-transform: none;
        user-select: none;
    }

}

.clock-wrapper {
    position: absolute;
    top: -20px;
    left: calc(50% - 50px);
    background: none;
}

.clock-time {
    background: white;
    padding: 3px;
    width: 100%;
    cursor: pointer;
}