/**
 * Timeline layout
 */

#timeline {
    transition: ease .3s;
    -webkit-transition: ease .3s;
}

.timeline {
    transition:.3s;
    margin-bottom: 0;

    &.timeline-map {
        // margin-left: $omnibox-width;
        margin-left: 0;
        margin-right: 0;
    }

    &.timeline-dashboard {
        right: 0;
        margin-right: 10px;
        margin-left: $omnibox-width;
        float: left;
    }
}

.timeline-svg-wrapper {
    background-color: rgba($silver, 0.9);
    margin-top: 2px;
    svg {
        position: relative;
        left: 60px;
    }
}

.timeline-dashboard {
    .timeline-svg-wrapper {
        svg {
            left: 84px;
        }
    }
}

.timeline-wrapper {
    position: relative;
}

.time-controls {
    bottom: 12px;
    position: absolute;
    float: left;
    z-index: 999;
}

.time-controls-right {
    position: absolute;
    right: 0;
    bottom: 20px;

    .btn-group-vertical {
    }

    .btn-xss {
        color: $midnightBlue;
        background-color: transparent;
        font-size: 14px;

        &:hover {
            color: $asbestos;
            text-decoration: none;
        }
    }
}

.time-start-now-end {
    cursor: not-allowed;
    p {
        height: $height8;
        margin: 0;
    }

}

.timeline-button {
    color: $midnightBlue;
    cursor: pointer;
    float: none;
    font-size: 35px;
    text-decoration: none;
    text-shadow: none;
    transition:.3s;

    .fa {
        position: absolute;
        top: 0px;
        transform: scale(0.7);
    }

    &:hover {
        color: $asbestos;
        text-decoration: none;
    }

}

.timeline-button-active {
    &:active {
        color: $alizarin;
        text-decoration: none;
    }

}

.extra-padding {
    padding: 15px;
}

.btn {
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.noselect {
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#left-speed-radio {
    padding-left: 30px;
}

.indicator {
    border-color: $darkgray2 transparent transparent transparent;
    border-style: solid;
    border-width: 10px;
    content: "";
    height: $height20;
    left: 49.5%;
    position: relative;
    top:6px;
    width: 0;
}

.plot-temporal {
    fill: $white;
    fill-opacity: 0;
    stroke: none;
}

.hover-line {
    stroke: $darkgray5;
}

.reference-line {
    fill: $darkgray2;
    stroke-width: $width23;
    stroke: $darkgray2;
}

.selected {
    color: $pomegranate;
    fill: $pomegranate;
}

#xlabel.selected {
    color: $silver;
    fill: $silver;
}

.highlighted-event {
    color: $pomegranate;
    fill: $pomegranate;
}

.extent {
    fill: $darkgray4;
    fill-opacity: 0.1;
}

.resize {
    path {
        fill-opacity: .8;
        fill: $darkgray3;
        stroke-width: $width23;
        stroke: $black;
    }

}

.selecting {
    circle {
        fill-opacity: 0.8;
        stroke-width: 10px;
        stroke: $alizarin;
        stroke-opacity: 0.6;
    }

}

.timeline-axis {
    path {
        display: none;
        fill: none;
        shape-rendering: crispEdges;
    }

    line {
        display: none;
        fill: none;
        shape-rendering: crispEdges;
    }

    text {
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-user-select: none;
        font-family: $font-family;
        font-size: 13px;
        shape-rendering: crispEdges;
        text-shadow: none;
        text-transform: none;
        user-select: none;
    }

}

.clock-wrapper {
    position: absolute;
    top: -23px;
    left: 16px;
    background: $white;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    opacity: 0.7;
}

.clock-time {
    display: block;
    width: 100%;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    padding: 3px;
    -webkit-transition: .3s;

    div {
        float: left;
        padding-left: 9px;

        &:first-child {
            padding-left: 3px;
        }

        &:last-child {
            padding-right: 3px;
        }
    }
}

/* d3 timeline graph elements*/
.bar-timeline {
  fill: $concrete;
  stroke-width: 1;
  fill-opacity: 1;
  stroke: $white;
}

.timeline .tick {
  stroke-width: 1;
  fill-opacity: 0.8;
  stroke: $concrete;

  > text {
    fill: $midnightblue;
  }

  > .clickable {
    font-weight: bold;
    fill: $belize-hole;

    &:hover {
        fill: $peter-river;
    }
  }
}

.aggwindow-rect {
  fill: $pomegranate;
  opacity: 0.6;
}

.event {
  stroke-opacity: 0.95;
  fill-opacity: 0.75;
}

#timeline.must-hide {
  transform: translateY(+100px);
}

#timeline-svg-wrapper rect#listeners {
  fill: #ecf0f1;
  opacity: 0.4;
  cursor: col-resize;
}

#timeline-header {
  height: 20px;
  background-color: rgba(0,0,0,0);

  display: flex;
  justify-content: space-between;
}

.timeline-header-datetimepicker {
  width: 266px;
  position: relative;
  bottom: 12px;
}

#timeline-header-datetimepicker-start input {
  border-radius: 0px;
}
#timeline-header-datetimepicker-start span {
  border-radius: 0px;
  border-top-right-radius: 4px;
}
#timeline-header-datetimepicker-end input {
  border-radius: 0px;
  border-top-left-radius: 4px;
}
#timeline-header-datetimepicker-end span {
  border-radius: 0px;
}