/**
 * For lack of better name: tools
 * this contains the point, line, area switchers
 */ 

.button-list-item {
    width: 50px;
    height: 50px;
    padding-top: 12px;
    border-bottom: 1px solid $clouds;
    font-size: 18px;
    text-align: center;
    cursor: pointer;

    &:hover {
        @include material-shadow-hover();
    }

    &:first-child {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    &:last-child {
        border-bottom-left-radius: 5px;
        border-bottom: none;
    }

    .fa-compass {
        color: $pomegranate;
        font-size: 20px;
    }

    &.compass {
        background-color: $clouds;
    }

    a {
        color: $concrete;
        transition:.3s;
        &:hover, &.active, &:active {
            color: $pomegranate;
        }
    }
}
