/**
 * For lack of better name: tools
 * this contains the point, line, area switchers
 */ 

.button-list-container {
    cursor: pointer !important;
    position: absolute;
    right: 200px;
    text-align: center;
    top: 122px;
    width: 28px;
}

.button-list-item {
    background-color: rgba(255, 255 ,255 , 0.9);
    cursor: pointer !important;
    padding: 5px;
    &:first-child {
        border-top-left-radius: 2px;
    }

    &:last-child {
        border-bottom-left-radius: 2px;
    }

}

.button-list-link {
    color: #95a5a6;
    transition:.3s;
    &:hover {
        color: $pomegranate;
    }

}

.button-list-link.active {
    color: $pomegranate;
}



