/**
 *
 *                                               o$o    o$$
 *                                              *          *$
 *                                             o           o$$
 *                                                         o$$$
 *                                                       o$$$$
 *                                                      oo$$   $$$*$
 *                                                      o*$$     $ !
 *                                                   o  oo$$$$$$$$ $$$ *
 *                                                 !oo!oooo$$$$$  $$$$$
 *                                                  ooooooooo$$$$$$$$$$$$$$$$!
 *                                                     !  oooooo$$$$$$$$$$ooo
 *         *$     $$  $$$$$    $$$    $$*$¿   $$ $$        ooooooooooooooooo
 *         *$     $$    $$    $$ $*   $$_$$   $   $$             ooooo
 *         *$     $$   $$     $$$$$   $$ $!   $   $$            ooo
 *         $$$$$!!$$$ $$$$$$ $$$ $$$ $$$$ $$ $$$$$$             o o
 *
 */


// START variables

$font-family: 'Roboto', Helvetica, Arial, sans-serif;

// Width variables (appears count calculates by raw css)
$width2: 140px; // Appears 2 times
$width4: 400px; // Appears 3 times
$width6: 200px; // Appears 2 times
$width12: 34px; // Appears 2 times
$width16: 15px; // Appears 3 times
$width17: 60px; // Appears 3 times
$width19: 100%; // Appears 10 times
$width21: 50px; // Appears 4 times
$width22: 5px; // Appears 3 times
$width23: 1.5px;
$width24: 2.5px;
$width26: 1px; // Appears 2 times
$omnibox-width: ($width4 + 20px);

// Height variables (appears count calculates by raw css)
$height7: 60px; // Appears 3 times
$height8: 20px; // Appears 4 times
$height9: 100%; // Appears 6 times
$height11: 50px; // Appears 8 times
$height12: 40px; // Appears 7 times
$height14: 32px; // Appears 3 times
$height15: 28px; // Appears 2 times
$height16: 15px; // Appears 3 times
$height19: 5px; // Appears 3 times
$height20: 0; // Appears 2 times

// NXT defined variables.
$navbarheight: 50px; // Appears 8 times
$navbarandtimeline: 50px + 82px;

@import 'colors';

// END variables


// START FUNCTIONS & MIXINS

@mixin calc($property, $expression) {
    #{$property}: -webkit-calc(#{$expression});
    #{$property}: -ms-calc(#{$expression});
    #{$property}: -o-calc(#{$expression});
    #{$property}: -moz-calc(#{$expression});
    #{$property}: calc(#{$expression});
}

@mixin material-shadow() {
   -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    -ms-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

@mixin material-shadow-hover() {
   -moz-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
-webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    -ms-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

@mixin cross-browser ($cssProperty, $value) {
   -moz-#{$cssProperty}: #{$value};
-webkit-#{$cssProperty}: #{$value};
    -ms-#{$cssProperty}: #{$value};
        #{$cssProperty}: #{$value};
}

.material-shadow {
    @include material-shadow();
    &:hover {
        @include material-shadow-hover();
    }
}
// END FUNCTIONS

/**
 *
 * Order is important.
 *
 */
@import 'broken-browser';
@import 'errorpage';


@import 'layout';
@import 'omnibox';
@import 'graph';
@import 'navbar';
@import 'layer-chooser';
@import 'timeline';
@import 'tools';
@import 'dashboard';
@import 'scenarios';
@import 'leaflet-overrides';
