# js installs
vendor/
node_modules/
node_modules
.npm-debug.log
npm-debug.log
dist/
.grunt/

# test stuff
_SpecRunner.html
qa/

tmp/
tmp
.tmp/
templates.js
doc/

# internationalization
# generate using grunt nggettext_extract
po/template.pot
# generate using grunt nggettext_compile
app/translations.js

# vi
*.swp

# pycharm
.idea/