<!DOCTYPE html>
<html ng-app="lizard-nxt" ng-controller="MasterCtrl" ng-keydown="keyPress($event)" >
  <head>

    <base href="/">

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>Lizard</title>

    <link rel="icon"
              href="/static/client/images/favicon.f28daaac.png" />

    <link rel="stylesheet" href="/static/client/styles/vendor.b70b68d8.css">

    <link href='//fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="/static/client/styles/main.0dd6e8cf.css">

    <script type="text/javascript" src="/lizard-bs.js"></script>

  </head>

  <body ng-controller="UrlController">

    <div ng-if="context === 'map' || context === 'scenarios'">
      <map></map>
      <omnibox id="omnibox" ng-controller="OmniboxCtrl as omnibox"></omnibox>
      <datamenu></datamenu>
      <timeline
        class="
          timeline
          timeline-map
          navbar-fixed-bottom
          material-shadow"
        ng-if="context !== 'dashboard'"></timeline>
    </div>

    <div ng-if="context === 'dashboard'">
      <dashboard></dashboard>
      <omnibox id="omnibox" ng-controller="OmniboxCtrl as omnibox"></omnibox>
      <timeline
        class="
          timeline
          timeline-dashboard
          navbar-fixed-bottom
          material-shadow"></timeline>
    </div>

    <user-menu></user-menu>
    <favourites></favourites>

    <div id="context-transition-overlay"></div>

    <div id="dark-overlay">
      <div id="mymodal">
        <p translate>You are using an obsolete browser which is no longer supported by Lizard.</p>
        <p translate>To view lizard you have to use Internet explorer 10 or up, or use one of the below mentioned alternatives.</p>
        <ul>
          <li><a href="http://www.google.com/chrome/">Google Chrome</a></li>
          <li><a href="https://www.mozilla.org/nl/firefox/new/">Mozilla Firefox</a></li>
      </div>
    </div>

    <script src="/static/client/scripts/vendor.ab40af62.js"></script>

    <script src="/static/client/scripts/scripts.212ce988.js"></script>
  </body>
</html>
