<div>

  <div class="modal-body">
    <p aria-label="Help Text" class="help-text" translate>
      You can select multiple time series to download. Once selected, press the
      <i>"Start Export"</i> button and the exporter will fetch the time series
      behind the scenes.
    </p>
    <p ng-if="isAuthenticated" translate>
      You will be notified with a message when the download is ready.
    </p>
    <p ng-if="!isAuthenticated" translate>
      You can click the download button when the export is ready.
    </p>
    <p translate>
      Pick the date range:
    </p>
    <div class="input-daterange input-group" id="datepicker-export">
      <input type="text" class="input-sm form-control" name="start" id="datepicker-export-start" />
      <span class="input-group-addon" translate>to</span>
      <input type="text" class="input-sm form-control" name="end" id="datepicker-export-end" />
    </div>
    <div ng-repeat="asset in assets">
      <div ng-repeat="ts in asset.timeseries">
        <input
          class="timeseries-checkbox"
          ng-model="toExport[ts.uuid]"
          data-uuid="{{ts.uuid}}"
          type="checkbox">
        <span>{{ ts.location }}, {{ ts.parameter }}</span>
      </div>
      <div ng-repeat="filter in asset.filters" ng-if="isMap">
        <div ng-repeat="fts in filter.timeseries">
          <input
            class="timeseries-checkbox"
            ng-model="toExport[fts.uuid]"
            data-uuid="{{fts.uuid}}"
            type="checkbox">
          <span>{{ fts.location }}, {{ fts.parameter }}</span>
        </div>
      </div>
    </div>

    <div ng-if="isPolling"
         class="download-export-message">
      <br />
      <i translate>Your file is being prepared, please wait...</i>
    </div>
  </div>

  <div class="modal-footer footer-left">

    <button
      class="btn btn-primary start-export-button"
      ng-click="startExport()"
      translate>
      Start Export
    </button>

    <button
      class="btn btn-warning download-export-button hide"
      ng-click="downloadFinishedFile()"
      translate>
      Download File
    </button>

  </div>

</div>
