<div>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" translate>
      Export timeseries
    </h4>
  </div>
  <div class="modal-body">
    <p aria-label="Help Text" class="help-text" translate>
      You can select multiple timeseries to download. Once selected, press the
      <i>"Start Export"</i> button and the exporter will fetch the timeseries
      behind the scenes.
    </p>
    <p translate>
      We will let you know when your download is ready. You're welcome to
      wait here, but we're not sure how long it will take to piece everything
      together
    </p>
    <div ng-repeat="asset in assets">
      <div ng-repeat="ts in asset.timeseries">
        <input ng-model="toExport[ts.uuid]" type="checkbox">
        <span><% ts.location %>, <% ts.name %>, <% ts.parameter %></span>
      </div>
      <div ng-repeat="filter in asset.filters">
        <div ng-repeat="fts in filter.timeseries">
          <input ng-model="toExport[fts.uuid]" type="checkbox">
          <span><% fts.location %>, <% fts.name %>, <% fts.parameter %></span>
        </div>
      </div>
    </div>
    <div ng-if="taskInfo.downloadUrl === '' && taskInfo.url !== ''">
      <p class="text-center">
        <i class="fa fa-3x fa-spinner fa-spin"></i>
      </p>
      <p class="text-center" translate>We're piecing stuff together, you can either wait
        patiently or see if it's ready yourself by following
        <a ng-href="<% taskInfo.url %>">this link</a>
      </p>
    </div>
    <div ng-if="taskInfo.downloadUrl !== ''">
      <a ng-href="taskInfo.downloadUrl">
        <i class="fa fa-2x fa-download"></i>
      </a>
    </div>
  </div>
  <div class="modal-footer footer-left">
    <button class="btn btn-primary" ng-click="startExport()" translate>Start Export</button>
  </div>
</div>
