<div>
  <div class="modal-body">
    <p aria-label="Help Text" class="help-text" translate>
      You can select multiple time series to download. Once selected, press the
      <i>"Start Export"</i> button and the exporter will fetch the time series
      behind the scenes.
    </p>
    <p translate>
      When the download is ready, you will be notified with a message.
    </p>
    <p translate>
      Pick the date range:
    </p>
    <div class="input-daterange input-group" id="datepicker-export">
      <input type="text" class="input-sm form-control" name="start" id="datepicker-export-start" />
      <span class="input-group-addon">to</span>
      <input type="text" class="input-sm form-control" name="end" id="datepicker-export-end" />
    </div>
    <div ng-repeat="asset in assets">
      <div ng-repeat="ts in asset.timeseries">
        <input ng-model="toExport[ts.uuid]" type="checkbox">
        <span><% ts.location %>, <% ts.parameter %></span>
      </div>
      <div ng-repeat="filter in asset.filters" ng-if="isMap">
        <div ng-repeat="fts in filter.timeseries">
          <input ng-model="toExport[fts.uuid]" type="checkbox">
          <span><% fts.location %>, <% fts.parameter %></span>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer footer-left">
    <button class="btn btn-primary"
            ng-click="startExport()" translate>
      Start Export
    </button>
  </div>

</div>
