<div>
  <div class="modal-body">

    <p aria-label="Help Text" class="help-text" translate>
      You can select multiple raster intersections to export. Once selected, press the
      <i>"Start Export"</i> button and the exporter will fetch the raster data
      behind the scenes.
    </p>

    <p translate>
      You will be notified with a message when the download is ready.
    </p>

    <p translate>
      Pick the date range:
    </p>

    <div class="input-daterange input-group" id="datepicker-export">
      <input type="text" class="input-sm form-control" name="start" id="datepicker-export-start" />
      <span class="input-group-addon" translate>to</span>
      <input type="text" class="input-sm form-control" name="end" id="datepicker-export-end" />
    </div>

    <p translate>
      Pick the raster you would like to export:
    </p>

    <select ng-model="selectedRaster">
      <option
        ng-repeat="raster in activeTemporalRasters"
        value="{{ raster.uuid }}">
        {{ raster.slug }}
      </option>
    </select>

    <br />
    <br />
    <p translate>
      Pick the selected point/asset:
    </p>

    <select ng-model="selectedGeomIdx">
      <option
        ng-repeat="formattedGeom in formattedGeoms track by $index"
        value="{{ $index }}">
        {{ formattedGeom.name }}
      </option>
    </select>

    <br />
    <br />
    <p translate>
      Debug this bitch
    </p>
    <input type="button" ng-click="dbg()" value="dbg" />

    <div class="modal-footer footer-left">
      <button
        class="btn btn-primary start-export-button"
        ng-click="startRasterExport()"
        translate>
        Start Raster Export
      </button>
    </div>

  </div>
</div>