<div ng-controller="areaCtrl">

  <div ng-repeat="agg in area" class="card active" id="card-<% agg.name %>">

    <div ng-switch="agg.type" class="card-content" id="card-content-<% agg.name %>">
      <graph ng-switch-when="curve" line xlabel="'[%]'" ylabel="'hoogte [mNAP]'" data="agg.data" keys="{x: 0, y: 1}"></graph>
      <graph ng-switch-when="counts" horizontal-stack data="agg.data" keys="{x: 'data', y: 'label'}" xlabel="'[%]'" dimensions="{height: 80, padding: {left: 0, right: 0, top: 5, bottom: 50}}"></graph>
      <graph ng-switch-default line></graph>
    </div>
  </div>

  <!-- TODO, include events as layers and make them part of the aggregate controller and the above switch -->

  <div class="card active" ng-if="eventsPresentInCurrentExtent()" id="card-summary">

    <div class="card-content" id="card-content-summary">

      <div class="event-aggregate-container">

        <table class="table table-hover table-condensed">
          <thead>
            <tr>
              <th></th>
              <th></th>
              <th>Aantal</th>
              <th>Totaal</th>
            </tr>
          </thead>
          <tbody>
            <tr class="recurrence_time"
                ng-repeat="eventType in events.types"
                ng-if="eventType.currentCount > 0">

              <td><i class="fa fa-circle" ng-style="{color: eventType.color }"></i></td>
              <td><% eventType['name'] %></td>
              <td><strong><% eventType['currentCount'] %></strong></td>
              <td><% eventType['count'] %></td>

            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>

</div>
