<div ng-class="mapState.mapMoving ? 'card-hidden' : ''" class="card">
<!-- Card for "brug" / "bridge" -->

  <actions></actions>
  <cardtitle data-icon="icon-bridge-fixed"
             data-name="Brug">
  </cardtitle>
  <fullwidth></fullwidth>

  <div class="card-details"
       ng-click="activeObject.attrs.details = !activeObject.attrs.details">
    <i class="fa fa-caret-right ready-to-rotate"
       ng-class="{'rotate-ninety': activeObject.attrs.details}">
    </i>
    <span ng-if="!activeObject.attrs.details">
      Meer details
    </span>
    <span ng-if="!!activeObject.attrs.details">
      Minder details
    </span>
  </div>
  <div class="hidden-details"
      ng-class="{'unhidden-details': activeObject.attrs.details}">

    <streetview></streetview>

  </div>
</div>

