<!-- <table class="fullwidth" > -->
<table id="kunstwerk-table" class="table table-condensed table-hover">
  <thead>
    <tr>
      <th>Attribuut</th>
      <th>Waarde</th>
    </tr>
  </thead>
  <tbody>
    <tr class="attr-row" ng-repeat="obj in pointObject.attrs.wanted[pointObject.attrs.data.entity_name].rows">

      <td class="fixed-width-card-table"><% obj.keyName %></td>

      <td class="lineout"
          ng-show="pointObject.attrs.data[obj.attrName]">
        <span class="ng-binding">
          <% $eval(obj.ngBindValue) + obj.valueSuffix %>
        </span>
      </td>

      <td class="lineout" ng-hide="pointObject.attrs.data[obj.attrName]" style="float:left;">
        <% "..." %>
      </td>

    </tr>
  </tbody>
</table>
