<!-- Card for "channel" / "kanaal" -->
<div ng-class="mapState.mapMoving ? 'card-hidden' : ''" class="card">

  <actions></actions>
  <cardtitle data-icon="icon-manhole"
             data-name="Kanaal">
  </cardtitle>
  <cardattributes></cardattributes>

  <!-- NB: this original code is erronious, the key "Naam" doesn correspond to
       the attribute pointObject.attrs.data.length, amirite? :/

  <table class="fullwidth">
    <tbody>
    <tr>
      <td>Type</td>
      <td><span ng-bind="pointObject.attrs.data.type | niceNumberOrEllipsis: 2" class="ng-binding">...</span></td>
    </tr>
    <tr>
      <td>Naam</td>
      <td><span ng-bind="pointObject.attrs.data.length | niceNumberOrEllipsis: 2" class="ng-binding">...</span></td>
    </tr>
   </tbody>
  </table>
  -->

</div>
