<div class="card">
<!-- Card for "crossprofile" / "kruisprofiel" -->
<!--   <div class="actions">
    <ul>
      <li class="export"><a href="#" title="Exporteren"><i class="fa fa-share-square-o"></i></a></li>
      <li class="fullscreen"><a href="#" title="Volledig beeld"><i class="fa fa-arrows-alt"></i></a></li>
    </ul>
  </div>
 -->
  <div class="card-title">
    <!-- <img src="/static/dist/images/knoop.png" class="img-circle" alt=""> -->
    <i class="icon-manhole"></i><span class="title-text">Kruisprofiel</span>&nbsp;(<span class="truncateme ng-binding" ng-bind="activeObject.attrs.code">...</span>)
  </div>
  <table class="fullwidth">
    <tbody>
    <tr>
      <td>Type</td>
      <td><span ng-bind="activeObject.attrs.type | niceNumberOrEllipsis: 2" class="ng-binding">...</span></td>
    </tr>  
    </tbody>
  </table>
</div>
