<div class="card">
<!-- Card for "crossprofile" / "kruisprofiel" -->
<!--   <div class="actions">
    <ul>
      <li class="export"><a href="#" title="Exporteren"><i class="fa fa-share-square-o"></i></a></li>
      <li class="fullscreen"><a href="#" title="Volledig beeld"><i class="fa fa-arrows-alt"></i></a></li>
    </ul>
  </div>
 -->

  <cardtitle data-icon="icon-manhole"
             data-name="Dwarsprofiel">
  </cardtitle>
  
  <table class="fullwidth">
    <tbody>
    <tr>
      <td>Type</td>
      <td><span ng-bind="activeObject.attrs.type | niceNumberOrEllipsis: 2" class="ng-binding">...</span></td>
    </tr>  
    </tbody>
  </table>
</div>
