<div ng-class="mapState.mapMoving ? 'card-hidden' : ''" class="card">
<!-- Card for "culvert" / "duiker" -->

  <actions></actions>
  <cardtitle data-icon="icon-culvert"
             data-name="Duiker">
  </cardtitle>
  <fullwidth></fullwidth>

  <div class="card-details"
       ng-click="activeObject.attrs.details = !activeObject.attrs.details">
    <i class="fa fa-caret-right ready-to-rotate"
       ng-class="{'rotate-ninety': activeObject.attrs.details}">
    </i>
    <span ng-if="!activeObject.attrs.details"> Meer details</span>
    <span ng-if="!!activeObject.attrs.details"> Minder details</span>
  </div>

  <div class="hidden-details"
       ng-class="{'unhidden-details': activeObject.attrs.details}">
    <table class="fullwidth">
      <tbody>
        <tr>
          <td class="fullwidth-key">Richting</td>
          <td>
            <span ng-bind="activeObject.attrs.allowed_flow_direction | allowedFlowDirection"
                  class="ng-binding">
            </span>
          </td>
        </tr>
        <tr>
          <td>
            <abbr title="Binnen Onderkant Buis (bovenstrooms)">
              BOB bovenstrooms
            </abbr>
          </td>
          <td>
            <span ng-bind="activeObject.attrs.bed_level_upstream | niceNumberOrEllipsis: 2"
                  class="ng-binding">
              ...
            </span>
          </td>
        </tr>
        <tr>
          <td>
            <abbr title="Binnen Onderkant Buis (benedenstrooms)">
              BOB benedenstrooms
            </abbr>
          </td>
          <td>
            <span ng-bind="activeObject.attrs.bed_level_downstream | niceNumberOrEllipsis: 2"
                  class="ng-binding">
              ...
            </span>
          </td>
        </tr>
      </tbody>
    </table>

    <streetview></streetview>

  </div>
</div>