<div ng-class="mapState.mapMoving ? 'card-hidden' : ''" class="card">
<!-- Card for "culvert" / "duiker" -->

  <actions></actions>
  <cardtitle data-icon="icon-culvert"
             data-name="Duiker">
  </cardtitle>
  <cardattributes></cardattributes>
  <detailswitch></detailswitch>

  <!-- to be rendered tru template/partial, maybe even the same one as used
  for the regular attributes? -->

  <div class="hidden-details"
       ng-class="{'unhidden-details': pointObject.attrs.details}">
    <table class="fullwidth">
      <tbody>
        <tr>
          <td class="fullwidth-key">Richting</td>
          <td>
            <span ng-bind="pointObject.attrs.allowed_flow_direction | allowedFlowDirection"
                  class="ng-binding">
            </span>
          </td>
        </tr>
        <tr>
          <td>
            <abbr title="Binnen Onderkant Buis (bovenstrooms)">
              BOB bovenstrooms
            </abbr>
          </td>
          <td>
            <span ng-bind="pointObject.attrs.bed_level_upstream | niceNumberOrEllipsis: 2"
                  class="ng-binding">
              ...
            </span>
          </td>
        </tr>
        <tr>
          <td>
            <abbr title="Binnen Onderkant Buis (benedenstrooms)">
              BOB benedenstrooms
            </abbr>
          </td>
          <td>
            <span ng-bind="pointObject.attrs.bed_level_downstream | niceNumberOrEllipsis: 2"
                  class="ng-binding">
              ...
            </span>
          </td>
        </tr>
      </tbody>
    </table>
    <streetview></streetview>
  </div>
</div>