<div ng-class="mapState.mapMoving ? 'card-hidden' : ''" class="card">
<!-- Card for "culvert" / "duiker" -->

    <div class="actions">
      <ul>
        <!-- <li class="export"><a href="#" title="Data van deze infocard exporteren"><i class="fa fa-share-square-o"></i></a></li> -->
        <li class="fullscreen">
          <a 
            ng-click="toggleDetailmode()"
            title="Bekijk in detailmode">
            <i class="fa fa-lg fa-plus-square-o"></i>
          </a>
        </li>
<!--         <li class="favorite">
          <a
            ng-click="bookmarkItem()" 
            title="Voeg toe aan favorieten">
            <i class="fa fa-lg fa-bookmark"></i>
          </a>
        </li> -->
        <!-- <li class="metadata"><a href="#" title="Bekijk metadata"><i class="fa fa-question-circle"></i></a></li> -->
      </ul>
    </div> <!-- end actions -->

  <div class="card-title">
    <!-- <img src="/static/dist/images/knoop.png" class="img-circle"> -->
    <i class="icon-culvert"></i><span class="title-text">Duiker</span>&nbsp;<span ng-if="activeObject.attrs.code">(</span><span class="truncateme ng-binding" ng-bind="activeObject.attrs.code"></span><span ng-if="activeObject.attrs.code">)</span>
  </div>

    <table class="fullwidth">
      <tbody>
      <tr>
        <td style="width:170px;">Type</td>
        <td>
          <abbr title="<% activeObject.attrs.type %>"><span ng-bind="activeObject.attrs.type | truncate:20" class="truncateme ng-binding"></span></abbr>
        </td>
      </tr>
      <tr>
        <td>Lengte</td>
        <td>
          <span ng-bind="activeObject.attrs.length | niceNumberOrEllipsis: 2" class="ng-binding" style="word-spacing: -2px;"></span>
          <span ng-if="!!activeObject.attrs.surface_level_ahn2"> m
        </td>  
      </tr>    
      <tr>
        <td>Breedte</td>
        <td>
          <span ng-bind="activeObject.attrs.width | niceNumberOrEllipsis: 2" class="ng-binding" style="word-spacing: -2px;"></span>
          <span ng-if="!!activeObject.attrs.width"> m</span>
        </td> 
      </tr>               
    </tbody></table>


    <div class="card-details" ng-click="activeObject.attrs.details = !activeObject.attrs.details">
      <i class="fa fa-caret-right ready-to-rotate" ng-class="{'rotate-ninety': activeObject.attrs.details}"></i><span ng-if="!activeObject.attrs.details"> Meer details</span><span ng-if="!!activeObject.attrs.details"> Minder details</span>
    </div>
    <div class="hidden-details" ng-class="{'unhidden-details': activeObject.attrs.details}">
      <table class="fullwidth">
        <tbody><tr>
          <td style="width:170px;">Richting</td>
          <td><span ng-bind="activeObject.attrs.allowed_flow_direction | allowedFlowDirection" class="ng-binding"></span></td>
        </tr>
        <tr>
          <td><abbr title="Binnen Onderkant Buis (bovenstrooms)">BOB bovenstrooms</abbr></td>
          <td><span ng-bind="activeObject.attrs.bed_level_upstream | niceNumberOrEllipsis: 2" class="ng-binding">...</span></td>
        </tr>
        <tr>
          <td><abbr title="Binnen Onderkant Buis (benedenstrooms)">BOB benedenstrooms</abbr></td>
          <td><span ng-bind="activeObject.attrs.bed_level_downstream | niceNumberOrEllipsis: 2" class="ng-binding">...</span></td>
        </tr>
        </tr>        
        </tbody>
      </table>
      <div class="streetview">
      <a target="_blank" href="https://maps.google.com/maps?q=&layer=c&cbll=<% activeObject.latlng.lat %>,<% activeObject.latlng.lng %>&cbp=11,90,0,0,40">
        <img src="http://maps.googleapis.com/maps/api/streetview?fov=120&pitch=-40&heading=90&size=300x150&location=<% activeObject.latlng.lat %>,<% activeObject.latlng.lng %>&sensor=false&key=AIzaSyCnhiYnIG6gN6SwiXltQ3vUGrr9WGovfzo">
      </a>
      </div>
    </div>  

</div>