<div class="card" >
	<li class="recommendation no-right-padding" href="#" ng-click="toggleTool('kpi')" ng-class="{'fa-lg': tools.kpi.enabled}" title="Key Performance Indicator">
    	<i class="fa fa-dashboard"></i>
    	<a class="recommendations">kpi</a>
	</li>
	<div class="vertical-divider"></div>
	<li class="left-text no-left-padding">
		<a href="#" ng-click="geoLocate()"><i class="fa fa-bullseye"></i>&nbsp;Ga naar uw locatie</a>, of probeer te zoeken naar <a href="" ng-click="simulateSearch('Purmerend')">Purmerend</a> <i class="fa fa-circle-o fa-sm"></i> <a href="" ng-click="simulateSearch('Apeldoorn')">Apeldoorn</a> <i class="fa fa-circle-o fa-sm"></i> <a href="" ng-click="simulateSearch('Gemaal')">Gemaal</a>
	</li>
</div>