<div ng-controller="ExtentAggregateCtrl">
  <div ng-repeat="agg in extentAggregate" class="card active">
    <div class="card-title">
      <span class="card-title-text"><% agg.name %></span>
      <div class="card-title-button"
           ng-click="toggleThisCard()">
        <span class="card-title-button-text">
          <i class="fa fa-chevron-down"></i>
        </span>
      </div>
    </div>
    <div ng-switch="agg.type" class="card-content">
      <hr class="card-separator">
      <graph ng-switch-when="curve" line xlabel="'[%]'" ylabel="'hoogte [mNAP]'" data="agg.data" class="xyGraph"></graph>
      <graph ng-switch-when="counts" pie data="agg.data" class="donutGraph"></graph>
      <graph ng-switch-default line></graph>
    </div>
  </div>
</div>

<!-- TODO, include events as layers and make them part of the aggregate controller and the above switch -->
<div class="card" ng-if="events.types.count > 0">

  <div>
    <div ng-if="box.content.eventValue.properties.value" >
      <p>
      <strong>
        <% box.content.eventValue.properties.category %> <br />
      </strong>
      <% box.content.eventValue.properties.value %> <br />  
      <small>
        <% box.content.eventValue.properties.timestamp_start | date: 'yyyy-MM-dd HH:mm' %> -
        <% box.content.eventValue.properties.timestamp_end | date: 'yyyy-MM-dd HH:mm' %>
      </small>
      </p>
    </div>
    <div class="card-title">
      <i class="fa fa-sitemap"></i>
      <span class="title-text left-margin-title">Samenvatting</span>
      <i class="fa fa-lg close-ancestor-card"
         style="top: 0px;"
         onclick="$(this).closest('.card').remove()">
         &times;
      </i>
    </div>

    <div class="event-aggregate-container">
      <table class="table table-hover table-condensed">
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th>Aantal</th>
            <th>Totaal</th>
          </tr>
        </thead>
        <tbody>
        <tr class="recurrence_time" ng-repeat="eventType in events.types" ng-if="eventType.currentCount > 0">
          <td><i class="fa fa-circle" ng-style="{color: eventType.color }"></i></td>
          <td><% eventType.name %></td>
          <td><strong><% eventType.currentCount %></strong></td>
          <td><% eventType.count %></td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
