<div ng-controller="IntersectCtrl">

  <div ng-repeat="intersect in lineIntersect" class="card active" id="card-<% intersect.name %>">
    <div class="card-title">
      <span class="card-title-text"><% intersect.name %></span>
      <div class="card-title-button"
           ng-click="toggleThisCard(intersect.name)">
        <span class="card-title-button-text">
          <i class="fa fa-chevron-down"></i>
        </span>
      </div>
    </div>
    <graph line data="intersect.data" ylabel="'hoogte [mNAP]'" xlabel="'afstand in [m]'"></graph>
  </div>
