<div ng-controller="IntersectCtrl">
  <div ng-repeat="intersect in lineIntersect" class="card active" id="card-<% intersect.name %>">
    <div class="card-title">
      <span class="card-title-text"><% intersect.name %></span>
      <div class="card-title-button"
           ng-click="toggleThisCard(intersect.name)">
        <span class="card-title-button-text">
          <i class="fa fa-chevron-down"></i>
        </span>
      </div>
    </div>
    <div id="card-content-<% intersect.name %>" class="card-content">
      <div id="card-separator-<% intersect.name %>" class="card-separator"></div>
      <div ng-switch="intersect.name" class="card-content" id="card-content-<% agg.name %>">
        <graph ng-switch-default
          line
          data="intersect.data"
          ylabel="'hoogte [mNAP]'"
          xlabel="'afstand in [m]'">
        </graph>
        <graph ng-switch-when="Regen"
          line
          data="intersect.data"
          ylabel="'mm / 5 minuten'"
          xlabel="'afstand in [m]'">
        </graph>
      </div>
    </div>
  </div>
</div>
