<div ng-controller="LineCtrl">
  <div ng-repeat="lg in line" class="card active" id="card-<% l.name %>">
    <div ng-repeat="l in lg" id="card-content-<% l.name %>" class="card-content" ng-if="l.data">
      <div ng-switch="l.name" class="card-content" id="card-content-<% agg.name %>">

        <graph ng-switch-default
          line
          data="l.data"
          ylabel="'hoogte [mNAP]'"
          xlabel="'afstand in [m]'">
        </graph>
        <graph ng-switch-when="Regen"
          line
          data="l.data"
          ylabel="'mm / 5 minuten'"
          xlabel="'afstand in [m]'">
        </graph>
      </div>
    </div>
  </div>
</div>
