<div ng-class="mapState.mapMoving ? 'card-hidden' : ''" class="card">
<!-- Card for "orifice" / "doorlaat" -->
  
  <actions></actions>
  <div class="actions">
    <ul>
      <li class="export"><a href="#" title="Exporteren"><i class="fa fa-share-square-o"></i></a></li>
      <li class="fullscreen"><a href="#" title="Volledig beeld"><i class="fa fa-arrows-alt"></i></a></li>
    </ul>
  </div>

  <cardtitle data-icon="icon-manhole"
             data-name="Doorlaat">
  </cardtitle>

  <table class="fullwidth">
    <tbody>
    <tr>
      <td><abbr title="Grootte van de opening">Lengte x Breedte</abbr></td>
      <td><span ng-bind="activeObject.attrs.length | niceNumberOrEllipsis: 2" class="ng-binding">...</span>&nbsp;x&nbsp;<span ng-bind="activeObject.attrs.length | niceNumberOrEllipsis: 2" class="ng-binding">...</span></td>
    </tr>
    <tr>
      <td>Vorm</td>
      <td ng-bind="activeObject.attrs.shape" class="ng-binding">...</td>
    </tr>    
    </tbody>
  </table>
  
  <hr class="clear-both">

  <details>
      <summary>Meer details</summary>
      <table class="fullwidth">
          <tbody>
          <tr>
              <td>Richting</td>
              <td><span ng-bind="activeObject.attrs.direction" class="ng-binding">...</span></td>
          </tr>
          <tr>
              <td>Negatieve maximale debiet</td>
              <td ng-bind="activeObject.attrs.negative_flow_limit" class="ng-binding">...</td>
          </tr>   
          <tr>
              <td>Positieve maximale debiet</td>
              <td ng-bind="activeObject.attrs.positive_flow_limit" class="ng-binding">...</td>
          </tr>   	     
          </tbody>
      </table>
  </details>
</div>
