<div ng-class="mapState.mapMoving ? 'card-hidden' : ''" class="card">
  <!-- Card for "outlet" / "uitlaat met keerklep" -->

  <actions></actions>
  <cardtitle data-icon="icon-outlet"
             data-name="Uitlaat met keerklep">
  </cardtitle>
  <cardattributes></cardattributes>
  <detailswitch></detailswitch>

  <div class="hidden-details" ng-class="{'unhidden-details': pointObject.attrs.data.details}">
    <table class="fullwidth">
      <tbody>
      <tr>
        <td class="fullwidth-key fixed-width-card-table"><abbr title="Oppervlaktewaterniveau (zomer)">OWN (zomer)</abbr></td>
        <td>
          <span ng-bind="pointObject.attrs.data.open_water_level_summer | niceNumberOrEllipsis: 2" class="ng-binding wspace-minus"></span>
          <span ng-if="!!pointObject.attrs.data.open_water_level_summer"> m
          <span class="wspace-zero"> boven NAP</span></span>
        </td>
      </tr>
      <tr>
        <td class="fixed-width-card-table"><abbr title="Oppervlaktewaterniveau (winter)">OWN (winter)</abbr></td>
        <td>
          <span ng-bind="pointObject.attrs.data.open_water_level_winter | niceNumberOrEllipsis: 2" class="ng-binding wspace-minus"></span>
          <span ng-if="!!pointObject.attrs.data.open_water_level_winter"> m
          <span class="wspace-zero"> boven NAP</span></span>
        </td>
      </tr>
      </tbody>
    </table>
    <streetview></streetview>
  </div>
</div>
