<div ng-class="mapState.mapMoving ? 'card-hidden' : ''" class="card">
  <!-- Card for "overflow" / "overstort" -->
  <div class="actions">
    <ul>
      <li class="fullscreen">
      <a 
        ng-click="toggleDetailmode()"
        title="Bekijk in detailmode">
        <i class="fa fa-lg fa-plus-square-o"></i>
      </a>
      </li>
    </ul>
  </div> <!-- end actions -->

  <cardtitle data-icon="icon-overflow-open" 
             data-name="Overstort">
  </cardtitle>

  <table class="fullwidth">
    <tbody>
    <tr>
      <td class="fullwidth-key">Breedte</td>
      <td>
        <span ng-bind="activeObject.attrs.width | niceNumberOrEllipsis: 2" class="ng-binding wspace-minus"></span>
        <span ng-if="!!activeObject.attrs.width"> m</span>
      </td>  
    </tr> 
    <tr>
      <td>
        Overstorthoogte
      </td>
      <td>
        <span ng-bind="activeObject.attrs.crest_level | niceNumberOrEllipsis: 2" class="ng-binding wspace-minus"></span>
        <span ng-if="!!activeObject.attrs.crest_level"> m</span>
      </td>  
    </tr>           
    </tbody>
  </table>

  <div class="card-details" ng-click="activeObject.attrs.details = !activeObject.attrs.details">
    <i class="fa fa-caret-right ready-to-rotate" ng-class="{'rotate-ninety': activeObject.attrs.details}"></i><span ng-if="!activeObject.attrs.details"> Meer details</span><span ng-if="!!activeObject.attrs.details"> Minder details</span>
  </div>

  <div class="hidden-details" ng-class="{'unhidden-details': activeObject.attrs.details}">
    <table class="fullwidth">
      <tbody>
      <tr>
        <td class="fullwidth-key fixed-width-card-table"><abbr title="Oppervlaktewaterniveau (gemiddeld)">OWN (gemiddeld)</abbr></td>
        <td>
          <span ng-bind="activeObject.attrs.open_water_level_average | niceNumberOrEllipsis: 2" class="ng-binding wspace-minus"></span>
          <span ng-if="!!activeObject.attrs.open_water_level_average"> m
            <span class="wspace-zero">NAP</span></span>
        </td>            
      </tr>      
      <tr>
        <td class="fixed-width-card-table"><abbr title="Oppervlaktewaterniveau (zomer)">OWN (zomer)</abbr></td>
        <td>
          <span ng-bind="activeObject.attrs.open_water_level_summer | niceNumberOrEllipsis: 2" class="ng-binding wspace-minus"></span>
          <span ng-if="!!activeObject.attrs.open_water_level_summer"> m
            <span class="wspace-zero">NAP</span></span>
        </td>            
      </tr>
      <tr>
        <td class="fixed-width-card-table"><abbr title="Oppervlaktewaterniveau (winter)">OWN (winter)</abbr></td>
        <td>
          <span ng-bind="activeObject.attrs.open_water_level_winter | niceNumberOrEllipsis: 2" class="ng-binding wspace-minus"></span>
          <span ng-if="!!activeObject.attrs.open_water_level_winter"> m
            <span class="wspace-zero">NAP</span></span>
        </td>            
      </tr>
      </tbody>
    </table>
    <streetview></streetview>
  </div>
  <event></event>
</div>
