<div ng-class="mapState.mapMoving ? 'card-hidden' : ''" class="card">
<!-- Card for "gesloten leiding" / "pipe" -->

  <actions></actions>
  <!--
  HOW TO COUPLE THE IMG SRC TO A CSS CLASS, E.G. "icon-closed-channel"?
  <img src="/static/dist/images/geslotenleiding.png" class="img-circle">
  -->
  <cardtitle data-icon="icon-manhole"
             data-name="<% pointObject.attrs.type | pipeTypeOrEllipsis %>">
  </cardtitle>
  <cardattributes></cardattributes>
  <detailswitch></detailswitch>

  <div class="hidden-details" ng-class="{'unhidden-details': pointObject.attrs.details}">
    <table class="fullwidth">
      <tbody>
      <tr>
        <td class="fixed-width-card-table">Aantal bewoners</td>
        <td>
          <span ng-bind="pointObject.attrs.number_of_inhabitants | niceNumberOrEllipsis: 0" class="ng-binding"></span>
        </td>
      </tr>
        <tr>
            <td><abbr title="Start binnen onderkant buis">BOB start</abbr></td>
            <td ng-bind="pointObject.attrs.invert_level_start_point | niceNumberOrEllipsis: 2" class="ng-binding"></td>
        </tr>
        <tr>
            <td><abbr title="Eind binnen onderkant buis">BOB eind</abbr></td>
            <td ng-bind="pointObject.attrs.invert_level_end_point | niceNumberOrEllipsis: 2" class="ng-binding"></td>
        </tr>
      </tbody>
    </table>
    <streetview></streetview>
  </div>
</div>