<div ng-controller="pointObjectCtrl">

  <!-- details for HYDRO-OBJECT a.k.a. Kunstwerk -->
  <div id="card-kunstwerk"
       class="card active"
       ng-class="{hidden: !pointObject.attrs.active}">

    <div class="card-title">
      <span class="card-title-text">Objectinformatie</span>
      <!-- <span id="debug"><br><% Object.keys(pointObject.attrs.data) %></span> -->
      <div class="card-title-button"
           ng-click="toggleThisCard('kunstwerk')">
        <span class="card-title-button-text">
          <i class="fa fa-chevron-down"></i>
        </span>
      </div>
    </div>

    <div class="card-content"
         id="card-content-kunstwerk">

      <hr class="card-separator"
          id="card-separator-kunstwerk">

      <i id="icon-holder"
         ng-if="pointObject.attrs.data.entity_name.split('_')[0] === 'bridge'"
         class="icon-bridge-fixed">
      </i>
      <i id="icon-holder"
         ng-if="pointObject.attrs.data.entity_name.split('_')[0] !== 'bridge'"
         class="icon-<% pointObject.attrs.data.entity_name.split('_')[0] %>">
      </i>

      <span class="kunstwerk-title">
        <span id="title-holder"
              class="card-title-text kunstwerk-title-text">
          <% gettext(pointObject.attrs.data.entity_name) %>
        </span>
        &nbsp;
        <span class="kunstwerk-title-suffix">
          <span ng-if="pointObject.attrs.data.code">(</span>
          <span class="truncateme ng-binding"
                ng-bind="pointObject.attrs.data.code">
          </span>
          <span ng-if="pointObject.attrs.data.code">)</span>
        </span>
      </span>

      <cardattributes></cardattributes>
    </div>
  </div>

  <div id="card-relatified-events"
       class="card active"
       ng-class="{hidden: !pointObject.events.active}">

    <div class="card-title">
      <span class="card-title-text">
        Gebeurtenissen
      </span>
      <div class="card-title-button"
           ng-click="toggleThisCard('relatified-events')">
        <span class="card-title-button-text">
          <i class="fa fa-chevron-down"></i>
        </span>
      </div>
    </div>

    <div class="card-content"
         id="card-content-relatified-events">

      <hr class="card-separator"
          id="card-separator-relatified-events">

      <table class="table table-hover table-condensed">

        <thead>
          <tr>
            <th></th>
            <th></th>
            <th>Aantal</th>
            <th>Totaal</th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="eventSeries in pointObject.events"
              ng-if="eventSeries.length > 0"
              ng-init="type = events.types[eventSeries[0].event_series]">

            <td>
              <i class="fa fa-circle"
                 ng-style="{color: type.color }">
              </i>
            </td>

            <td><% type.name %></td>
            <td><strong><% eventSeries.length %></strong></td>
            <td><% type.count %></td>

          </tr>
        </tbody>

      </table>
    </div>
  </div>

  <!-- begin: single card -->
  <div id="card-timeseries"
       class="card active"
       ng-class="{hidden: !pointObject.timeseries.active}">
    <div class="card-title">
        <span class="card-title-text">Tijdreeks</span>
        <div class="card-title-button"
             ng-click="toggleThisCard('timeseries')">
          <span class="card-title-button-text">
            <i class="fa fa-chevron-down"></i>
          </span>
        </div>
    </div>
    <div class="card-content" id="card-content-timeseries">
      <hr class="card-separator" id="card-separator-timeseries">
      <select class="timeseries"
              ng-model="pointObject.timeseries.selectedTimeseries"
              ng-options="series as series.name for series in pointObject.timeseries.data">
      </select>
      <graph line
             data="pointObject.timeseries.selectedTimeseries.data"
             ylabel="pointObject.selectedTimeseries.name"
             xlabel="n">
       </graph>
    </div>
  </div>
  <!-- end: single card -->

  <!-- rain card v2 starts here... -->
  <div id="card-rain"
       class="card active"
       ng-class="{hidden: !(pointObject.temporalRaster.type === 'demo:radar'
                            && mapState.getActiveTemporalLayer()
                            && mapState.getActiveTemporalLayer().slug === 'demo:radar')}">
    <div class="card-title">
      <span class="card-title-text">Neerslag</span>
      <div class="card-title-button"
           ng-click="toggleThisCard('rain')">
        <span class="card-title-button-text">
          <i class="fa fa-chevron-down"></i>
        </span>
      </div>
      <a
        id="export-rain-csv-button"
        href="#"
        title="Data van deze infocard exporteren"
        ng-csv="pointObject.temporalRaster.data" filename="neerslag.csv"
        csv-header="['Timestamp (ms)', 'Rain (mm)']" >
        <i class="fa fa-share-square-o"></i>
      </a>
    </div>
    <div class="card-content" id="card-content-rain">

      <hr class="card-separator" id="card-separator-rain">

      <graph bar-chart
             class="xyGraph"
             ng-if="!!pointObject.temporalRaster.data"
             data="pointObject.temporalRaster.data"
             ylabel="pointObject.temporalRaster.aggWindow"
             yfilter="aggWinToYLabel"
             xlabel="tijd">
      </graph>
      <div class="recurrence-time-container"
           ng-if="!!pointObject.temporalRaster.recurrenceTime">

        <table class="table table-hover table-condensed">
          <caption>Herhalingstijden</caption>
          <thead>
            <tr>
              <th>Start</th>
              <th>Duur</th>
              <th class="text-right">mm</th>
              <th>Herhalingstijd</th>
            </tr>
          </thead>
          <tbody>
            <tr class="recurrence_time"
                ng-repeat="recurTime in pointObject.temporalRaster.recurrenceTime">
              <td><% recurTime.start | date : 'dd-MM-yyyy HH:mm' %></td>
              <td><% recurTime.td_window %></td>
              <td class="text-right"><% recurTime.max | number: 1 %></td>
              <td><% recurTime.t %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- ... rain card v2 ends here -->

</div>
