<div ng-controller="pointObjectCtrl">

  <!-- details for HYDRO-OBJECT a.k.a. Kunstwerk -->
  <div id="card-kunstwerk"
       class="card active"
       ng-class="{hidden: !pointObject.attrs.active}">

    <div class="card-content"
         id="card-content-kunstwerk">

      <i id="icon-holder"
         ng-if="pointObject.attrs.data.entity_name.split('_')[0] === 'bridge'"
         class="icon-bridge-fixed">
      </i>
      <i id="icon-holder"
         ng-if="pointObject.attrs.data.entity_name.split('_')[0] !== 'bridge'"
         class="icon-<% pointObject.attrs.data.entity_name.split('_')[0] %>">
      </i>

      <span class="kunstwerk-title">
        <span id="title-holder"
              class="card-title-text kunstwerk-title-text">
          <% gettext(pointObject.attrs.data.entity_name) %>
        </span>
        &nbsp;
        <span class="kunstwerk-title-suffix">
          <span ng-if="pointObject.attrs.data.code">(</span>
          <span class="truncateme ng-binding"
                ng-bind="pointObject.attrs.data.code">
          </span>
          <span ng-if="pointObject.attrs.data.code">)</span>
        </span>
      </span>

      <cardattributes></cardattributes>
    </div>
  </div>

  <div id="card-relatified-events"
       class="card active"
       ng-class="{hidden: !pointObject.events.data.length > 0}">

    <div class="card-content"
         id="card-content-relatified-events">

      <table class="table table-hover table-condensed">

        <tr ng-repeat="event in pointObject.events.data |
                       filter:{inTemporalExtent: true} |
                       orderBy:event.timestamp_start |
                       limitTo:5">

            <td rel="tooltip"
                data-placement="left"
                title="<% event.category %>">
              <i class="fa fa-circle"
                 ng-style="{color: events.types[event.event_series].color }">
              </i>
            </td>

            <td rel="tooltip"
                data-placement="left"
                title="start: <% event.timestamp_start | date:'dd/MM/yyyy' %>
                       eind: <% event.timestamp_end | date:'dd/MM/yyyy' %>">
                <% event.timestamp_start | date:'dd/MM/yyyy' %>
            </td>
            <td rel="tooltip"
                data-placement="left"
                title="<% event.value %>">
              <% event.value | truncate:40 %>
            </td>

          </tr>
        <tr ng-if="pointObject.events.data.length > 5" >
          <td colspan=3
            rel="tooltip"
            data-placement="left"
            title="+ <% pointObject.events.data.length - 5 %>" >
            ...
          </td>
        </tr>

      </table>
    </div>
  </div>

  <!-- begin: single card -->
  <div id="card-timeseries"
       class="card active"
       ng-class="{hidden: !pointObject.timeseries.active}">

    <div class="card-content" id="card-content-timeseries">
      <select class="timeseries"
              ng-model="pointObject.timeseries.selectedTimeseries"
              ng-options="series as series.name for series in pointObject.timeseries.data">
      </select>
<!--       <graph line
             data="pointObject.timeseries.selectedTimeseries.data"
             ylabel="pointObject.selectedTimeseries.name"
             xlabel="n"
             keys="{x: 0, y: 1}">
       </graph> -->
    </div>
  </div>
  <!-- end: single card -->
  <div id="card-not-rain"
       ng-if="!!pointObject.temporalRaster.data && !mustShowRainCard(mapState, pointObject)"
       class="card active">
    <div class="card-content" id="card-content-whatever">
      <graph line
             type="temporal"
             data="pointObject.temporalRaster.data"
             ylabel="'hoogte [mNAP]'"
             keys="{x: 0, y: 1}"
             now="timeState.at">
      </graph>
    </div>
  </div>


  <div id="card-rain"
       class="card active"
       ng-if="mustShowRainCard(mapState, pointObject)">
    <div class="card-content" id="card-content-rain">
      <a
        id="export-rain-csv-button"
        href="#"
        title="Data van deze infocard exporteren"
        ng-csv="formatCSVColumns(pointObject.temporalRaster.data)"
        filename="neerslag.csv"
        csv-header="['Datestamp', 'Timestamp', 'Rain (mm)', 'Latitude', 'Longitude']" >
        <i class="fa fa-share-square-o"></i>
      </a>

      <graph bar-chart
             class="xyGraph"
             ng-if="!!pointObject.temporalRaster.data"
             data="pointObject.temporalRaster.data"
             ylabel="pointObject.temporalRaster.aggWindow"
             yfilter="aggWinToYLabel"
             keys="{x: 0, y: 1}"
             now="timeState.at">
      </graph>
      <div class="recurrence-time-container"
           ng-if="!!pointObject.temporalRaster.recurrenceTime">

        <table class="table table-hover table-condensed">
          <caption>Herhalingstijden</caption>
          <thead>
            <tr>
              <th>Start</th>
              <th>Duur</th>
              <th class="text-right">mm</th>
              <th>Herhalingstijd</th>
            </tr>
          </thead>
          <tbody>
            <tr class="recurrence_time"
                ng-repeat="recurTime in pointObject.temporalRaster.recurrenceTime">
              <td><% recurTime.start | date : 'dd-MM-yyyy HH:mm' %></td>
              <td><% recurTime.td_window %></td>
              <td class="text-right"><% recurTime.max | number: 1 %></td>
              <td><% recurTime.t %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- ... rain card v2 ends here -->

</div>
