<!-- CARD 1/4: object info -->
<div class="card">

  <actions></actions>
  <cardtitle data-icon="icon-pumpstation-diesel"
             data-name="Rioolgemaal">
  </cardtitle>
  <cardattributes></cardattributes>
  <detailswitch></detailswitch>

  <div class="hidden-details"
       ng-class="{'unhidden-details': pointObject.attrs.data.details}">
    <streetview></streetview>
  </div>
</div>

<!-- CARD 2/4: timeseries -->
<div class="card">
  <timeseries></timeseries>
</div>

<!-- CARD 3/4: event -->
<div class="card">
  <event></event>
</div>

<!-- CARD 4/4: eventaggregate -->
<eventaggregate></eventaggregate>

