<div class="dashboard-wrapper" ng-controller="TimeCtxCtrl as tctx">
  <div class="container-fluid">

    <div class="row">

      <div id="time-ctx-top-row-place-holder" class="col-md-10 dashboard-inner"></div>

    </div>
    <div class="row" ng-repeat="item in tctx.content">

      <div class="dashboard-inner">

        <graph
          bar-chart
          data="item.data"
          dimensions="tctx.dims"
          type="temporal"
          temporal="state.temporal"
          ylabel="item.unit"
          keys="{x: 0, y: 1}">
        </graph>

      </div>

    </div>
  </div>
</div>
