<div class="scenarios-wrapper" ng-controller="ScenariosCtrl">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-7">
        <!--<a ng-click="switchContext('map')" class="btn btn-default"><i class="fa fa-arrow-left"></i></a>-->
        <h4>Resultaten van 3Di</h4>
      </div>
   </div>
    <div class="row">
      <div class="col-md-10 scenarios-inner">

        <input type="text" class="form-control" ng-model="search" placeholder="Zoek">
        <table class="table table-hover scenarios-table">
          <thead>
            <th></th>
            <th>Naam</th>
            <th>Datum</th>
            <th>Resultaten</th>
          </thead>
          <tbody if="scenarios.length > 0">
            <tr ng-repeat="scenario in scenarios | filter: search"
              ng-class="{'selected-scenario': selectedScenario === scenario}">
              <td ng-click="select(scenario)" ><i class="fa clickable"
                  ng-class="{'fa-chevron-right': selectedScenario != scenario,
                             'fa-chevron-down': selectedScenario === scenario}"></i></td>
              <td ng-click="select(scenario)" class="clickable" ><% scenario.name %></td>
              <td ng-click="select(scenario)" class="clickable" ><% scenario.created | date: 'MMM d, y HH:mm:ss a' %><td>
              <table class="table table-condensed result-table"
                ng-if="selectedScenario ===
                    scenario && scenario.result_set.length > 0">
                <tr ng-repeat="result in scenario.result_set">
                  <td><% result.result_type.name %></td>
                  <td><button ng-click="preview(scenario)">preview</button></td>
                  <td><a href="<% result.attachment_url %>">Download</a></td>
                </tr>

              </table>
              <span ng-if="scenario.result_set.length === 0">
                Geen bijbehorende resultaten
              </span>
            </tr>
          </tbody>

        </table>


      </div>

    </div>

  </div>
</div>


