<div class="scenarios-wrapper" ng-controller="ScenariosCtrl">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-10 scenarios-inner">

        <input type="text" class="form-control" ng-model="search" placeholder="Zoek">
        <table class="table table-hover scenarios-table">
          <thead>
            <th>Naam</th>
            <th>Datum</th>
            <th>Resultaten</th>
          </thead>
          <tbody if="scenarios.length > 0">
            <tr ng-repeat="scenario in scenarios | filter: search" 
              class="clickable" 
              ng-class="{'selected-scenario': selectedScenario === scenario}"
              ng-click="select(scenario)">
              <td><% scenario.name %></td>
              <td><% scenario.created | date: 'MMM d, y HH:mm:ss a' %><td>
              <table class="table table-condensed result-table"
                ng-if="selectedScenario === 
                    scenario && scenario.result_set.length > 0">
                <tr ng-repeat="result in scenario.result_set">
                  <td><% result.result_type.name %></td>
                  <td><a href="<% result.attachment_url %>">Download</a></td>
                </tr>

              </table>
              <span ng-if="scenario.result_set.length === 0">
                Geen bijbehorende resultaten
              </span>
            </tr>
          </tbody>
        
        </table>
        
      
      </div>

    </div>

  </div>
</div>

 
