<div class="scenarios-wrapper" ng-controller="ScenariosCtrl">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-7">
        <!--<a ng-click="switchContext('map')" class="btn btn-default"><i class="fa fa-arrow-left"></i></a>-->
        <h4>Resultaten van 3Di</h4>
      </div>
      <div class="col-md-5">
        <div class="pull-right">
              <a ng-if="user.authenticated"
                 title="<% tooltips.profile %>"
                 href="http://sso.lizard.net/edit_profile/">
                <div class="" ng-cloak id="username" >
                  <i id="" class="fa fa-user" style="font-size:1.2em;"></i>
                  <span ng-bind="user.firstName"></span>
                </div>
              </a>
              <a ng-if="!user.authenticated"
                 onclick="logIn()"
                 title="<% tooltips.login %>">
                <div class="" ng-cloak id="username" >
                  <i id="" class="fa fa-user" style="font-size:1.2em;"></i>
                  Login
                  <span></span>
                </div>
              </a>
              <a ng-if="user.authenticated"
                 class="logout"
                 href="/accounts/logout/?next=/"
                 title="<% tooltips.logout %>"
                 onclick="return logOut()">
                <div class="pull-right"
                     id="username"
                     title="<% tooltips.logout %>">
                  Uitloggen
                  <i id="" style="font-size:1.2em;" class="fa fa-power-off"></i>
                </div>
              </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 scenarios-inner">

        <input type="text" class="form-control" ng-model="search" placeholder="Zoek">
        <table class="table table-hover scenarios-table">
          <thead>
            <th></th>
            <th>Naam</th>
            <th>Datum</th>
            <th>Resultaten</th>
          </thead>
          <tbody if="scenarios.length > 0">
            <tr ng-repeat="scenario in scenarios | filter: search" 
              ng-class="{'selected-scenario': selectedScenario === scenario}">
              <td ng-click="select(scenario)" ><i class="fa clickable"
                  ng-class="{'fa-chevron-right': selectedScenario != scenario,
                             'fa-chevron-down': selectedScenario === scenario}"></i></td>
              <td ng-click="select(scenario)" class="clickable" ><% scenario.name %></td>
              <td ng-click="select(scenario)" class="clickable" ><% scenario.created | date: 'MMM d, y HH:mm:ss a' %><td>
              <table class="table table-condensed result-table"
                ng-if="selectedScenario === 
                    scenario && scenario.result_set.length > 0">
                <tr ng-repeat="result in scenario.result_set">
                  <td><% result.result_type.name %></td>
                  <td><a href="<% result.attachment_url %>">Download</a></td>
                </tr>

              </table>
              <span ng-if="scenario.result_set.length === 0">
                Geen bijbehorende resultaten
              </span>
            </tr>
          </tbody>
        
        </table>
        
      
      </div>

    </div>

  </div>
</div>

 
