<div class="dashboard-wrapper">

  <div ng-if="item.type !== 'empty'" ng-repeat="item in dashboard.graphs" data-order="<% $index %>" class="row dashboard-inner">

    <graph
      ng-if="item.type === 'temporalLine'"
      line
      content="item.content"
      temporal="dashboard.state.temporal"
      dimensions="item.dimensions">
     </graph>

    <graph
      ng-if="item.type === 'distance'"
      line
      content="item.content"
      dimensions="item.dimensions">
    </graph>

    <graph
      ng-if="item.type === 'rain'"
      bar-chart
      content="item.content"
      temporal="dashboard.state.temporal"
      dimensions="item.dimensions">
    </graph>

  </div>

</div>
