<div class="dashboard-wrapper" ng-controller="DashboardCtrl">
  <div class="container-fluid">
    <div class="row">
     <div class="col-md-1">
     </div>
     <div class="col-md-8 dashboard-inner">
       <div class="row">
         <graph ng-if="eventAggs"
                bar-chart
                class="xyGraph"
                data="eventAggs"
                ylabel="ylabels.reports"
                keys="{x: 'timestamp', y: 'count', color: 'color', category: 'category'}"
                dimensions="dimensions"
                now="timeState.at">
          </graph>
       </div>
       <div class="row">
         <graph ng-if="eventAggs"
                bar-chart
                class="xyGraph"
                data="eventAggs"
                ylabel="ylabels.duration"
                keys="{x: 'timestamp', y: 'mean_duration', color: 'color', category: 'category'}"
                dimensions="dimensions"
                now="timeState.at">
          </graph>
        </div>
      </div>
      <div class="col-md-2 dashboard-table">
        <table class="table table-hover table-condensed">
          <tbody>
          <tr>
            <td>legend categories</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
