<div class="card"
     ng-class="mapState.mapMoving ? 'card-hidden' : ''"
     ng-switch on="box.type">

    <div ng-switch-when="aggregate">
      <div class="card-title">
        <i class="fa fa-sitemap"></i><span class="title-text" style="margin-left:10px !important;">Prestatie Indicatoren (PI)</span>
    </div>

   <table ng-table="kpiTableParams" class="table">
    <tbody ng-repeat="group in $groups">
        <tr class="ng-table-group">
            <td colspan="<% $columns.length %>">            
                <a href="" 
                   ng-init="group.$hideRows = true" 
                   ng-click="group.$hideRows = !group.$hideRows">
                    <span class="glyphicon" 
                          ng-class="{ 'glyphicon-chevron-right': group.$hideRows, 'glyphicon-chevron-down': !group.$hideRows }"></span>
                    <strong><% group.value %> (id: <% group.data[0].event_series %>)</strong>
                </a>
            </td>
        </tr>
        <tr ng-hide="group.$hideRows" ng-repeat="feature in events.data.features">
         <!-- | filter: {feature.properties.event_series: group.data[0].event_series} -->
         <!-- TODO: Cant figure out how to use filter/ng-hide to show only the corresponding event_series -->
          <td data-title="'Categorie'">
            <% feature.properties.category %>
          </td>   
          <td data-title="'Totaal'">
            0
          </td>
          <td data-title="'ID'">
            <% feature.properties.event_series %>
          </td>
        </tr>        
    </tbody>
    </table>

    </div>
</div>