<div class="card"
     ng-class="mapState.mapMoving ? 'card-hidden' : ''"
     ng-switch on="box.type">

    <div ng-switch-when="aggregate">
      <div class="card-title">
        <i class="fa fa-sitemap"></i><span class="title-text" style="margin-left:10px !important;">Prestatie Indicatoren (PI)</span>
    </div>

   <table ng-table="kpiTableParams" class="table">
    <tbody ng-repeat="group in $groups">
        <tr class="ng-table-group">
            <td colspan="<% $columns.length %>">            
                <a href="" 
                   ng-init="group.$hideRows = true" 
                   ng-click="group.$hideRows = !group.$hideRows">
                    <span class="glyphicon" 
                          ng-class="{ 'glyphicon-chevron-right': group.$hideRows, 'glyphicon-chevron-down': !group.$hideRows }"></span>
                    <strong><% group.value %></strong>
                </a>
            </td>
        </tr>
        <tr ng-hide="group.$hideRows" ng-repeat="event in group.data">   
        <!-- TODO: This should loop over the categories and show the totals of their events -->
             <td sortable="type" data-title="'Type'">
                <% event.type %>
            </td>
            <td sortable="currentCount" data-title="'Actief'">
                <% events.types[event.event_series].currentCount %>
            </td>
            <td data-title="'Totaal'">
                <% event.event_count %>
            </td>
        </tr>
    </tbody>
    </table>

    </div>
</div>