<div class="card">
    <div class="actions">
        <ul>
            <li class="export"><a href="#" title="Exporteren"><i class="fa fa-share-square-o"></i></a></li>
            <li class="fullscreen"><a href="#" title="Volledig beeld"><i class="fa fa-arrows-alt"></i></a></li>
        </ul>
    </div>

    <div class="card-title">
        <img src="/static/distjs/images/bridge.png" class="img-circle">
        <span>Brug</span>&nbsp;(<span class="truncateme ng-binding" ng-bind="activeObject.code"></span>)
    </div>
    <table class="fullwidth">
        <tbody>
        <tr>
            <td>Type</td>
            <td><span ng-bind="activeObject.type | niceNumberOrDash: 2" class="ng-binding">...</span></td>
        </tr>  
        <tr>
            <td>Breedte</td>
            <td><span ng-bind="activeObject.width | niceNumberOrDash: 2" class="ng-binding">...</span></td>
        </tr>
        <tr>
            <td>lengte</td>
            <td><span ng-bind="activeObject.length | niceNumberOrDash: 2" class="ng-binding">...</span></td>
        </tr>
        <tr>
            <td>Hoogte</td>
            <td><span ng-bind="activeObject.height | niceNumberOrDash: 2" class="ng-binding">...</span></td>
        </tr>
        </tbody>
    </table>

    <details>
        <summary>Meer details</summary>
        <table>
            <tbody>
            <tr>
                <td>Regelbaar?</td>
                <td><i class="fa fa-check"></i></td>
            </tr>     
            </tbody>
        </table>    
    </details>
</div>
