<div class="card">
<!-- Card for "culvert" / "duiker" -->
  <div class="actions">
    <ul>
      <li class="export"><a href="#" title="Exporteren"><i class="fa fa-share-square-o"></i></a></li>
      <li class="fullscreen"><a href="#" title="Volledig beeld"><i class="fa fa-arrows-alt"></i></a></li>
    </ul>
  </div>

  <div class="card-title">
    <img src="/static/distjs/images/knoop.png" class="img-circle">
    <span>Duiker</span>&nbsp;(<span class="truncateme ng-binding" ng-bind="activeObject.code">...</span>)
  </div>

    <table class="fullwidth">
      <tbody>
      <tr>
        <td style="width:170px;">Type</td>
        <td>
          <abbr title="<% activeObject.type %>"><span ng-bind="activeObject.type | truncate:20" class="truncateme ng-binding"></span></abbr>
        </td>
      </tr>
      <tr>
        <td>Lengte</td>
        <td>
          <span ng-bind="activeObject.length | niceNumberOrEllipsis: 2" class="ng-binding" style="word-spacing: -2px;"></span>
          <span ng-if="!!activeObject.surface_level_ahn2"> m
        </td>  
      </tr>    
      <tr>
        <td>Breedte</td>
        <td>
          <span ng-bind="activeObject.width | niceNumberOrEllipsis: 2" class="ng-binding" style="word-spacing: -2px;"></span>
          <span ng-if="!!activeObject.width"> m</span>
        </td> 
      </tr>               
    </tbody></table>


    <div class="card-details" ng-click="activeObject.details = !activeObject.details">
      <i class="fa fa-caret-right icon-ready-to-rotate" ng-class="{'rotate-ninety': activeObject.details}"></i><span ng-if="!activeObject.details"> Meer details</span><span ng-if="activeObject.details"> Minder details</span>
    </div>
    <div class="hidden-details" ng-class="{'unhidden-details': activeObject.details}">
      <table class="fullwidth">
        <tbody><tr>
          <td style="width:170px;">Richting</td>
          <td><span ng-bind="activeObject.allowed_flow_direction | allowedFlowDirection" class="ng-binding"></span></td>
        </tr>
        <tr>
          <td><abbr title="Binnen Onderkant Buis (bovenstrooms)">BOB bovenstrooms</abbr></td>
          <td><span ng-bind="activeObject.bed_level_upstream | niceNumberOrDash: 2" class="ng-binding">...</span></td>
        </tr>
        <tr>
          <td><abbr title="Binnen Onderkant Buis (benedenstrooms)">BOB benedenstrooms</abbr></td>
          <td><span ng-bind="activeObject.bed_level_downstream | niceNumberOrDash: 2" class="ng-binding">...</span></td>
        </tr>
        </tr>        
        </tbody>
      </table>

    </div>  

</div>