<div ng-controller="ObjectIdGraphCtrl">
	<div class="card">
		<div class="card-head">
			<img src="/static/source/assets/images/geslotenleiding.png" class="img-circle"/>
			<span>Geslotenleiding</span>	
			<table class="left">
				<tr>
					<td>Lengte </td>
					<td ng-bind="metadata.fromgrid.lei_len"></td>
				</tr>
				<tr>
					<td>Breedte </td>
					<td ng-bind="metadata.fromgrid.pro_bre"></td>
				</tr>
			</table>
			<table class="right">
				<tr>
					<td>Hoogte </td>
					<td ng-bind="metadata.fromgrid.pro_hgt"></td>
				</tr>
				<tr>
					<td>Hoogte </td>
					<td ng-bind="metadata.fromgrid.pro_bre"></td>
				</tr>
			</table>
		</div>
	</div>
	<div class="card">
	  <div class="input-prepend">
	  	<span class="add-on"> Tijdreeks</span> 
	  	<select ng-model="selected_timeseries" ng-options="tijdseries as tijdseries.code for tijdseries in timeseries"></select>
	  </div>

		<nxt-line-graph data="data" title="metadata.title" xlabel="metadata.xlabel" ylabel="metadata.ylabel"></nxt-line-graph>
	</div>
</div>