<div class="card">
  <div class="card-title">
    <img src="/static/distjs/images/geslotenleiding.png" class="img-circle"/>
    <span>Geslotenleiding</span><span class="truncateme" ng-bind="metadata.title"></span>
  </div>
  <table class="left">
    <tr>
      <td>Lengte (m) </td>
      <td ng-bind="metadata.fromgrid.lei_len | number: 2"></td>
    </tr>
    <tr>
      <td>Breedte (m) </td>
      <td ng-bind="metadata.fromgrid.pro_bre | number: 2"></td>
    </tr>
  </table>
  <table class="right">
    <tr>
        <td>Hoogte (m) </td>
        <td ng-bind="metadata.fromgrid.pro_hgt | number: 2"></td>
    </tr>
   </table>
</div>
<div class="card" ng-class="{hidden: selected_timeseries == undefined}">
  <div class="input-prepend">
    <span class="add-on"> Tijdreeks</span> 
    <select class="timeseries" ng-model="selected_timeseries" ng-options="tijdseries as tijdseries.name for tijdseries in timeseries"></select>
  </div>

    <nxt-line-graph data="data" title="" xlabel="metadata.xlabel" ylabel="metadata.ylabel"></nxt-line-graph>
</div>
