<div class="card objectidgraph" ng-controller="ObjectIdGraphCtrl">
	<strong>Knoop - <% metadata.fromgrid.id %></strong>
	<dl class="dl-horizontal">
		<dt>BOK (m)</dt><dd ng-bind="metadata.fromgrid.knp_bok"></dd>
		<dt>Breedte (m)</dt><dd ng-bind="metadata.fromgrid.knp_bre"></dd>
		<dt>Water op straat (m<sup>2</sup>)</dt><dd ng-bind="metadata.fromgrid.wos_opp"></dd>
	</dl>
  <div class="input-prepend">
  	<span class="add-on"> Tijdreeks</span> 
  	<select ng-model="selected_timeseries" ng-options="tijdseries as tijdseries.name for tijdseries in timeseries"></select>
  </div>

	<nxt-line-graph data="data" title="metadata.name" xlabel="metadata.xlabel" ylabel="metadata.ylabel"></nxt-line-graph>
</div>