<div ng-controller="ResultsCtrl">
  <div ng-show="box.query.length>0" ng-cloak ng-repeat="(key, value) in searchData" class="card location">
    <i class="icon-table"></i>&nbsp;<a href="#"><span ng-cloak ng-repeat="(k,v) in value">
      <span ng-bind-html-unsafe="k | highlight:box.query"></span>: <span ng-bind-html-unsafe="v | highlight:box.query"></span></a>
    </span>       
  </div>
  
  
  <div ng-show="box.content === 'location'" class="card location" ng-cloak ng-repeat="g in box.content | orderBy:'display_name'">
    <i class="icon-map-marker"></i>&nbsp;<a ng-click="setOmnibox({type:'location', object:g})" title="{[{ g.display_name }]}" data-latitude="{[{ g.lat }]}" data-longitude="{[{ g.lon }]}" style="cursor:pointer;"><span ng-bind-html-unsafe="g.display_name | highlight:box.query"></span></a>
  </div>
  
  
  
  
  
  <!--
  <div class="card location" ng-hide="!featureData">
    <ul>
        <li ng-repeat="(key, value) in featureData">
            <ul>
                <li><span ng-bind="key"></span></li>
                <li class="pull-right" style="display:inline;">
                    <span ng-bind="value"></span>
                </li>
            </ul>
            
        </li>
    </ul>
    <table width="100%">
        <tr>
            <td width="20%">
                <a ng-click="saveAsFavorite(featureData)" href="#" title="Opslaan als favoriet" style="text-decoration:none;">
                <i class="icon-star icon-large" style="color:#619CE5;"></i>
                <span style="position:relative;top:17px;left:-35px;color:#619CE5;">
                    <small>Bewaren</small>
                </span></a>
            </td>
            <td width="20%">
                <a ng-click="shareFeature(featureData)" href="#" title="Delen met anderen" style="text-decoration:none;">
                <i class="icon-share icon-large" style="color:#619CE5;"></i>
                <span style="position:relative;top:17px;left:-30px;color:#619CE5;">
                    <small>Delen</small>
                </span></a>                    
            </td>
            <td width="60%">
                &nbsp;
            </td>
        </tr>
    </table>
  </div>
  -->
</div>