<div class="card">
  <div class="card-title">
    <img src="/static/distjs/images/knoop.png" class="img-circle"/>
    <span>Knoop</span><span class="truncateme" ng-bind="metadata.title"></span>
  </div>
  <table class="left">
    <tr>
      <td>BOK (m) </td>
      <td ng-bind="metadata.fromgrid.bottom_level | number: 2"></td>
    </tr>
    <tr>
      <td>Breedte (m) </td>
      <td ng-bind="metadata.fromgrid.width | number: 2"></td>
    </tr>
  </table>
  <table class="right">
    <tr>
      <td>WOS opp. (m<sup>2</sup>) </td>
      <td ng-bind="metadata.fromgrid.drainage_area | number: 2"></td>
    </tr>
    <tr>
      <td>Maaiveld (m NAP) </td>
      <td ng-bind="metadadata.fromgrid.surface_level | number: 2"></td>
    </tr>
  </table>
</div>
<div class="card" ng-class="{hidden: selected_timeseries == undefined}">
  <div class="input-prepend">
    <span class="add-on"> Tijdreeks</span> 
    <select ng-model="selected_timeseries" ng-options="tijdseries as tijdseries.name for tijdseries in timeseries"></select>
  </div>

  <nxt-line-graph data="timeseriesdata" title="" xlabel="metadata.xlabel" ylabel="metadata.ylabel"></nxt-line-graph>
</div>
