<div class="card">
<!-- Card for "put" / "manhole" -->
    <div class="actions">
      <ul>
        <li class="export"><a href="#" title="Data van deze infocard exporteren"><i class="fa fa-share-square-o"></i></a></li>
        <li class="fullscreen"><a href="#" title="Maak deze infocard groter"><i class="fa fa-arrows-alt"></i></a></li>
        <li class="favorite"><a href="#" title="Voeg toe aan favorieten"><i class="fa fa-bookmark"></i></a></li>
        <li class="metadata"><a href="#" title="Bekijk metadata"><i class="fa fa-question-circle"></i></a></li>
      </ul>
    </div>

    <div class="card-title">
      <img src="/static/distjs/images/knoop.png" class="img-circle">
      <span>Put</span>&nbsp;(<span class="truncateme ng-binding" ng-bind="activeObject.code">...</span>)
    </div>
    <table class="left">
      <tbody>
      <tr>
        <td><abbr title="Maaiveld volgens beheergegevens (JAARTAL)">Maaiveld</abbr></td>
        <td ng-bind="activeObject.surface_level | niceNumberOrDash: 2" class="ng-binding">...</td>
      </tr>
      <tr>
        <td><abbr title="Werkelijk maaiveld volgens Algemene Hoogtekaart Nederland (JAARTAL)">Maaiveld (ahn2)</abbr></td>
        <td ng-bind="activeObject.surface_level_ahn2 | niceNumberOrDash: 2" class="ng-binding">...</td>
      </tr>    
      <tr>
        <td>Breedte</td>
        <td ng-bind="activeObject.width | niceNumberOrDash: 2" class="ng-binding">...</td>
      </tr>        
      <tr>
        <td>Lengte</td>
        <td ng-bind="activeObject.length | niceNumberOrDash: 2" class="ng-binding">...</td>
      </tr>            
    </tbody></table>
    <table class="right">
      <tbody><tr>
        <td>Vorm</td>
        <td ng-bind="activeObject.shape | niceNumberOrDash: 2" class="ng-binding">...</td>
      </tr>
      <tr>
        <td>Putbodem</td>
        <td ng-bind="metadadata.fromgrid.bottom_level | niceNumberOrDash: 2" class="ng-binding">...</td>
      </tr>
      <tr>
        <td>Materiaal</td>
        <td ng-bind="activeObject.material | niceNumberOrDash: 2" class="ng-binding">...</td>
      </tr>        
      </tbody>
    </table>

    <hr style="clear:both;">

    <details>
      <summary>Meer details</summary>
      <img src="http://placehold.it/200x100">
    </details>  

</div>
