<div class="card">
	<h3 ng-bind="metadata.title"></h3>
	<h4 ng-show="metadata.type" ng-bind="metadata.type"></h4>
	<dl class="dl-horizontal">
		<dt>Lengte </dt><dd ng-bind="metadata.leidinglengte"></dd>
		<dt>Hoogte </dt><dd ng-bind="metadata.profiel_hoogte"></dd>
		<dt>Breedte </dt><dd ng-bind="metadata.profiel_breedte"></dd>
	</dl>
  <div class="input-prepend">
  	<span class="add-on"> Tijdreeks</span> 
  	<select ng-model="selected_timeseries" ng-options="tijdseries as tijdseries.name for tijdseries in timeseries"></select>
  </div>

	<nxt-line-graph data="data" title="metadata.name" xlabel="metadata.xlabel" ylabel="metadata.ylabel"></nxt-line-graph>
</div>