<div id="cards" class="pullDown cardbox ng-scope" ng-show="box.showCards"><div class="card">
    <!-- Card for "overflow" / "overstort" -->
    <div class="actions">
        <ul>
            <li class="export"><a href="#" title="Exporteren"><i class="fa fa-share-square-o"></i></a></li>
            <li class="fullscreen"><a href="#" title="Volledig beeld"><i class="fa fa-arrows-alt"></i></a></li>
        </ul>
    </div>

    <div class="card-title">
        <img src="/static/distjs/images/geslotenleiding.png" class="img-circle">
        <span>Gesloten Leiding</span>&nbsp;(<span class="truncateme ng-binding" ng-bind="activeObject.code | niceNumberOrEllipsis">...</span>)
    </div>
    <table class="left">
        <tbody>
        <tr>
            <td>Lengte</td>
            <td ng-bind="activeObject.length | niceNumberOrEllipsis: 2" class="ng-binding">...</td>
        </tr>
        <tr>
            <td>Breedte</td>
            <td ng-bind="activeObject.width | niceNumberOrEllipsis: 2" class="ng-binding">...</td>
        </tr>    
        <tr>
            <td>Hoogte</td>
            <td ng-bind="activeObject.height | niceNumberOrEllipsis: 2" class="ng-binding">...</td>
        </tr>        
        <tr>
            <td>Materiaal</td>
            <td ng-bind="activeObject.material" class="ng-binding">...</td>
        </tr>        
        </tbody>
    </table>
    <table class="right">
        <tbody><tr>
            <td>Vorm</td>
            <td ng-bind="activeObject.shape | niceNumberOrEllipsis: 2" class="ng-binding">...</td>
        </tr>
        <tr>
            <td><abbr title="Start binnen onderkant buis">BOB start</abbr></td>
            <td ng-bind="activeObject.invert_level_start_point | niceNumberOrEllipsis: 2" class="ng-binding">...</td>
        </tr>
        <tr>
            <td><abbr title="Eind binnen onderkant buis">BOB eind</abbr></td>
            <td ng-bind="activeObject.invert_level_end_point | niceNumberOrEllipsis: 2" class="ng-binding">...</td>
        </tr>        
        </tbody>
    </table>

    <hr style="clear:both;">

    <details>
        <summary>Meer details</summary>
        <div class="dwa-timeserie">DWA Timeserie hier...</div>
    </details>  
</div>
