<div class="card">
  <div class="card-title">
    <img src="/static/distjs/images/gemaal.png" class="img-circle"/>
    <span>Gemaal</span>
  </div>
  <table class="left">
    <tr>
      <td>Aanslagpeil (m NAP) </td>
      <td ng-bind="metadata.fromgrid.start_level | number: 2"></td>
    </tr>
    <tr>
      <td>Afslagpeil (m NAP) </td>
      <td ng-bind="metadata.fromgrid.stop_level | number: 2"></td>
    </tr>
  </table>
  <table class="right">
    <tr>
        <td>Capaciteit (l/s) </td>
        <td ng-bind="metadata.fromgrid.capacity | number: 2"></td>
    </tr>
   </table>
</div>
<div class="card">
  <div class="input-prepend">
    <span class="add-on"> Tijdreeks</span> 
    <select class="timeseries" ng-model="selected_timeseries" ng-options="tijdseries as tijdseries.name for tijdseries in timeseries"></select>
  </div>
    <nxt-line-graph data="data" title="" xlabel="metadata.xlabel" ylabel="metadata.ylabel"></nxt-line-graph>
</div>