<div class="card">
  <div class="card-title">
    <img src="/static/distjs/images/gemaal.png" class="img-circle"/>
    <span ng-bind="metadata.fromgrid.type"></span><span class="truncateme" ng-bind="metadata.title"></span>
  </div>
  <table class="left">
    <tr>
      <td>Aanslagpeil (m NAP) </td>
      <td ng-bind="metadata.fromgrid.start_level | number: 2"></td>
    </tr>
    <tr>
      <td>Afslagpeil (m NAP) </td>
      <td ng-bind="metadata.fromgrid.stop_level | number: 2"></td>
    </tr>
  </table>
  <table class="right">
    <tr>
        <td>Capaciteit (l/s) </td>
        <td ng-bind="metadata.fromgrid.capacity | number: 2"></td>
    </tr>
   </table>
</div>
<div class="card" ng-class="{hidden: box.content.selected_timeseries == undefined}" >
  <div class="input-prepend">
    <span class="add-on"> Tijdreeks</span> 
    <select class="timeseries" ng-model="box.content.selected_timeseries" ng-options="tijdseries as tijdseries.name for tijdseries in timeseries"></select>
  </div>
    <timeseries-rain timeseries="data" rainseries="rain.data" start="timeState.start" end="timeState.end" enabled="timeboxenabled" changed-zoom="timeState.changedZoom"></timeseries-rain>
</div>
