<div class="card" threedi-box>
    <a class="btn" 
       ng-click="requestMaster()" 
       ng-class="{disabled: have_master && !is_master}"
       title="<% state.player_master_name %>">
        <i ng-class="{'icon-star-empty': !is_master, 'icon-star': is_master}"> </i>
    </a>

    <div class="btn-group control-edit-buttons" 
       ng-class="{hide: !is_master}">

        <a href="#" class="btn btn-replay" ng-class="{disabled:!is_master || wait_for_server_response}"
        ng-click="!is_master || reset()">
          <i class="icon-repeat"></i>
        </a>
        <a href="#" id="btn-play" class="btn" ng-class="{disabled:!is_master || wait_for_server_response}" ng-click="!is_master || play_stop()">
          <i ng-class="{'green': state.has_future_events, 'icon-play': state.running_sim == '0', 'icon-pause': state.running_sim == '1'}"></i>
        </a>
    </div>

    <div class="btn-group control-edit-buttons" 
       ng-class="{hide: !is_master}">

        <a class="btn btn-rain" ng-class="{disabled: !is_master, 'btn-primary': program_mode == 'rain'}" ng-click="!is_master || setMode('rain')">
            <i class="icon-threedi-rain"></i></a>
        <a class="btn btn-discharge" ng-class="{disabled: !is_master,
        'btn-primary': program_mode == 'discharge'}"
        ng-click="!is_master || setMode('discharge')">
            <i class="icon-threedi-manhole"></i></a>
        <a class="btn btn-manhole" ng-class="{disabled: !is_master,
        'btn-primary': program_mode == 'manhole'}"
        ng-click="!is_master || setMode('manhole')">
            <i class="icon-threedi-pump"></i></a>
        <a class="btn btn-edit-bathy" ng-class="{disabled: !is_master,
        'btn-primary': program_mode == 'edit'}"
        ng-click="!is_master || setMode('edit')">
            <i class="icon-pencil"></i></a>
    </div>

</div>
