<div id="timeline" ng-controller="TimelineCtrl">
      <div id="timeline-ribbon" class="ribbon">
    <div class="arrow arrow-left" ng-click="toggleTimeline()" title="{% trans 'Map layers' %}">
    </div>
    <div class="arrow arrow-right" ng-click="toggleTimeline()" title="{% trans 'Map layers' %}"><i class="icon-time ribbon-icon"></i>
    </div>
  </div>
  <div class="bovenbalk">
    <div class="btn-group" >
      <button type="button" title="Select" class="btn btn-default" ng-class="{'active': timeState.timeline.tool == 'brush'}" ng-click="timeState.toggleTool()">
        <i class="icon-crop"></i>
      </button>
        <!-- TODO add zoom with intervals.. -->

<!--       <button type="button" class="btn btn-default" ng-click="timeline.toggleTimeline()">
        <i class="icon-collapse"></i>
      </button>
      <button type="button" class="btn btn-default" ng-click="timeline.zoom.in()">
        <i class="icon-zoom-in"></i>
      </button>
      <button type="button" class="btn btn-default" ng-click="timeline.zoom.out()">
        <i class="icon-zoom-out"></i>
      </button>
      <button type="button" class="btn btn-default" ng-class="{active: timeline.interval === 'week'}" ng-click="timeline.zoom.interval('week')">
        Week
      </button>
      <button type="button" class="btn btn-default" ng-class="{active
      : timeline.interval === 'month'}" ng-click="timeline.zoom.interval('month')">
        Month
      </button> -->
    </div>
        <span>
          <button ng-class="timeState.animation.enabled" ng-click="timeState.toggleAnimation()" type="button" class="btn btn-default" ><i class="icon-play"></i></button>
          <input ng-show="timeState.animation.enabled" type="range" class="middle" min="0" max="<% timeState.animation.length %>" ng-model="timeState.animation.currentFrame" ng-click="toggleRainPlay('off')">
          <span class="middle"><% timeState.start | date:'d MMM y' %> - <% timeState.end | date:'d MMM y' %> ( <% timeState.at | date:'d MMM y - HH:mm' %> )</span>        
        </span>
  </div>

  <div id="timeline-svg-wrapper"></div>
<!-- INFO: d3 inserts timelines here -->
</div>  
