<div id="timeline" ng-controller="TimelineCtrl">
      <div id="timeline-ribbon" class="ribbon">
    <div class="arrow arrow-left" ng-click="toggleTimeline()" title="{% trans 'Map layers' %}">
    </div>
    <div class="arrow arrow-right" ng-click="toggleTimeline()" title="{% trans 'Map layers' %}"><i class="icon-time ribbon-icon"></i>
    </div>
  </div>
  <div class="bovenbalk">
    <div class="btn-group" >
      <button type="button" title="Select" class="btn btn-default" ng-class="{'active': timeState.animation.enabled}" ng-click="timeState.enableAnimation()">
        <i ng-class="{'icon-crop': !timeState.animation.enabled, 'icon-resize-horizontal active': timeState.animation.enabled }"></i>
      </button>
      <button ng-click="timeState.toggleAnimation()" type="button" ng-class="{'active': timeState.animation.playing}" class="btn btn-default" ><i ng-class="{'icon-play': !timeState.animation.playing, 'icon-pause active': timeState.animation.playing }"></i></button>
      <label class="radio-inline speed-radio" id="left-speed-radio">
        <input type="radio" ng-model="timeState.animation.speed" value="0"> Fast
      </label>
      <label class="radio-inline speed-radio">
        <input type="radio" ng-model="timeState.animation.speed" value="50"> Medium
      </label>
      <label class="radio-inline speed-radio">
        <input type="radio" ng-model="timeState.animation.speed" value="400"> Slow
      </label>
        <!-- TODO add zoom with intervals.. -->

<!--       <button type="button" class="btn btn-default" ng-click="timeline.toggleTimeline()">
        <i class="icon-collapse"></i>
      </button>
      <button type="button" class="btn btn-default" ng-click="timeline.zoom.in()">
        <i class="icon-zoom-in"></i>
      </button>
      <button type="button" class="btn btn-default" ng-click="timeline.zoom.out()">
        <i class="icon-zoom-out"></i>
      </button>
      <button type="button" class="btn btn-default" ng-class="{active: timeline.interval === 'week'}" ng-click="timeline.zoom.interval('week')">
        Week
      </button>
      <button type="button" class="btn btn-default" ng-class="{active
      : timeline.interval === 'month'}" ng-click="timeline.zoom.interval('month')">
        Month
      </button> -->
    </div>
    <span class="middle"> | <% timeState.start | date:'d MMM y' %> - <% timeState.end | date:'d MMM y' %> ( <% timeState.at | date:'d MMM y - HH:mm' %> )</span>        
  </div>

  <div id="timeline-svg-wrapper"></div>
<!-- INFO: d3 inserts timelines here -->
</div>  
