<div class="card">
  <div class="card-title">
    <img src="/static/distjs/images/weir.png" class="img-circle"/>
    <span>Stuw</span>
  </div>
  <table class="left">
    <tr>
      <td>Kruinbreedte (m) </td>
      <td ng-bind="metadata.fromgrid.ground_level_upstream | number: 2"></td>
    </tr>
    <tr>
      <td>Kruinhoogte (m) </td>
      <td ng-bind="metadata.fromgrid.ground_level_downstream | number: 2"></td>
    </tr>
  </table>
  <table class="right">
    <tr>
        <td>Debiet coefficient</td>
        <td ng-bind="metadata.fromgrid.discharge_coef | number: 2"></td>
    </tr>
   </table>
</div>
<div class="card" ng-class="{hidden: selected_timeseries == undefined}">
  <div class="input-prepend">
    <span class="add-on"> Tijdreeks</span> 
    <select class="timeseries" ng-model="selected_timeseries" ng-options="tijdseries as tijdseries.name for tijdseries in timeseries"></select>
  </div>
    <nxt-line-graph data="data" title="" xlabel="metadata.xlabel" ylabel="metadata.ylabel"></nxt-line-graph>
</div>