<!DOCTYPE html>
<html ng-app="lizard-nxt" ng-controller="MasterCtrl" ng-keydown="keyPress($event)" >
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>Lizard</title>

    <link rel="icon"
              href="/images/favicon.png" />

    <!-- build:css(.) /styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/vendor/leaflet-dist/dist/leaflet.css" />
    <link rel="stylesheet" href="/vendor/lizard-iconfont/lizard/dest/css/Lizard.css" />
    <link rel="stylesheet" href="/vendor/ng-table/ng-table.css" />
    <link rel="stylesheet" href="/vendor/components-font-awesome/css/font-awesome.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <link href='//fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

    <!-- build:css(.tmp) /styles/main.css -->

    <link href="/styles/omnibox.css" rel="stylesheet" />
    <link href="/styles/graph.css" rel="stylesheet" />
    <link rel="stylesheet" href="/styles/main.css">
    <!-- endbuild -->

    <script type="text/javascript" src="/lizard-bs.js"></script>

  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">

      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand clickable"
             title="<% tooltips.version %>"
             ng-dblclick="toggleVersionVisibility()">
             <span>Lizard</span>
          </a>
          <a class="navbar-version"
            title="<% versioning.revision %>"
            href="#"
            style="display: none;">
            <span ng-bind="versioning.version"></span>
          </a>
        </div>

        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right" style="">

              <li ng-if="user.authenticated" class="visible-xs">
                <a class="user"
                   href="https://sso.lizard.net/edit_profile/"
                   title="Edit profile">
                  <div class="" id="username" ng-cloak>
                    <i id="" class="fa fa-user"></i>
                    <% user.firstName %>
                  </div>
                </a>
              </li>
              <li ng-if="user.authenticated"
                  class="visible-sm visible-md visible-lg">
                <a class="user"
                   title="<% tooltips.profile %>"
                   href="http://sso.lizard.net/edit_profile/">
                  <div class="" ng-cloak id="username">
                    <i id="" class="fa fa-user" style="font-size:1.2em;"></i>
                    <% user.firstName %>
                  </div>
                </a>
              </li>

              <li ng-if="user.authenticated"
                  class="visible-xs">
                <a class="user logout"
                   href="#"
                   title="<% tooltips.logout %>"
                   onclick="return logOut()">
                    <div class=""
                         title="<% tooltips.logout %>"
                         id="username">
                      <i id=""
                         class="fa fa-power-off"></i>&nbsp;&nbsp;Uitloggen
                    </div>
                </a>
              </li>

              <li ng-if="user.authenticated"
                  class="visible-sm visible-md visible-lg" style="width:63px;">
                <a class="user logout"
                   href="/accounts/logout/?next=/"
                   title="<% tooltips.logout %>"
                   onclick="return logOut()">
                  <div class="pull-right"
                       id="username"
                       title="<% tooltips.logout %>">
                    <i id="" style="font-size:1.2em;" class="fa fa-power-off"></i>
                  </div>
                </a>
              </li>

              <li ng-if="!user.authenticated">
                <a onclick="logIn()"
                   title="<% tooltips.login %>">
                <i id="" class="fa fa-user" style="font-size:1.2em;"></i></a>
              </li>

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div id="text-mode-scrollable">
    </div>

    <div id="master">
      <div class="layer-menu-container">
        <div class="layer-switcher-wrapper pull-right" ng-class="{'slide-left': mapState.enabled}">
          <div class="layer-switcher slide-left">
            <ul class="nav">
              <li class="nav-header">
                <ul class="list-group">
                  <li ng-repeat="layergroup in mapState.layerGroups | orderObjectBy: 'order': false">
                    <layer-chooser layergroup="layergroup"></layer-chooser>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <div id="ribbon"
               class="ribbon"
               title="<% mapState.enabled ? tooltips.closeMenu : tooltips.openMenu %>">
            <div class="arrow arrow-up" ng-click="mapState.enabled = !mapState.enabled">
            </div>
            <div class="arrow arrow-down" ng-click="mapState.enabled = !mapState.enabled"><i class="fa fa-compass ribbon-icon"></i>
            </div>
          </div>
          <div class="button-list-container" id="">

            <div class="button-list-item"
                 style="cursor: pointer">
              <a ng-click="toggleTool('point')"
                 class="button-list-link"
                 title="punt selectie"
                 ng-class="{'active': tools.active === 'point'}">
                 <i class="fa fa-dot-circle-o"></i>
              </a>
            </div>

            <div class="button-list-item"
                 style="cursor: pointer">
              <a ng-click="toggleTool('line')"
                 class="button-list-link"
                 title="lijn selectie"
                 ng-class="{'active': tools.active === 'line'}">
                 <i class="fa fa-expand"></i>
              </a>
            </div>

            <div class="button-list-item"
                 style="cursor: pointer">
              <a ng-click="toggleTool('area')"
                 class="button-list-link"
                 title="scherm selectie"
                 ng-class="{'active': tools.active === 'area'}">
                 <i class="fa fa-square-o"></i>
              </a>
            </div>

          </div>
        </div>

        <map layers="mapState.layers"
             rasterprofile="disabled"
             vectorlayer
             temporal-vector-layer
             surfacelayer
             rasteranimation
             ng-class="{'crosshair': tools.active === 'profile'}">
         </map>
      </div>
    </div>

    <div class="container" ng-controller="SearchCtrl">
      <omnibox id="omnibox" ng-controller="OmniboxCtrl"></omnibox>
    </div>


    <timeline class="navbar timeline navbar-fixed-bottom"></timeline>

    <!-- build:js(.) /scripts/vendor.js -->
    <!-- bower:js -->
    <script src="/vendor/jquery/jquery.js"></script>
    <script src="/vendor/angular/angular.js"></script>
    <script src="/vendor/angular-mocks/angular-mocks.js"></script>
    <script src="/vendor/angular-ui-bootstrap-bower/ui-bootstrap-tpls.js"></script>
    <script src="/vendor/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/vendor/d3/d3.js"></script>
    <script src="/vendor/jquery-ui/ui/jquery-ui.js"></script>
    <script src="/vendor/leaflet-dist/dist/leaflet.js"></script>
    <script src="/vendor/leaflet-dist/dist/leaflet-src.js"></script>
    <script src="/vendor/lodash/dist/lodash.compat.js"></script>
    <script src="/vendor/restangular/dist/restangular.js"></script>
    <script src="/vendor/ui-utils/ui-utils.js"></script>
    <script src="/vendor/ng-table/ng-table.js"></script>
    <script src="/vendor/angular-sanitize/angular-sanitize.js"></script>
    <script src="/vendor/ng-csv/build/ng-csv.min.js"></script>
    <script src="/vendor/raven-js/dist/raven.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) /scripts/scripts.js -->
    <script src="/scripts/lib/TileLayer.GeoJSONd3.js"></script>
    <script src="/scripts/lib/Layer.GeoJSONd3.js"></script>
    <script src="/scripts/lib/leaflet-utfgrid-lizard.js"></script>
    <script src="/scripts/lizard-nxt.js"></script>
    <script src="/scripts/services/cabinet-service.js"></script>
    <script src="/scripts/controllers/url-controller.js"></script>
    <script src="/scripts/services/url-service.js"></script>
    <script src="/scripts/services/util-service.js"></script>
    <script src="/scripts/controllers/omnibox-controller.js"></script>
    <script src="/scripts/services/raster-service.js"></script>
    <script src="/scripts/services/leaflet-service.js"></script>
    <script src="/scripts/services/map-service.js"></script>
    <script src="/scripts/services/layer-group-service.js"></script>
    <script src="/scripts/services/vector-service.js"></script>
    <script src="/scripts/services/temporal-vector-service.js"></script>
    <script src="/scripts/services/nxt-d3-service.js"></script>
    <script src="/scripts/services/timeline-service.js"></script>
    <script src="/scripts/services/wanted-attrs-constant.js"></script>
    <script src="/scripts/services/landuse-lookup-constant.js"></script>
    <script src="/scripts/services/temporal-vector-service.js"></script>
    <script src="/scripts/services/utfgrid-service.js"></script>
    <script src="/scripts/services/click-feedback-service.js"></script>
    <script src="/scripts/services/timeseries-service.js"></script>
    <script src="/scripts/controllers/search-controller.js"></script>
    <script src="/scripts/directives/map-directives.js"></script>
    <script src="/scripts/directives/omnibox-directives.js"></script>
    <script src="/scripts/services/graph-service.js"></script>
    <script src="/scripts/directives/graph-directives.js"></script>
    <script src="/scripts/directives/single-click-directive.js"></script>
    <script src="/scripts/directives/layer-chooser-directives.js"></script>
    <script src="/scripts/directives/opacity-directives.js"></script>
    <script src="/scripts/directives/template-directives.js"></script>
    <script src="/scripts/directives/timeline-directives.js"></script>
    <script src="/scripts/controllers/timeline-controller.js"></script>
    <script src="/scripts/controllers/point-controller.js"></script>
    <script src="/scripts/controllers/rain-controller.js"></script>
    <script src="/scripts/controllers/line-controller.js"></script>
    <script src="/scripts/controllers/area-controller.js"></script>
    <script src="/scripts/templates/templates.js"></script>
    <script src="/scripts/lib/utils.js"></script>
    <script src="/scripts/lizard-nxt-filters.js"></script>
    <script src="/scripts/services/layer-service.js"></script>
    <script src="/scripts/services/tms-layer-service.js"></script>
    <script src="/scripts/services/wms-layer-service.js"></script>
    <script src="/scripts/services/utf-layer-service.js"></script>
    <script src="/scripts/services/store-layer-service.js"></script>
    <script src="/scripts/services/vector-layer-service.js"></script>
    <script src="/scripts/services/leaflet-vector-service.js"></script>
    <!-- endbuild -->

  <script>
      // Set global constant "JS_DEBUG", to prevent debug info from reaching
      // the client when the current environment shouldn't allow it.

      // NB! This is a proper illustration of passing data from back-end to
      // front-end in a minimal fashion.
      window.JS_DEBUG = "True" === "True";
  </script>
  </body>
</html>
