<!DOCTYPE html>
<html ng-app="lizard-nxt" ng-controller="MasterCtrl" ng-keydown="keyPress($event)" >
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>Lizard</title>

    <link rel="icon"
              href="/images/favicon.png" />

    <!-- build:css(.) /styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <link href='//fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

    <!-- build:css(.tmp) /styles/main.css -->
    <link rel="stylesheet" href="/styles/main.css">
    <!-- endbuild -->

    <script type="text/javascript" src="/lizard-bs.js"></script>

  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">

      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand clickable"
             title="<% tooltips.version %>"
             ng-dblclick="toggleVersionVisibility()">
             <span>Lizard</span>
          </a>
          <a class="navbar-version"
            title="<% versioning.revision %>"
            href="#"
            style="display: none;">
            <span ng-bind="versioning.version"></span>
          </a>
        </div>

        <div class="navbar-collapse collapse">
         <ul class="nav navbar-nav navbar-right" style="">
           <li>
              <a href="https://www.lizard.net/support" title="Vragen en handleiding" target="_blank">
                <i class="fa fa-question" style="font-size: 1.2em"></i>
              </a>
            </li>

              <li ng-if="user.authenticated" class="visible-xs">
                <a class="user"
                   href="https://sso.lizard.net/edit_profile/"
                   title="Edit profile">
                  <div class="" id="username" ng-cloak>
                    <i id="" class="fa fa-user"></i>
                    <span ng-bind="user.firstName"></span>
                  </div>
                </a>
              </li>
              <li ng-if="user.authenticated"
                  class="visible-sm visible-md visible-lg">
                <a class="user"
                   title="<% tooltips.profile %>"
                   href="http://sso.lizard.net/edit_profile/">
                  <div class="" ng-cloak id="username" >
                    <i id="" class="fa fa-user" style="font-size:1.2em;"></i>
                    <span ng-bind="user.firstName"></span>
                  </div>
                </a>
              </li>

              <li ng-if="user.authenticated"
                  class="visible-xs">
                <a class="user logout"
                   href="#"
                   title="<% tooltips.logout %>"
                   onclick="return logOut()">
                    <div class=""
                         title="<% tooltips.logout %>"
                         id="username">
                      <i id=""
                         class="fa fa-power-off"></i>&nbsp;&nbsp;Uitloggen
                    </div>
                </a>
              </li>

              <li ng-if="user.authenticated"
                  class="visible-sm visible-md visible-lg" style="width:63px;">
                <a class="user logout"
                   href="/accounts/logout/?next=/"
                   title="<% tooltips.logout %>"
                   onclick="return logOut()">
                  <div class="pull-right"
                       id="username"
                       title="<% tooltips.logout %>">
                    <i id="" style="font-size:1.2em;" class="fa fa-power-off"></i>
                  </div>
                </a>
              </li>

              <li ng-if="!user.authenticated">
                <a onclick="logIn()"
                   title="<% tooltips.login %>">
                <i id="" class="fa fa-user" style="font-size:1.2em;"></i></a>
              </li>

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div id="text-mode-scrollable">
    </div>

    <datamenu></datamenu>

    <map></map>

    <div class="container">
      <omnibox id="omnibox" ng-controller="OmniboxCtrl as omnibox"></omnibox>
    </div>

    <timeline class="navbar timeline navbar-fixed-bottom"></timeline>

    <div id="dark-overlay">
      <div id="mymodal">
        <p>U gebruikt een verouderde browser die niet meer door Lizard wordt ondersteund.</p>
        <p> U dient Internet Explorer versie 10 of nieuwer te gebruiken,
        of een van de hieronder genoemde alternatieven.</p>
        <ul>
          <li><a href="http://www.google.com/chrome/">Google Chrome</a></li>
          <li><a href="https://www.mozilla.org/nl/firefox/new/">Mozilla Firefox</a></li>
      </div>
    </div>

    <!-- build:js(.) /scripts/vendor.js -->
    <!-- bower:js -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) /scripts/scripts.js -->

    <script src="/lib/utils.js"></script>

    <script src="/lizard-nxt.js"></script>

    <script src="/components/state/state.js"></script>
    <script src="/components/state/state-service.js"></script>
    <script src="/lib/cabinet-service.js"></script>
    <script src="/lib/util-service.js"></script>
    <script src="/lib/utfgrid-service.js"></script>
    <script src="/lib/raster-service.js"></script>
    <script src="/lib/vector-service.js"></script>
    <script src="/lib/nxt-d3-service.js"></script>
    <script src="/lib/click-feedback-service.js"></script>
    <script src="/lib/timeseries-service.js"></script>
    <script src="/lib/event-aggregate-service.js"></script>
    <script src="/lizard-nxt-filters.js"></script>

    <script src="/lib/leaflet/leaflet-service.js"></script>
    <script src="/lib/leaflet/leaflet-utfgrid-lizard.js"></script>
    <script src="/lib/leaflet/leaflet-vector-service.js"></script>

    <script src="/components/url/url-controller.js"></script>
    <script src="/components/url/url-service.js"></script>

    <script src="/components/map/services/nxt-map.js"></script>
    <script src="/components/map/services/map-service.js"></script>
    <script src="/components/map/map-directives.js"></script>

    <script src="/components/data-menu/data-menu-controller.js"></script>
    <script src="/components/data-menu/data-menu-directive.js"></script>
    <script src="/components/data-menu/services/tms-layer-service.js"></script>
    <script src="/components/data-menu/services/wms-layer-service.js"></script>
    <script src="/components/data-menu/services/non-tiled-wms-layer-service.js"></script>
    <script src="/components/data-menu/services/utf-layer-service.js"></script>
    <script src="/components/data-menu/services/store-layer-service.js"></script>
    <script src="/components/data-menu/services/vector-layer-service.js"></script>
    <script src="/components/data-menu/services/layer-service.js"></script>
    <script src="/components/data-menu/services/layer-group-service.js"></script>
    <script src="/components/data-menu/services/nxt-data.js"></script>
    <script src="/components/data-menu/services/data-service.js"></script>

    <script src="/components/layer-chooser/layer-chooser-directives.js"></script>

    <script src="/components/omnibox/omnibox.js"></script>
    <script src="/components/omnibox/controllers/omnibox-controller.js"></script>
    <script src="/components/omnibox/wanted-attrs-constant.js"></script>
    <script src="/components/omnibox/landuse-lookup-constant.js"></script>
    <script src="/components/omnibox/location-service.js"></script>
    <script src="/components/omnibox/controllers/point-controller.js"></script>
    <script src="/components/omnibox/controllers/rain-controller.js"></script>
    <script src="/components/omnibox/controllers/line-controller.js"></script>
    <script src="/components/omnibox/controllers/area-controller.js"></script>
    <script src="/components/omnibox/directives/template-directives.js"></script>
    <script src="/components/omnibox/directives/search-directive.js"></script>
    <script src="/components/omnibox/directives/omnibox-directives.js"></script>
    <script src="/components/omnibox/directives/full-details-directive.js"></script>

    <script src="/components/timeline/timeline-service.js"></script>
    <script src="/components/timeline/timeline-directives.js"></script>
    <script src="/components/timeline/time-controller.js"></script>

    <script src="/components/graph/graph-service.js"></script>
    <script src="/components/graph/graph-directives.js"></script>

    <script src="/components/single-click/single-click-directive.js"></script>
    <script src="/components/opacity/opacity-directives.js"></script>

    <script src="/templates.js"></script>
    <!-- endbuild -->

    <script>
        // Set global constant "JS_DEBUG", to prevent debug info from reaching
        // the client when the current environment shouldn't allow it.

        // NB! This is a proper illustration of passing data from back-end to
        // front-end in a minimal fashion.
        window.JS_DEBUG = "True" === "True";
        if (window.gauges) {
          gauges();
        }

        if (!window.JS_DEBUG) {
          var asciiArray = [
            "                                       o$o    o$$                   ",
            "                                      *          *$                 ",
            "                                     o           o$$                ",
            "                                                 o$$$               ",
            "                                               o$$$$                ",
            "                                              oo$$   $$$*$          ",
            "                                              o*$$     $ !          ",
            "                                           o  oo$$$$$$$$ $$$ *      ",
            "                                         !oo!oooo$$$$$  $$$$$       ",
            "                                          ooooooooo$$$$$$$$$$$$$$$$!",
            "                                             !  oooooo$$$$$$$$$$ooo ",
            " *$     $$  $$$$$    $$$    $$*$¿   $$ $$        ooooooooooooooooo  ",
            " *$     $$    $$    $$ $*   $$_$$   $   $$             ooooo        ",
            " *$     $$   $$     $$$$$   $$ $!   $   $$            ooo           ",
            " $$$$$!!$$$ $$$$$$ $$$ $$$ $$$$ $$ $$$$$$             o o           ",
            "",
            "Interesse?                                                  ",
            "http://www.nelen-schuurmans.nl/NL/bedrijfsprofiel/carriere "
            ];
            var hiring = asciiArray.join('\n');
            console.log(hiring);
          }
    </script>
  </body>
</html>
