<!DOCTYPE html>
<html ng-app="lizard-nxt" ng-controller="MasterCtrl" ng-keydown="keyPress($event)" >
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>Lizard</title>

    <!-- build:js /scripts/lizard-bs.js -->
    <script type="text/javascript" src="http://localhost:8000/scripts/lizard-bs.js"></script>
    <! endbuild -->

    <!-- build:css(.) /styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/vendor/leaflet-dist/dist/leaflet.css" />
    <link rel="stylesheet" href="/vendor/ng-table/ng-table.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) /styles/main.css -->

    <link href="/styles/omnibox.css" rel="stylesheet" />
    <link href="/styles/graph.css" rel="stylesheet" />
    <link href='//fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/styles/main.css">
    <!-- endbuild -->

  
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">

      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand"
             href="/"
             ng-dblclick="toggleVersionVisibility()">
             <span>Lizard</span>
          </a>
          <a class="navbar-version" href="/" title="revision: f8f416d"><span>v.0.7b6-17-gf8f416d</span></a>
        </div>

        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right" style="">

            
              <li class="visible-xs">
                <a class="user" href="https://sso.lizard.net/edit_profile/" title="Edit profile"><div class="" id="username"><i id="" class="fa fa-user"></i>&nbsp;&nbsp;Fritz</div></a>
              </li>
              <li class="visible-sm visible-md visible-lg">
                <a class="user"
                   rel="tooltip"
                   data-toggle="tooltip"
                   data-placement="left"
                   title="Edit profile"
                   href="http://sso.lizard.net/edit_profile/">
                  <div class="" id="username">
                    <i id="" class="fa fa-user" style="font-size:1.2em;"></i>&nbsp;&nbsp;Fritz
                  </div>
                </a>
              </li>

              <li class="visible-xs">
                <a class="user logout"
                   href="#"
                   rel="tooltip"
                   data-toggle="tooltip"
                   data-placement="left"
                   title="Logout"
                   onclick="return logOut()">
                    <div class=""
                         title="Logout"
                         rel="tooltip"
                         data-toggle="tooltip"
                         data-placement="left"
                         id="username">
                      <i id=""
                         class="fa fa-power-off"></i>&nbsp;&nbsp;Uitloggen
                    </div>
                </a>
              </li>
              <li class="visible-sm visible-md visible-lg" style="width:63px;">
                <a class="user logout"
                   rel="tooltip"
                   data-toggle="tooltip"
                   data-placement="left"
                   href="/accounts/logout/?next=/"
                   title="Logout"
                   onclick="return logOut()">
                  <div class="pull-right" id="username">
                    <i id="" style="font-size:1.2em;" class="fa fa-power-off"></i>
                  </div>
                </a>
              </li>
            
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    

    <div id="text-mode-scrollable">

    </div>

    <div id="master">
      <div class="layer-menu-container">
        <div class="layer-switcher-wrapper pull-right" ng-class="{'slide-left': mapState.enabled}">
          <div class="layer-switcher slide-left">
            <ul class="nav">
              <li class="nav-header">
                <ul class="list-group">
                  <li ng-repeat="layer in mapState.getLayersByType('base')">
                    <layer-chooser layer="layer"></layer-chooser>
                  </li>
                  <br>
                  <li ng-repeat="layer in mapState.getLayersByType('over')">
                    <layer-chooser layer="layer"></layer-chooser>
                  </li>
                  <br>
                  <li ng-repeat="layer in mapState.getLayersByType('temporal')">
                    <layer-chooser layer="layer"></layer-chooser>
                  </li>
                </ul>
              </li>
              <!-- Temporary item to enable events -->
              <li id="events" class="nav-header">
              <ul class="list-group">
                <li ng-repeat="event in mapState.eventTypes">
                  <i class="fa fa-circle" ng-style="{color: events.scale(event.event_series)}"> </i>
                  <!-- The wanted label if we do NOT truncate the event category name -->
                  <label ng-if="((event.type | truncate).length === event.type.length)"
                         class="ng-class: {active: events.types[event.event_series].active};"
                         ng-bind="event.type"
                         ng-click="events.toggleEvents(event.event_series);">
                  </label>
                  <!-- The wanted label if we want truncate the event category name -->
                  <label ng-if="((event.type | truncate).length !== event.type.length)"
                         class="ng-class: {active: events.types[event.event_series].active};"
                         ng-bind="event.type | truncate"
                         ng-click="events.toggleEvents(event.event_series);"
                         rel="tooltip"
                         data-placement="left"
                         title="<% event.type %>">
                  </label>
                </li>
              </ul>
              </li>
              <li class="nav-header">
              </li>
            </ul>
          </div>
          <div id="ribbon"
               class="ribbon"
               rel="tooltip"
               data-toggle="tooltip"
               data-placement="left"
               title="Kaartlagen">
            <div class="arrow arrow-up" ng-click="mapState.enabled = !mapState.enabled">
            </div>
            <div class="arrow arrow-down" ng-click="mapState.enabled = !mapState.enabled"><i class="fa fa-compass ribbon-icon"></i>
            </div>
          </div>
          <div class="button-list-container" id="">
            <div class="button-list-item">
              <a ng-click="toggleTool('line')"
                 class="button-list-link"
                 title="line tool"
                 ng-class="{'active': tools.active === 'line'}"
                 data-toggle="tooltip"
                 data-placement="left"
                 rel="tooltip">
                 <i class="fa fa-expand"></i>
              </a>
            </div>
            <div class="button-list-item">
              <a ng-click="toggleTool('pipeSurface')"
                 class="button-list-link"
                 title="impervious surface"
                 ng-class="{'active': tools.active === 'pipeSurface'}"
                 data-toggle="tooltip"
                 data-placement="left"
                 rel="tooltip">
                 <i class="fa fa-code-fork"></i>
              </a>
            </div>
          </div>
        </div>

        <map layers="mapState.layers"
             rasterprofile="disabled"
             vectorlayer
             temporal-vector-layer
             surfacelayer
             rasteranimation
             ng-class="{'crosshair': tools.active === 'profile'}">
         </map>
      </div>
    </div>

    <div class="container" ng-controller="SearchCtrl">
      <omnibox id="omnibox" ng-controller="OmniboxCtrl"></omnibox>
    </div>

    

    <!-- build:js(.) /scripts/vendor.js -->
    <!-- bower:js -->
    <script src="/vendor/jquery/jquery.js"></script>
    <script src="/vendor/angular/angular.js"></script>
    <script src="/vendor/angular-mocks/angular-mocks.js"></script>
    <script src="/vendor/angular-ui-bootstrap-bower/ui-bootstrap-tpls.js"></script>
    <script src="/vendor/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/vendor/d3/d3.js"></script>
    <script src="/vendor/jquery-ui/ui/jquery-ui.js"></script>
    <script src="/vendor/leaflet-dist/dist/leaflet.js"></script>
    <script src="/vendor/leaflet-dist/dist/leaflet-src.js"></script>
    <script src="/vendor/lodash/dist/lodash.compat.js"></script>
    <script src="/vendor/restangular/dist/restangular.js"></script>
    <script src="/vendor/ui-utils/ui-utils.js"></script>
    <script src="/vendor/ng-table/ng-table.js"></script>
    <script src="/vendor/angular-sanitize/angular-sanitize.js"></script>
    <script src="/vendor/ng-csv/build/ng-csv.min.js"></script>
    <script src="/vendor/raven-js/dist/raven.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    
    <!-- build:js({.tmp,app}) /scripts/scripts.js -->
    <script src="/scripts/lib/TileLayer.GeoJSONd3.js"></script>
    <script src="/scripts/lib/Layer.GeoJSONd3.js"></script>
    <script src="/scripts/lib/leaflet-utfgrid-lizard.js"></script>
    <script src="/scripts/lizard-nxt.js"></script>
    <script src="/scripts/services/cabinet-service.js"></script>
    <script src="/scripts/controllers/url-controller.js"></script>
    <script src="/scripts/services/url-service.js"></script>
    <script src="/scripts/services/util-service.js"></script>
    <script src="/scripts/controllers/omnibox-controller.js"></script>
    <script src="/scripts/services/raster-service.js"></script>
    <script src="/scripts/services/leaflet-service.js"></script>
    <script src="/scripts/services/map-service.js"></script>
    <script src="/scripts/services/event-service.js"></script>
    <script src="/scripts/services/nxt-d3-service.js"></script>
    <script src="/scripts/services/timeline-service.js"></script>
    <script src="/scripts/services/temporal-vector-service.js"></script>
    <script src="/scripts/services/utfgrid-service.js"></script>
    <script src="/scripts/services/click-feedback-service.js"></script>
    <script src="/scripts/services/timeseries-service.js"></script>
    <script src="/scripts/controllers/search-controller.js"></script>
    <script src="/scripts/directives/map-directives.js"></script>
    <script src="/scripts/directives/aggregate-directives.js"></script>
    <script src="/scripts/directives/omnibox-directives.js"></script>
    <script src="/scripts/services/graph-service.js"></script>
    <script src="/scripts/directives/graph-directives.js"></script>
    <script src="/scripts/directives/layer-chooser-directives.js"></script>
    <script src="/scripts/directives/template-directives.js"></script>
    <script src="/scripts/directives/timeline-directives.js"></script>
    <script src="/scripts/controllers/timeline-controller.js"></script>
    <script src="/scripts/controllers/point-controller.js"></script>
    <script src="/scripts/controllers/line-controller.js"></script>
    <script src="/scripts/controllers/area-controller.js"></script>
    <script src="/scripts/templates/templates.js"></script>
    <script src="/scripts/lib/utils.js"></script>
    <script src="/scripts/lizard-nxt-filters.js"></script>
    <!-- endbuild -->


  <script>
      // Set global constant "JS_DEBUG", to prevent debug info from reaching
      // the client when the current environment shouldn't allow it.

      // NB! This is a proper illustration of passing data from back-end to
      // front-end in a minimal fashion.
      window.JS_DEBUG = "True" === "True";
  </script>
  </body>
</html>