<!DOCTYPE html>
<html ng-app="demo-graph">
  <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
      <meta name="apple-mobile-web-app-capable" content="yes">

      <title>Graph Demo</title>

      <link href="../../source/assets/css/graph.css" rel="stylesheet"/>
      <link href="../../vendor/bootstrap/dist/css/bootstrap.css" rel="stylesheet"/>
      <link href="demo.css" rel="stylesheet"/>
  </head>
  <body ng-controller="DemoCtrl">
    <div class="container">

      <div class="row">
        <div class="col-md-8">

          <div class="row">
            <div class="col-md-12 graph">
              <h3>Wrapper-test</h3>
              <timeseries-rain rain="rain" timeseries="timeseries" enabled="enabled"></timeseries-rain>
              <!-- <graph data="data" id="test-wrapper"></graph> -->
              <!-- <svg data="data" id="test-wrapper"></svg> -->
            </div>
          </div>
<!--           <div class="row">
            <div class="col-md-12 graph">
              <h3>BarChart</h3>
              <graph bar-chart data="data.instants" title="metadata.title" xlabel="metadata.xlabel" ylabel="metadata.ylabel" ></graph>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 graph">
              <h3>Scatterplot</h3>
              <graph scatter data="scatter" title="metadata.title" xlabel="metadata.xlabel" ylabel="metadata.ylabel" ></graph>
            </div>
          </div>

         <div class="row">
            <div class="col-md-12 graph">
              <h3>Double line scaled axis</h3>
              <graph multiline data="formatted_2line" title="metadata.title" xlabel="metadata.xlabel" ylabel="metadata.ylabel" ></graph>
            </div>
          </div>

         <div class="row">
            <div class="col-md-12 graph">
              <h3>Double line double axis</h3>
              <graph multitypeline data="formatted_2line" title="metadata.title" xlabel="metadata.xlabel" ylabel="metadata.ylabel" ></graph>
            </div>
          </div> -->
              
        </div>
        <div class="col-md-4">
          <button type="button" class="btn btn-default" ng-click="updateData()">Randomize Data for Graph</button>
          <button type="button" class="btn btn-default" ng-click="malformData()">Break Graph</button>
        </div>
      </div>

      
    </div>
      <script type="text/javascript" src="../../vendor/angular/angular.js"></script>
      <script type="text/javascript" src="../../vendor/d3/d3.min.js"></script>
      <script type="text/javascript" src="demo.js"></script>
      <script type="text/javascript" src="../../source/app/directives/graph-directives.js"></script>
      <script type="text/javascript" src="../../source/app/directives/d3-wrapper.js"></script>
      <script type="text/javascript" src="../../source/app/directives/graph-directives.js"></script>
      <script type="text/javascript" src="demo.js"></script>
  </body>
</html>