<div ng-controller="AreaCtrl">
  <!-- area card for: layerGroup=waterchain; layer=waterchain_grid -->
  <div ng-if="countKeys(box.content.waterchain.layers.waterchain_grid.data) > 0"
       class="card active"
       id="card-waterchain">
    <div class="card-content">
      <div class="row"
          ng-repeat="(entityName, entityData) in box.content.waterchain.layers.waterchain_grid.data">
        <div class="col-xs-1">
        </div>
        <div class="col-xs-9">
          <% entityName | objectTitle %>
        </div>
        <div class="col-xs-1">
          <strong>
            <% countKeys(entityData) %>
          </strong>
        </div>
      </div>
    </div>
  </div>

  <div ng-repeat="(slug, lg) in box.content"
       ng-if="slug !== 'rain' && slug.indexOf('waterchain') === -1"
       class="card active" id="card-<% slug %>">

    <div
      ng-repeat="(lslug, l) in lg.layers"
      ng-if="!!l && l.data"
      ng-switch="l.aggType"
      class="card-content"
      id="card-content-<% l.name %>">

      <graph
        ng-switch-when="curve"
        line xlabel="'[%]'"
        ylabel="l.unit"
        data="l.data"
        keys="{x: 0, y: 1}">
      </graph>

      <graph
        ng-switch-when="histogram"
        bar-chart
        quantity="'linear'"
        ylabel="'[%]'"
        xlabel="l.unit"
        data="l.data"
        keys="{x: 0, y: 1}">
      </graph>

      <graph
        ng-switch-when="counts"
        horizontal-stack
        data="l.data"
        keys="{x: 'data', y: 'label'}"
        xlabel="'[%]'"
        dimensions="{height: 80, padding: {left: 0, right: 0, top: 5, bottom: 50}}">
      </graph>

      <div ng-switch-default ng-switch="l.format">

        <graph
          ng-switch-when="Store"
          line
          data="l.data">
        </graph>

        <div class="event-container row"
          ng-switch-when="Vector">
          <div class="col-xs-1">
            <i class="fa fa-circle" ng-style="{'color': l.color }"></i>
          </div>
          <div class="col-xs-9">
            <% lg.layerGroupName %>
          </div>
          <div class="col-xs-1">
            <strong>
              <% l.data.length %>
            </strong>
          </div>
        </div>

      </div>

    </div>
  </div>


</div>
