<div class="animate-repeat single-card">

  <cardattributes waterchain="asset" show-header="showHeader"></cardattributes>

  <timeseries
    timeseries-single-select
    ng-if="showTimeseries && asset.timeseries.length > 0"
    asset="asset"
    time-state="timeState">
  </timeseries>

  <nestedasset
    ng-if="showTimeseries"
    asset="asset"
    time-state="timeState">
  </nestedasset>

  <annotations
    ng-if="showAnnotations"
    data="asset"
    time-state="timeState">
  </annotations>

</div>
