<div>

  <cardheader ng-if="showHeader" asset="waterchain"></cardheader>

  <div class="card active card-attributes">
    <table id="kunstwerk-table" class="table table-condensed table-hover">

      <tr class="attr-row"
          ng-repeat="obj in wanted[waterchain.entity_name].rows"
          >

        <td class="fixed-width-card-table">
          <div class="attr-row-content">
            <% obj.keyName | translate %>
          </div>
        </td>

        <td class="lineout"
            ng-if="waterchain[obj.attrName] !== undefined
              && waterchain[obj.attrName] !== null
              && waterchain[obj.attrName] !== ''
              && waterchain[obj.attrName] !== 'pumps'
              && waterchain[obj.attrName] !== 'filters'">
          <div class="attr-row-content" ng-bind-html="$eval(obj.ngBindValue) + obj.valueSuffix">
          </div>
        </td>

        <td class="lineout"
            ng-if="waterchain[obj.attrName] === undefined
              || waterchain[obj.attrName] === null
              || waterchain[obj.attrName] === ''"
            rel="tooltip"
            data-toggle="tooltip"
            title="<% 'Example value' | translate %>">
          <div class="attr-row-content dummy-attr-value" ng-bind-html="obj.defaultValue + obj.valueSuffix">
          </div>
        </td>
      </tr>
    </table>

    <div class="structure-image-wrapper text-center"
         ng-if="!!waterchain.image_url && fullDetails">

        <img class="structure-image"
             ng-src="{{waterchain.image_url}}" />

    </div>
  </div>

</div>

