<div class="card-content">

  <span class="kunstwerk-title" ng-class="{'sm-icon': !fullDetails};">

    <i id="icon-holder"
      ng-class="$parent.getIconClass(waterchain.layers.waterchain_grid.data.entity_name)">
    </i>

    <span id="title-holder"
          class="card-title-text kunstwerk-title-text">
      <% waterchain.layers.waterchain_grid.data.entity_name | objectTitle %>
    </span>
    <full-details></full-details>
  </span>


  <table ng-if="fullDetails" id="kunstwerk-table" class="table table-condensed table-hover">

    <tr class="attr-row"
        ng-repeat="obj in wanted[waterchain.layers.waterchain_grid.data.entity_name].rows"
        >

      <td class="fixed-width-card-table">
        <div class="attr-row-content">
          <% obj.keyName | translate %>
        </div>
      </td>

      <td class="lineout"
          ng-if="waterchain.layers.waterchain_grid.data[obj.attrName] !== undefined
            && waterchain.layers.waterchain_grid.data[obj.attrName] !== null
            && waterchain.layers.waterchain_grid.data[obj.attrName] !== ''
            && waterchain.layers.waterchain_grid.data[obj.attrName] !== 'pumps'
            && waterchain.layers.waterchain_grid.data[obj.attrName] !== 'filters'">
        <div class="attr-row-content" ng-bind-html="$eval(obj.ngBindValue) + obj.valueSuffix">
        </div>
      </td>

      <td class="lineout"
          ng-if="waterchain.layers.waterchain_grid.data[obj.attrName] === undefined
            || waterchain.layers.waterchain_grid.data[obj.attrName] === null
            || waterchain.layers.waterchain_grid.data[obj.attrName] === ''"
          rel="tooltip"
          data-toggle="tooltip"
          title="<% 'Example value' | translate %>">
        <div class="attr-row-content dummy-attr-value" ng-bind-html="obj.defaultValue + obj.valueSuffix">
        </div>
      </td>
    </tr>
  </table>

  <div class="structure-image-wrapper text-center"
       ng-if="!!waterchain.layers.waterchain_grid.data.image_url && fullDetails">

      <img class="structure-image"
           ng-src="{{waterchain.layers.waterchain_grid.data.image_url}}" />

  </div>
</div>

