<header class="card-header">

  <div ng-if="asset" class="card-header-center">
    <close-card asset="asset"></close-card>

      <span class="icons fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"
           style="color:#ffffff;font-size:2.4em;"></i>
        <i class="asset-icon"
           ng-class="getIconClass(asset.entity_name)">
        </i>
      </span>

      <span class="asset-title">
        <strong style="font-weight:bolder;"><% asset.name | objectTitle | translate %></strong>
        <span ng-if="asset.name">&nbsp;</span>
        <span style="color:#727272;font-weight:lighter;"><% asset.code | objectTitle | translate %></span>
      </span>

      <br>

      <span style="margin-left:38px;font-size: 0.75em;font-weight:lighter;"><% asset.entity_name | objectTitle | translate %></span>

  </div>

  <div ng-if="geom" class="card-header-center">
    <close-card geometry="geom"></close-card>

    <span ng-if="geom.geometry.type === 'Point'" class="asset-title">
      <% geom.geometry.coordinates[1] | number : 2 %>, <% geom.geometry.coordinates[0] | number : 2 %>
    </span>
    <span ng-if="geom.geometry.type === 'LineString'">
      <% geom.geometry.coordinates[0][1] | number : 2 %>, <% geom.geometry.coordinates[0][0] | number : 2 %> - <% geom.geometry.coordinates[1][1] | number : 2 %>, <% geom.geometry.coordinates[1][0] | number : 2 %></span>
    <span ng-if="geom.name"><% geom.name %></span>
    <span ng-if="geom.name && geom.area">: </span>
    <span ng-if="geom.area"><% geom.area / 10000 | number : 0 %> ha.</span>
    <span ng-if="geom.geometry.type === 'Polygon' && !geom.name" translate>
      Screen view
    </span>
  </div>

</header>
