<div class="card active">

  <timeseries asset="asset" timeState="timeState"></timeseries>

  <cardheader asset="asset"></cardheader>

  <div class="card-content">

    <!-- crosssections are not draggable and a specific visualization. -->
    <div
      ng-if="asset.entity_name === 'leveecrosssection'"
      ng-click="toggleCrosssection(asset)"
      class="card-content-list clickable">
      <i class="fa fa-line-chart"></i>
      <span translate ng-class="{'text-primary bg-warning': asset.crosssection.active}">
        Levee crosssection
      </span>
    </div>

    <div ng-if="asset.crosssection.active">
      <dl>
        <dt translate>Green line</dt>
        <dd translate>Elevation along crosssection (source: AHN2).</dd>
        <dt translate>Grey dots</dt>
        <dd translate>Measured hydraulic head at current time.</dd>
        <dt translate>Dashed line</dt>
        <dd translate>indicative interpolation of hydraulic head in the same aquifer.</dd>
      </dl>
    </div>

    <em ng-if="noTimeseries && asset.entity_name !== 'leveecrosssection'" translate>
      No timeseries available for this asset
    </em>

    <!-- use ng-show, so div is present and can be added to drag containers -->
    <div ng-show="asset.entity_name !== 'leveecrosssection'"
      id="drag-container">
      <div ng-repeat="ts in selected.timeseries"
           ng-if="getTsMetaData(ts.uuid)"
           data-uuid="<% ts.uuid %>"
           class="draggable-ts">
        <div
          id="<% ts.uuid %>"
          ng-click="toggleTimeseries(ts)"
          class="card-content-list clickable">
          <i class="fa" ng-class="{
            'fa-clock-o': getTsMetaData(ts.uuid).value_type !== 'image',
            'fa-file-image-o': getTsMetaData(ts.uuid).value_type === 'image'
          }"></i>
          <span ng-class="{'text-primary bg-warning': ts.active}">
            <% getTsMetaData(ts.uuid).location %>,
            <% getTsMetaData(ts.uuid).parameter %>
          </span>
        </div>
        <div class="circle pull-right"
             ng-style="{'background-color': ts.color}"
             ng-click="toggleColorPicker()">
        </div>
        <color-picker></color-picker>
      </div>
    </div>

  </div>

  <db-geometry-cards
    time-state="timeState"
    geom="asset"
    header="false">
  </db-geometry-cards>

</div>
