<div>

  <db-asset-card
    timeseries
    time-state="omnibox.state.temporal"
    asset="asset"
    assets="omnibox.data.assets"
    ng-repeat="asset in localAssets">
  </db-asset-card>

  <div
    class="card active animate-repeat"
    ng-repeat="geom in omnibox.data.geometries">

    <!-- <cardheader geom="geom"></cardheader> -->

    <header class="card-header geom-card-header">
      <div ng-if="geom" class="card-header-center">
        <close-card geometry="geom"></close-card>

        <span class="icons fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x iconcircle"></i>
          <i class="fa fa-th raster-icon"></i>


<!--           <i class="asset-icon"
             ng-class="getIconClass(asset.entity_name, asset)">
          </i> -->

        </span>

<!--         <div class="nested-card-header-txt">
          <div class="nested-asset-title">
            {{ asset.code | objectTitle | translate }}
          </div>
          <div class="nested-asset-ts-count" translate>
            {{asset.timeseries.length}} TIMESERIES
          </div>
        </div> -->

      </div>
    </header>

    <db-geometry-cards
      time-state="state.temporal"
      geom="geom"
      header="true">
    </db-geometry-cards>

  </div>

</div>