<div class="animate-repeat">

  <cardheader ng-if="header" geom="geom"></cardheader>

  <div class="card-content">

    <em ng-if="noData" translate>No raster data available for this geometry</em>

    <div
      ng-if="prop.temporal || geom.geometry.type === 'LineString'"
      ng-repeat="prop in geom.properties">
      <div ng-click="toggleProperty(prop)" class="card-content-list clickable">
        <i class="fa fa-line-chart"></i>
        <span ng-class="{'text-primary bg-warning': prop.active}"><% prop.quantity %>, (<% prop.unit %>)</span>
      </div>
      <div class="circle pull-right"></div>
    </div>

  </div>

</div>
