<div>
  <div ng-repeat="l in lg.layers track by $index">
    <div ng-switch="l.format">

      <div ng-switch-when="Store">
        <div ng-if="!lg.temporal">
          <table ng-if="l.scale === 'interval' || l.scale === 'ratio' "
            class="table table-condensed table-hover single-row-table">
            <thead>
              <td class="col-md-4"><% l.quantity %> </td>
              <td class="col-md-4"><% l.data[0] | number : 2 %> <% l.unit %></td>
              <td class="col-md-4"></td>
            </thead>
          </table>

          <table ng-if="l.scale === 'nominal' || l.scale === 'ordinal'"
                 class="table table-condensed table-hover single-row-table">
            <thead>
              <td class="col-md-1">
                <div class="discrete-raster-color-indicator"
                     ng-style="{'background-color': l.data[0].color}">
                </div>
              </td>
              <td class="col-md-10">
                <% lg.layerGroupName %>:&nbsp;<% l.data[0].label | discreteRasterType %>
              </td>
              <td class="col-md-1"><% l.data[0].label | discreteRasterSource %></td>
            </thead>
          </table>
        </div>
        <graph ng-if="lg.temporal"
          class="card-content"
          line
          type="temporal"
          temporal="state.temporal"
          data="l.data"
          ylabel="l.unit"
          keys="{x: 0, y: 1}">
        </graph>
      </div>

      <div ng-switch-when="Vector">
        <full-details class="table-details-toggler"></full-details>
        <table class="table table-hover table-condensed" >
          <thead>
              <th><i class="fa fa-circle" ng-style="{'color': l.color }"></i></th>
              <th><% lg.layerGroupName %></th>
              <th><% l.data.length %></th>
          </thead>
          <tbody ng-if="fullDetails">
            <tr ng-repeat="event in l.data">
                <td rel="tooltip"
                    data-placement="left"
                    title="<% event.properties.category %>">
                    <i class="fa fa-circle" ng-style="{'color': l.color }">
                  </i>
                </td>
                <td rel="tooltip"
                    data-placement="left"
                    title="<% 'Start' | translate %>: <% event.properties.timestamp_start | date:'dd/MM/yyyy' %>
                           <% 'End' | translate %>: <% event.properties.timestamp_end | date:'dd/MM/yyyy' %>">
                    <% event.properties.timestamp_start | date:'dd/MM/yyyy' %>
                </td>
                <td rel="tooltip"
                    data-placement="left"
                    title="<% event.properties.value %>">
                  <% event.properties.value | truncate:40 %>
                </td>
              </tr>
          </tbody>
        </table>
      </div>

      <div ng-switch-when="WMS" ng-if="l.data.features">
        <table class="table table-condensed table-hover">

          <tr class="attr-row"
              ng-repeat="(key, val) in l.data.features[0].properties">

            <td class="fixed-width-card-table">
              <div class="attr-row-content">
                <% key %>
              </div>
            </td>

            <td class="lineout">
              <div class="attr-row-content">
                <% val %>
              </div>
            </td>

          </tr>
        </table>
      </div>

    </div>
  </div>
</div>
