<div class="animate-repeat">

  <cardheader ng-if="header" geom="geom"></cardheader>

  <div
    ng-if="showNoData && header"
    class="card active card-content">
    <em translate>No data available for this location</em>
  </div>

  <div ng-repeat="(uuid, properties) in geom.properties">

    <rain
      ng-if="properties.slug === 'rain' && (geom.id || geom.geometry.type !== 'Polygon')"
      rain="properties"
      geometry="geom.geometry"
      time-state="timeState">
    </rain>

    <defaultpoint
      ng-if="geom.geometry.type === 'Point' && properties.slug !== 'rain' && uuid !== 'annotations'"
      content="properties"
      name="uuid"
      time-state="timeState">
    </defaultpoint>

    <div
      ng-if="geom.geometry.type === 'LineString' && (properties.scale === 'interval' || properties.scale === 'ratio')"
      class="card active card-content">

      <graph
        line
        mouseloc="mouseloc"
        data="properties.data"
        ylabel="properties.quantity + ' [' + properties.unit + ']'"
        xlabel="'Afstand in [m]'">
      </graph>

      <div class="card-tools">
         <a
           class="btn btn-default btn-xs"
           title="{{ translations.exportInfo }}"
           ng-csv="formatLineCSV(properties)"
           field-separator=";"
           filename="{{ properties.uuid }}.csv"
           csv-header="getLineCSVHeaders(properties)">
           <i class="fa fa-share-square-o"></i>
           <span translate>Export</span>
        </a>
      </div>

    </div>

    <div
      ng-if="properties.data
      && (geom.geometry.type === 'Polygon' || geom.geometry.type === 'MultiPolygon')
      && properties.slug !== 'rain'"
      class="card active">

      <div class="card-content">

        <div ng-if="properties.type === 'eventseries'">
          <span class="card-title">
            <span><i class="fa fa-circle" ng-style="{'color': properties.color }"></i></span>
            <span>{{ properties.data.length }}</span>
            <span>{{ properties.quantity }}</span>
          </span>
          <full-details class="table-details-toggler"></full-details>
          <table ng-if="fullDetails" class="table table-hover table-condensed" >
            <tbody>
              <tr ng-repeat="event in properties.data">
                <td rel="tooltip"
                    data-placement="left"
                    title="{{ translations.start }}: {{ event.properties.timestamp_start | date:'dd/MM/yyyy' }}
                           {{ translations.end }}: {{ event.properties.timestamp_end | date:'dd/MM/yyyy' }}">
                    {{ event.properties.timestamp_start | date:'dd/MM/yyyy' }}
                </td>
                <td rel="tooltip"
                    data-placement="left"
                    title="{{ event.properties.category }}">
                    {{ event.properties.category }}
                </td>
                <td rel="tooltip"
                    data-placement="left"
                    title="{{ event.properties.value }}">
                    {{ event.properties.value | truncate:17 }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <graph
          ng-if="properties.agg === 'curve'"
          line
          xlabel="'[%]'"
          ylabel="properties.unit"
          data="properties.data"
          keys="{x: 0, y: 1}">
        </graph>

        <graph
          ng-if="properties.agg === 'histogram'"
          bar-chart
          quantity="'linear'"
          ylabel="'[%]'"
          xlabel="properties.unit"
          data="properties.data"
          keys="{x: 0, y: 1}">
        </graph>

        <graph
          ng-if="properties.agg === 'counts'"
          horizontal-stack
          data="properties.data"
          keys="{x: 'data', y: 'label'}"
          xlabel="'[%]'"
          dimensions="{height: 80, padding: {left: 0, right: 0, top: 5, bottom: 50 } }">
        </graph>

        <div ng-if="properties.agg !== 'histogram' && properties.agg !== 'curve' && properties.agg !== 'counts'">

          <graph
            ng-if="properties.type === raster"
            line
            data="properties.data">
          </graph>

        </div>

      </div>

    </div>
  </div>

  <annotations
    ng-if="showAnnotations && header && geom.geometry.type === 'Point'"
    data="geom"
    time-state="timeState">
  </annotations>

</div>
