<div class="animate-repeat">

  <header class="card-header geom-card-header">
    <div ng-if="geom"
         class="card-header-center">
      <close-card geometry="geom"></close-card>

      <span class="icons fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x iconcircle"></i>
        <i ng-if="geom.geometry.type === 'Point'"
           class="fa fa-map-marker raster-icon"></i>

        <i ng-if="geom.geometry.type === 'LineString'"
           class="lz lz-line-tool raster-icon "></i>

        <i ng-if="geom.geometry.type === 'Polygon' || geom.geometry.type === 'MultiPolygon'"
           style="margin-left: -4px"
           class="lz lz-region-tool raster-icon "></i>

      </span>

      <div class="nested-card-header-txt raster-card-header-txt">
        <div class="nested-asset-title">
          {{getGeomCardHeader(geom)}}
        </div>
        <div class="nested-asset-ts-count" translate>
          geometry
        </div>
      </div>
    </div>
  </header>

  <div
    ng-if="showNoData && header"
    class="card active card-content">
    <em translate>No data available for this location</em>
  </div>

  <div ng-repeat="(uuid, properties) in geom.properties">

<!--     <rain
      ng-if="getLayerByUuid(properties.uuid).active && isRainyLayer(properties) && (geom.id || geom.geometry.type !== 'Polygon')"
      rain="properties"
      geometry="geom.geometry"
      time-state="timeState">
    </rain> -->

    <defaultpoint
      ng-if="getLayerByUuid(properties.uuid).active && geom.geometry.type === 'Point' && !isRainyLayer(properties) && uuid !== 'annotations'"
      content="properties"
      name="uuid"
      time-state="timeState">
    </defaultpoint>

    <div
      ng-if="getLayerByUuid(properties.uuid).active && geom.geometry.type === 'LineString' && (properties.scale === 'interval' || properties.scale === 'ratio')"
      class="card active card-content"
      style="margin-top: 10px;">

      <graph
        line
        mouseloc="mouseloc"
        data="getDataLayer(properties.uuid).temporal ? getDataForSinglePointInTime(properties.data) : properties.data"
        ylabel="properties.quantity + ' [' + properties.unit + ']'"
        xlabel="'Afstand in [m]'">
      </graph>

      <div
        class="card-tools"
        ng-if="!getDataLayer(properties.uuid).temporal"
      >
        <a
           class="btn btn-default btn-xs"
           title="{{ 'Export info card data' | translate }}"
           ng-csv="formatLineCSV(properties)"
           field-separator=";"
           filename="{{ properties.uuid }}.csv"
           csv-header="getLineCSVHeaders(properties)">
           <i class="fa fa-share-square-o"></i>
           <span translate>Export</span>
        </a>
      </div>

    </div>

    <div
      ng-if="properties.data
      && (geom.geometry.type === 'Polygon' || geom.geometry.type === 'MultiPolygon')
      && properties.slug !== 'rain'"
      class="card active">

      <div class="card-content">

        <div ng-if="properties.type === 'eventseries'">
          <span class="card-title">
            <span><i class="fa fa-circle" ng-style="{'color': properties.color }"></i></span>
            <span>{{ properties.data.length }}</span>
            <span>{{ properties.quantity }}</span>
          </span>
          <full-details class="table-details-toggler"></full-details>
          <table ng-if="fullDetails" class="table table-hover table-condensed" >
            <tbody>
              <tr ng-repeat="event in properties.data">
                <td rel="tooltip"
                    data-placement="left"
                    title="{{ 'Start' | translate }}: {{ event.properties.timestamp_start | date:'dd/MM/yyyy' }}
                           {{ 'End' | translate }}: {{ event.properties.timestamp_end | date:'dd/MM/yyyy' }}">
                  {{ event.properties.timestamp_start | date:'dd/MM/yyyy' }}
                </td>
                <td rel="tooltip"
                    data-placement="left"
                    title="{{ event.properties.category }}">
                    {{ event.properties.category }}
                </td>
                <td rel="tooltip"
                    data-placement="left"
                    title="{{ event.properties.value }}">
                    {{ event.properties.value | truncate:17 }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <graph
          ng-if="properties.agg === 'curve'"
          line
          xlabel="'[%]'"
          ylabel="properties.unit"
          data="properties.data"
          keys="{x: 0, y: 1}">
        </graph>

        <graph
          ng-if="properties.agg === 'histogram'"
          bar-chart
          quantity="'linear'"
          ylabel="'[%]'"
          xlabel="properties.unit"
          data="properties.data"
          keys="{x: 0, y: 1}">
        </graph>

        <graph
          ng-if="properties.agg === 'counts'"
          horizontal-stack
          data="properties.data"
          keys="{x: 'data', y: 'label'}"
          xlabel="'[%]'"
          dimensions="{height: 80, padding: {left: 0, right: 0, top: 5, bottom: 50 } }">
        </graph>

        <div ng-if="properties.agg !== 'histogram' && properties.agg !== 'curve' && properties.agg !== 'counts'">

          <graph
            ng-if="properties.type === raster"
            line
            data="properties.data">
          </graph>

        </div>

      </div>

    </div>
  </div>

  <annotations
    ng-if="showAnnotations && header && geom.geometry.type === 'Point'"
    data="geom"
    time-state="timeState">
  </annotations>

</div>
