<div>

	<div
		ng-if="box.content.location.temporal"
		class="cluster location">
	  <i class="fa fa-clock-o"></i>&nbsp;
	  <a ng-click="zoomTemporal(box.content.location.temporal)"
	    class="pointer clickable">
	    <span><% box.content.location.temporal.format(
	    	box.content.location.temporal.nxtFormatString
	    ) %></span>
	  </a>
	</div>

	<div ng-cloak
	  ng-repeat="location in box.content.location.spatial"
	  class="cluster location">
	  <i class="fa fa-map-marker"></i>&nbsp;
	  <a ng-click="zoomTo(location)"
	    class="pointer clickable">
	    <span><% location.formatted_address %></span>
	  </a>
	</div>

</div>

