<div>
  <div ng-if="asset.selectedAsset" class="card active">

    <div class="card-content">

      <div class="timeseries-header-container">

        <i id="icon-holder"
          ng-class="$parent.getIconClass(attr, asset)">
        </i>

        <span id="title-holder"
              class="card-title-text kunstwerk-title-text"
              ng-bind="attr | objectTitle | translate">
        </span>

        <select
          class="timeseries nested-asset"
          ng-if="list.length > 1"
          ng-model="asset.selectedAsset"
          ng-change="selectedAssetChanged(asset.selectedAsset)"
          ng-options="
            a.code !== '' ? a.code
            : a.serial !== '' ? a.serial
            : a.id
            for a in list">
        </select>

      </div>
    </div>
  </div>

  <asset-cards
    ng-if="asset.selectedAsset"
    asset="asset.selectedAsset"
    show-timeseries="true"
    show-annotations="false"
    time-state="timeState">
  </asset-cards>

</div>
