<div class="hidden-xs"
     ng-keydown="onKeydown($event)"
     ng-class="{ active: omnibox.data.assets.length > 0 }">

  <search></search>

  <search-results ng-if="omnibox.searchResults"></search-results>

  <div id="cards"
       class="pullDown cardbox"
       ng-class="{'map-ctx': omnibox.context === 'map', 'db-ctx': omnibox.context === 'charts'}">

    <div ng-if="omnibox.context === 'map'">

      <asset-cards
        asset="asset"
        show-header="true"
        show-annotations="showAnnotations()"
        show-timeseries="doShowTimeseries()"
        time-state="omnibox.state.temporal"
        ng-repeat="asset in omnibox.data.assets track by omnibox.trackAssets(asset)"
        ng-if="!assetIsNested(asset)">
      </asset-cards>

      <geometry-cards
        geom="geom"
        header="true"
        show-annotations="showAnnotations()"
        ng-repeat="geom in omnibox.data.geometries track by $index"
        time-state="omnibox.state.temporal"
        mouseloc="omnibox.state.mouseOnLine">
      </geometry-cards>

      <legend state="omnibox.state"></legend>

    </div>

    <div ng-if="omnibox.context === 'charts'" class="db-omnibox">

      <db-cards></db-cards>

      <div class="db-omnibox-time-controls">
        <div class="left-controls">
          <div class="dashboard-timeseries-interval-btn dashboard"
               ng-click="zoomToInterval('one_year')"
               title="{{ 'Zoom to a one year interval' | translate }}"
               translate>
             1Y
          </div>
          <div class="dashboard-timeseries-interval-btn"
               ng-click="zoomToInterval('three_months')"
               title="{{ 'Zoom to a 3 months interval' | translate }}"
               translate>
            3M
          </div>
          <div class="dashboard-timeseries-interval-btn"
               ng-click="zoomToInterval('two_weeks')"
               title="{{ 'Zoom to a 2 weeks interval' | translate }}"
               translate>
            2W
          </div>
          <div class="dashboard-timeseries-interval-btn"
               ng-click="zoomToInterval('timesteps_range_all_active')"
               title="{{ 'Zoom to the temporal extent' | translate }}"
               translate>
            ZOOM TO EXTENT
          </div>
        </div>
        <div class="right-controls">
          <div
            class="dashboard-timeseries-interval-btn"
            ng-click="toggleRelativeTimeseries(); $event.stopPropagation();"
            ng-class="{'active': relativeToSurfaceLevel() }"
            title="Show the values of the time series in meters &#13;with respect to the ground level (relative) &#13;in contrast to meters NAP"
            translate>
            RELATIVE
          </div>

        </div>
      </div>

    </div>

  </div>

</div>
