<div class="hidden-sm hidden-xs"
     ng-keydown="onKeydown($event)"
     ng-class="{ active: omnibox.data.assets.length > 0 }">

  <search></search>

  <search-results ng-if="omnibox.searchResults"></search-results>

  <div id="cards"
       class="pullDown cardbox">

    <div ng-if="omnibox.context === 'map'">

      <asset-cards
        asset="asset"
        show-header="true"
        show-annotations="showAnnotations()"
        show-timeseries="(omnibox.data.geometries.length + omnibox.data.assets.length) < 2"
        time-state="omnibox.state.temporal"
        ng-repeat="asset in omnibox.data.assets track by omnibox.trackAssets(asset)">
      </asset-cards>

      <geometry-cards
        geom="geom"
        header="true"
        show-annotations="showAnnotations()"
        ng-repeat="geom in omnibox.data.geometries track by $index"
        time-state="omnibox.state.temporal"
        mouseloc="omnibox.state.selected.mouseOnLine">
      </geometry-cards>

      <legend state="omnibox.state"></legend>

    </div>

    <div ng-if="omnibox.context === 'dashboard'">

      <db-cards></db-cards>

    </div>

  </div>

</div>
