<div ng-controller="PointCtrl">

  <div ng-if="box.content.waterchain">
    <div class="card active">
      <cardattributes waterchain="box.content.waterchain"></cardattributes>
    </div>

    <timeseries
      ng-if="box.content.waterchain.layers.waterchain_grid.data.num_timeseries"
      asset="box.content.waterchain.layers.waterchain_grid.data"
      time-state="omnibox.state.temporal">
    </timeseries>
  </div>

  <div ng-if="box.content.waterchain.layers.waterchain_grid.data.filters
    || box.content.waterchain.layers.waterchain_grid.data.pumps">
    <div class="card active">
      <nestedasset
        asset="box.content.waterchain.layers.waterchain_grid.data">
      </nestedasset>
    </div>

    <timeseries
      ng-if="box.content.waterchain.layers.waterchain_grid.data.selectedAsset"
      asset="box.content.waterchain.layers.waterchain_grid.data.selectedAsset"
      time-state="omnibox.state.temporal">
    </timeseries>

  </div>


  <div ng-if="box.content.rain">
    <rain></rain>
  </div>

  <div ng-repeat="(slug, lg) in box.content"
       class="card active"
       ng-if="slug !== 'waterchain' && slug !== 'timeseries' && slug !== 'rain'">
    <defaultpoint lg="lg" name="slug" state="omnibox.state" is-url="isUrl"></defaultpoint>
  </div>

</div>

