<div ng-controller="rain">

  <div class="card active">
    <div class="card-content"
      ng-init="lg = box.content.rain">

     <full-details></full-details>
     <span class="card-title-text" ng-class="{hidden: fullDetails}" >Regen</span>
     <div ng-class="{ hidden: !fullDetails }">
       <graph
         bar-chart
         class="xyGraph"
         data="lg.layers['radar/basic'].data"
         ylabel="lg.layers['radar/basic'].aggWindow"
         yfilter="aggWinToYLabel"
         keys="{x: 0, y: 1}"
         temporal="omnibox.state.temporal">
       </graph>
       <div class="card-tools">
         <a ng-click="recurrenceTimeToggle()"
            ng-class="{'active': rrc.active}" class="btn btn-default btn-xs"
            title="Extra statistieken, herhalingstijden">
            Statistiek
          </a>
         <a
           class="btn btn-default btn-xs"
           title="Data van deze infocard exporteren"
           ng-csv="formatCSVColumns(lg.layers['radar/basic'].data)"
           filename="neerslag.csv"
           csv-header="['Datestamp', 'Timestamp', 'Rain (mm)', 'Latitude', 'Longitude']" >
           <i class="fa fa-share-square-o"></i>
           Exporteer
         </a>
       </div>
     </div>
   </div>
  </div>

  <div class="card active ng-class: {hidden: !fullDetails}" ng-if="rrc.active">
    <div class="card-content-message"
      ng-init="lg = box.content.rain">
      <div class="recurrence-time-container">
        <div ng-if="!lg.layers['rrc'].data.message">
        <!--<div ng-if="!rrc.data.message">-->
          <table class="table table-hover table-condensed">
            <caption>Herhalingstijden (HT)</caption>
            <thead>
              <tr>
                <td class="larger-font-card-table">Start</th>
                <td class="larger-font-card-table">Duur</th>
                <td class="larger-font-card-table text-right">mm</th>
                <td class="larger-font-card-table">HT</th>
              </tr>
            </thead>
            <tbody>
            <tr class="recurrence_time"
              ng-repeat="recurTime in rrc.data">
              <td class="larger-font-card-table"><% recurTime.start | date : 'dd-MM-yyyy HH:mm' %></td>
              <td class="larger-font-card-table"><% recurTime.td_window %></td>
              <td class="larger-font-card-table text-right"><% recurTime.max | number: 1 %></td>
              <td class="larger-font-card-table"><% recurTime.t %></td>
            </tr>
            </tbody>
          </table>
        </div>
        <div ng-if="rrc.data.message">
          <span class="message"><% rrc.data.message %></span>
        </div>
      </div>
    </div>
  </div>
</div>
