<div ng-controller="RegionCtrl">

	<div ng-if="activeName" class="card active" id="card-<% slug %>">
    <div class="card-content">
          <strong><% activeName %></strong> <% regionArea %> ha.
		</div>
	</div>

  <div ng-repeat="(slug, lg) in box.content"
       ng-if="slug !== 'rain' && slug !== 'waterchain'"
       class="card active" id="card-<% slug %>">

    <div
      ng-repeat="(lslug, l) in lg.layers"
      ng-if="!!l && l.data"
      ng-switch="l.aggType"
      class="card-content"
      id="card-content-<% l.name %>">

      <graph
        ng-switch-when="curve"
        line xlabel="'[%]'"
        ylabel="l.unit"
        data="l.data"
        keys="{x: 0, y: 1}">
      </graph>

      <graph
        ng-switch-when="histogram"
        bar-chart
        quantity="'linear'"
        ylabel="'[%]'"
        xlabel="l.unit"
        data="l.data"
        keys="{x: 0, y: 1}">
      </graph>

      <graph
        ng-switch-when="counts"
        horizontal-stack
        data="l.data"
        keys="{x: 'data', y: 'label'}"
        xlabel="'[%]'"
        dimensions="{height: 80, padding: {left: 0, right: 0, top: 5, bottom: 50}}">
      </graph>

      <div ng-switch-default ng-switch="l.format">

        <graph
          ng-switch-when="Store"
          line
          data="l.data">
        </graph>

      </div>

    </div>

  </div>

</div>
