<div class="searchboxinput">
  <input ng-focus id="searchboxinput"
    tabindex="-1"
    placeholder="Zoeken op plaats, stad, ..."
    autocomplete="off"
    dir="ltr"
    ng-model="geoquery"
    ng-keydown="searchKeyPress($event)"
    spellcheck="false">
  <div
    title="<% tooltips.resetQuery %>"
    ng-click="cleanInput()"
    id="clear" class="clickable" ></div>
  <div class="search-button-collection">
    <button
      class="searchbutton clickable"
      ng-click="zoomIn()"
      aria-label="Zoom in"
      title="<% tooltips.zoomInMap %>">
      <i class="fa fa-plus"></i>
    </button>
    <button
      class="searchbutton clickable"
      ng-click="zoomOut()"
      aria-label="Zoom uit"
      title="<% tooltips.zoomOutMap %>">
      <i class="fa fa-minus"></i>
    </button>
  </div>

</div>

