<div>

<cardheader asset="asset.data"></cardheader>

  <div class="card-content">

    <!-- this used to be hidden when !fullDetails -->
    <table id="kunstwerk-table" class="table table-condensed table-hover">

      <tr class="attr-row"
          ng-repeat="obj in wanted[asset.data.entity_name].rows"
          >

        <td class="fixed-width-card-table">
          <div class="attr-row-content">
            <% obj.keyName | translate %>
          </div>
        </td>

        <td class="lineout"
            ng-if="asset.data[obj.attrName] !== undefined
              && asset.data[obj.attrName] !== null
              && asset.data[obj.attrName] !== ''
              && asset.data[obj.attrName] !== 'pumps'
              && asset.data[obj.attrName] !== 'filters'">
          <div class="attr-row-content" ng-bind="asset.data[obj.attrName]">
          </div>
        </td>

        <td class="lineout"
            ng-if="asset.data[obj.attrName] === undefined
              || asset.data[obj.attrName] === null
              || asset.data[obj.attrName] === ''"
            rel="tooltip"
            asset.data-toggle="tooltip"
            title="<% 'Example value' | translate %>">
          <div class="attr-row-content dummy-attr-value" ng-bind-html="obj.defaultValue + obj.valueSuffix">
          </div>
        </td>
      </tr>
    </table>

    <div class="structure-image-wrapper text-center"
         ng-if="!!asset.data.image_url && fullDetails">

        <img class="structure-image"
             ng-src="<% asset.data.image_url %>" />

    </div>
  </div>

</div>
