<div class="card-content" ng-class="{timeseries: fullDetails}">
  <div class="timeseries-header-container">
     <select class="timeseries"
            ng-class="{hidden: ($parent.box.content.timeseries.data.length === -1) || !fullDetails}"
            ng-model="$parent.box.content.timeseries.selectedTimeseries"
            ng-options="series.name for series in $parent.box.content.timeseries.data | rmSingleDatumTimeseries">
     </select>
     <span class="card-title-text"
            ng-class="{hidden: ($parent.box.content.timeseries.data.length > 0) || !fullDetails}">
       <% $parent.box.content.timeseries.data[0].name %>
     </span>
     <span class="card-title-text" ng-class="{hidden: fullDetails}" >Tijdreeksen</span>
     <full-details></full-details>
  </div>

  <div ng-class="{hidden: !fullDetails}"
      ng-show="$parent.box.content.waterchain.layers.waterchain_grid.data.entity_name === 'measuringstation'">
     <graph
        bar-chart
        type="temporal"
        data="$parent.box.content.timeseries.selectedTimeseries.events"
        ylabel="$parent.box.content.timeseries.selectedTimeseries.unit"
        xlabel=""
        keys="{x: 0, y: 1}"
        temporal="timeState">
      </graph>
  </div>

  <div ng-class="{hidden: !fullDetails}"
    ng-show="$parent.box.content.waterchain.layers.waterchain_grid.data.entity_name !== 'measuringstation'">
    <graph
      line
      type="temporal"
      data="$parent.box.content.timeseries.selectedTimeseries.events"
      ylabel="$parent.box.content.timeseries.selectedTimeseries.unit"
      xlabel=""
      keys="{x: 0, y: 1}"
      temporal="timeState">
    </graph>
  </div>
  
</div>
