<div class="card-content"
     ng-class="{timeseries: fullDetails}">

  <div class="timeseries-header-container">
     <i class="fa fa-clock-o">
     </i>
     <select class="timeseries"
            ng-if="timeseries.data.length > 1"
            ng-class="{hidden: !fullDetails}"
            ng-model="timeseries.selectedTimeseries"
            ng-options="series.name for series in timeseries.data | rmSingleDatumTimeseries">
     </select>
     <span class="card-title-text placeholder"
           ng-if="timeseries.data.length === 1 && fullDetails">
           <% timeseries.selectedTimeseries.name %>
     </span>
     <span class="card-title-text placeholder" ng-class="{hidden: fullDetails}" >Tijdreeksen</span>
     <full-details></full-details>
  </div>

  <br>

  <div class="timeseries-graph-container"
      ng-class="{hidden: !fullDetails}"
      ng-show="$parent.box.content.waterchain.layers.waterchain_grid.data.entity_name === 'measuringstation'">
     <graph
        bar-chart
        type="temporal"
        temporal="timeState"
        data="timeseries.selectedTimeseries.events"
        ylabel="timeseries.selectedTimeseries.unit"
        xlabel=""
        keys="{
          x: 'timestamp',
          y: { 'y0': 'min', 'y1': 'max' }
        }"
        now="timeState.at">
      </graph>
  </div>

  <div class="timeseries-graph-container"
    ng-class="{hidden: !fullDetails}"
    ng-show="$parent.box.content.waterchain.layers.waterchain_grid.data.entity_name !== 'measuringstation'">
    <graph
      line
      type="temporal"
      temporal="timeState"
      data="timeseries.selectedTimeseries.events"
      ylabel="timeseries.selectedTimeseries.unit"
      xlabel=""
      keys="{
        x: 'timestamp',
        y: { 'y0': 'min', 'y1': 'max' }
      }"
      now="timeState.at">
    </graph>
  </div>

   <div class="card-tools">
     <a
       class="btn btn-default btn-xs"
       title="Data van deze infocard exporteren"
       ng-csv="$parent.formatCSVColumns(timeseries.selectedTimeseries.events)"
       filename="<% timeseries.selectedTimeseries.name %>.csv"
       csv-header="['Datestamp', 'Timestamp', timeseries.selectedTimeseries.unit, 'Latitude', 'Longitude']" >
       <i class="fa fa-share-square-o"></i>
       Exporteer
     </a>
   </div>

</div>



