<div class="card-content"
     ng-class="{timeseries: fullDetails}">

  <div class="timeseries-header-container">
    <i class="fa fa-clock-o"></i>
    <select
      class="timeseries"
      ng-if="timeseries.data.length > 1"
      ng-class="{hidden: !fullDetails}"
      ng-model="timeseries.selectedTimeseries"
      ng-options="ts.location.name
        + ', '
        + ts.parameter_referenced_unit.parameter_short_display_name
        for ts in timeseries.data | rmSingleDatumTimeseries
      ">
    </select>
    <span
      class="card-title-text placeholder"
      ng-if="timeseries.data.length === 1 && fullDetails">
      <% timeseries.selectedTimeseries.location.name
        + ', '
        + timeseries.selectedTimeseries.parameter_referenced_unit.parameter_short_display_name %>
    </span>
    <span class="card-title-text placeholder" ng-class="{hidden: fullDetails}" translate>Timeseries</span>
    <full-details></full-details>
  </div>

  <br>

  <div class="timeseries-graph-container"
      ng-class="{hidden: !fullDetails}"
      ng-if="$parent.box.content.waterchain.layers.waterchain_grid.data.entity_name === 'measuringstation' && $parent.box.content.waterchain.layers.waterchain_grid.data.station_type === 1">
     <graph
        bar-chart
        type="temporal"
        temporal="timeState"
        data="timeseries.selectedTimeseries.events"
        ylabel="timeseries
          .selectedTimeseries
          .parameter_referenced_unit
          .referenced_unit_short_display_name"
        xlabel=""
        keys="{
          x: 'timestamp',
          y: 'min'
        }"
        now="timeState.at">
      </graph>
  </div>

  <div class="timeseries-graph-container"
    ng-class="{hidden: !fullDetails}"
      ng-if="$parent.box.content.waterchain.layers.waterchain_grid.data.entity_name === 'measuringstation' && $parent.box.content.waterchain.layers.waterchain_grid.data.station_type !== 1">
    <graph
      line
      type="temporal"
      temporal="timeState"
      data="timeseries.selectedTimeseries.events"
      ylabel="timeseries
        .selectedTimeseries
        .parameter_referenced_unit
        .referenced_unit_short_display_name"
      xlabel=""
      keys="{
        x: 'timestamp',
        y: { 'y0': 'min', 'y1': 'max' }
      }"
      now="timeState.at">
    </graph>
  </div>

  <div class="timeseries-graph-container"
    ng-class="{hidden: !fullDetails}"
    ng-if="$parent.box.content.waterchain.layers.waterchain_grid.data.entity_name !== 'measuringstation'">
    <graph
      line
      type="temporal"
      temporal="timeState"
      data="timeseries.selectedTimeseries.events"
      ylabel="timeseries
        .selectedTimeseries
        .parameter_referenced_unit
        .referenced_unit_short_display_name"
      xlabel=""
      keys="{
        x: 'timestamp',
        y: { 'y0': 'min', 'y1': 'max' }
      }"
      now="timeState.at">
    </graph>
  </div>

   <div class="card-tools"
    ng-class="{hidden: !fullDetails}">
     <a
       href="<% timeseries.selectedTimeseries.url
       + 'data/?format=csv&start=' + timeState.start + '&end=' + timeState.end %>"
       class="btn btn-default btn-xs"
       title="<% 'Export info card data' | translate %>">
       <i class="fa fa-share-square-o"></i>
       Exporteer
     </a>
   </div>

</div>



