
<div class="container-for-both-legends">

  <div class="card legend-discrete">
    <div  ng-repeat="(uuid, rasterData) in legend.data.discrete"
          ng-if="mustShowDiscreteLegend(uuid)">

      <div class="single-discrete-legend">
        <div class="legend-header">
          <a href="#"
             ng-click="switchSelectedRaster(uuid)">
            {{ legend.uuidMapping[uuid] }}
            &nbsp;
            <i class="fa fa-star"
               ng-if="rasterIsVectorized(uuid)">
            </i>
          </a>
          <i ng-show="legend.data.discrete[uuid].length > 0">
            <span ng-if="hasMoreCategoriesAvailableThanDefault(uuid)">

              <a href=""
                 ng-click="toggleShowAllCategories(uuid)"
                 class="toggle-categories-shown">
                <i ng-if="!showingAllCategories(uuid)"
                   class="fa fa-lg fa-caret-left"></i>
                <i ng-if="showingAllCategories(uuid)"
                   class="fa fa-lg fa-caret-down"></i>
              </a>
            </span>
          </i>
        </div>

        <div
          ng-repeat="datum in rasterData track by $index"
          ng-click="rasterIsVectorized(uuid) ? setDiscreteRasterCategory(uuid, datum.class) : _.noop();"
          class="discrete-legend-datum"
          ng-if="$index < getAmountOfDiscreteCategories(uuid)">

          <div class="discrete-legend-color-rect"
               ng-style="getColoredRect(datum)">
          </div>

          <div class="discrete-legend-label"
               ng-class="{'discrete-legend-label-selected': getDiscreteRasterCategory(uuid) === datum.class,
                          'discrete-legend-label-selectable': rasterIsVectorized(uuid)}">
            {{ datum.label === -1 ? 'other' : (datum.label | truncate: 42) }}
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="card-like legend-continuous">

      <div ng-repeat="(uuid, rasterData) in legend.data.continuous"
           ng-if="mustShowContinuousLegend(uuid)">
        <div class="single-continuous-legend">

          <div class="legend-header">
            <a href="#"
               ng-click="switchSelectedRaster(uuid)">
              {{ legend.uuidMapping[uuid] }}
            </a>
          </div>

          <div class="gradient-bar"
               ng-style="{{ getGradient(uuid) }}">
          </div>

          <div class="continuous-raster-numeric-data">

            <div class="continuous-legend-top-row">
              <span ng-bind="rasterData.max.toPrecision(3)"></span>
              <span ng-bind="rasterData.unit"></span>
            <div>

            <div class="continuous-legend-bottom-row">
              <span ng-bind="rasterData.min.toPrecision(3)"></span>
              <span ng-bind="rasterData.unit"></span>
            <div>

          </div>
        </div>
      </div>
  </div>
</div>
