<div id="MotherModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="popup" aria-hidden="true"
     data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button"
                class="close"
                ng-click="closeModal()"
                aria-label="Close"
                ng-if="mayCloseModal()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" translate>
          Export data
        </h4>
      </div>

      <ul class="nav nav-tabs" role="tablist">

        <li role="presentation"
            class="active">
          <a href="#timeseries"
             aria-controls="home"
             role="tab"
             data-toggle="tab"
             translate>
            Timeseries
          </a>
        </li>

        <li role="presentation">
          <a href="#timeseries-rasters"
             aria-controls="profile"
             role="tab"
             data-toggle="tab"
             translate>
            Timeseries (raster)
          </a>
        </li>

        <!--
        <li role="presentation" ng-if="isAuthenticated">
          <a href="rasters" aria-controls="profile" role="tab" data-toggle="tab">
            SRasters
          </a>
        </li>
        -->
      </ul>

      <div class="tab-content" style="margin: 0;">

        <!-- tab #1 (content) -->
        <div role="tabpanel" class="tab-pane active" id="timeseries">
          <export-timeseries></export-timeseries>
        </div>

        <!-- tab #2 (content) -->
        <div role="tabpanel" class="tab-pane" id="timeseries-rasters">
          <export-timeseries-rasters />
        </div>

        <!-- TODO: tab #3 (content)
          <export-je-moeder... >
        -->
      </div>
    </div>
  </div>
</div>
