
<div id="MotherModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="popup" aria-hidden="true"
     data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button"
                class="close"
                ng-click="closeModal()"
                aria-label="Close"
                ng-if="mayCloseModal()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" translate>
          Export data
        </h4>
      </div>

      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
          <a ng-click="setModus('timeseries')"
             href="#home" aria-controls="home" role="tab" data-toggle="tab">
            Timeseries
          </a>
        </li>

        <li role="presentation">
          <a ng-click="setModus('temporal-rasters')"
             href="#profile" aria-controls="profile" role="tab" data-toggle="tab">
            Temporal rasters
          </a>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content" style="margin: 0;">
        <div role="tabpanel" class="tab-pane active" id="home">
          <export-selector></export-selector>
        </div>
        <div role="tabpanel" class="tab-pane" id="profile">
          <export-temporal-rasters>
            foojoj bar baz
          </export-temporal-rasters>
        </div>
      </div>

      <!-- <export-selector></export-selector> -->

    </div>
  </div>
</div>
