
<div id="MotherModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="popup" aria-hidden="true"
     data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button"
                class="close"
                ng-click="closeModal()"
                aria-label="Close"
                ng-if="mayCloseModal()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" translate>
          Export timeseries
        </h4>
      </div>
      <export-selector></export-selector>
    </div>
  </div>
</div>
