<div class="card active" ng-if="asset.timeseries.length > 0">
  <div class="card-content">

    <div class="timeseries-header-container">

      <i class="omnibox-ts-icon">
        <img src="/static/client/images/ts-icon-gijs.1ac716c2.png" width="24" height="24">
      </i>

      <select
        class="timeseries"
        ng-if="asset.timeseries.length > 1"
        ng-class="{hidden: !fullDetails}"
        ng-model="timeseries.selected"
        ng-change="timeseries.change()"
        ng-options="ts.location
          + ', '
          + ts.parameter
          for ts in asset.timeseries track by ts.uuid
        ">
      </select>
      <span
        class="card-title-text placeholder"
        ng-if="asset.timeseries.length === 1 && fullDetails">
        {{ asset.timeseries[0].location
          + ', '
          + asset.timeseries[0].parameter }}
      </span>
      <span class="card-title-text placeholder" ng-class="{hidden: fullDetails}" translate>Timeseries</span>
      <full-details></full-details>
    </div>

    <div>
      <div ng-if="content[0].valueType !== 'image'">
        <div class="timeseries-graph-container"
            ng-class="{hidden: !fullDetails}"
            ng-if="content[0].measureScale === 'ratio'">
           <graph
              bar-chart
              type="temporal"
              temporal="timeState"
              content="content"
              now="timeState.at">
            </graph>
        </div>

        <div class="timeseries-graph-container"
          ng-class="{hidden: !fullDetails}"
            ng-if="content[0].measureScale !== 'ratio'">
          <graph
            line
            type="temporal"
            temporal="timeState"
            content="content"
            now="timeState.at">
          </graph>
        </div>

      </div>

      <div ng-if="content[0].valueType === 'image'">

      <!-- hardcoded context, timeseries directive is only used in omnibox when
           map -->
        <image-carousel
          images="content[0].data"
          context="map"
          temporal="timeState">
        </image-carousel>
      </div>

      <div class="timeseries-controls-container"
           ng-class="{hidden: !fullDetails}">
        <div class="timeseries-interval-btn"
             ng-click="zoomToInterval('one_year')"
             title="Zoom to a one year interval"
             translate>
          1Y
        </div>

        <div class="timeseries-interval-btn"
             ng-click="zoomToInterval('three_months')"
             title="Zoom to a 3 months interval"
             translate>
          3M
        </div>

        <div class="timeseries-interval-btn"
             ng-click="zoomToInterval('two_weeks')"
             title="Zoom to a 2 weeks interval"
             translate>
          2W
        </div>

        <div class="timeseries-interval-btn"
             ng-click="zoomToInterval('timesteps_range', timeseries.selected)"
             title="Zoom to the temporal extent"
             translate>
          ZOOM TO EXTENT
        </div>
      </div>
    </div>


  </div>
</div>
