<div class="card active" ng-if="asset.timeseries.length > 0">
  <div class="card-content">

    <div class="timeseries-header-container">
      <i class="fa" ng-class="{
        'fa-spin': fetching && timeseries.selected.value_type !== image,
        'fa-clock-o': timeseries.selected.value_type !== 'image',
        'fa-file-image-o': timeseries.selected.value_type === 'image'
      }"></i>
      <select
        class="timeseries"
        ng-if="asset.timeseries.length > 1"
        ng-class="{hidden: !fullDetails}"
        ng-model="timeseries.selected"
        ng-change="timeseries.change()"
        ng-options="ts.location
          + ', '
          + ts.parameter
          for ts in asset.timeseries track by ts.uuid
        ">
      </select>
      <span
        class="card-title-text placeholder"
        ng-if="asset.timeseries.length === 1 && fullDetails">
        <% asset.timeseries[0].location
          + ', '
          + asset.timeseries[0].parameter %>
      </span>
      <span class="card-title-text placeholder" ng-class="{hidden: fullDetails}" translate>Timeseries</span>
      <full-details></full-details>
    </div>


    <div ng-if="content.length">

      <br>

      <div ng-if="content[0].valueType !== 'image'">
        <div class="timeseries-graph-container"
            ng-class="{hidden: !fullDetails}"
            ng-if="content[0].type === 'bar-chart'">
           <graph
              bar-chart
              type="temporal"
              temporal="timeState"
              content="content"
              now="timeState.at">
            </graph>
        </div>

        <div class="timeseries-graph-container"
          ng-class="{hidden: !fullDetails}"
            ng-if="content[0].type !== 'bar-chart'">
          <graph
            line
            type="temporal"
            temporal="timeState"
            content="content"
            now="timeState.at">
          </graph>
        </div>

        <div class="card-tools"
          ng-class="{hidden: !fullDetails}">
          <a
            target="_blank"
            href="<% timeseries.selected.url %>"
            class="btn btn-default btn-xs"
            title="<% 'Export info card data' | translate %>">
            <i class="fa fa-share-square-o"></i>
            <span translate>Export</span>
          </a>
        </div>
      </div>

      <div ng-if="content[0].valueType === 'image'">

      <!-- hardcoded context, timeseries directive is only used in omnibox when
           map -->
        <image-carousel
          images="content[0].data"
          context="map"
          temporal="timeState">
        </image-carousel>

      </div>

    </div>


  </div>
</div>
