<div ng-controller="DatamenuController as menu">
  <div class="layer-menu-container">
    <div class="layer-switcher-wrapper"
      ng-class="{'slide-left': menu.enabled}">


      <div class="breakout-menu"></div>

      <div class="layer-switcher">

        <ul class="nav">

          <li class="nav-header">
            <ul class="list-group">
              <li>
                <baselayer-chooser></baselayer-chooser>
              </li>
              <li ng-repeat="layergroup in menu.layerGroups | orderObjectBy: 'order': false"
                  ng-if="!(layergroup.isEventLayerGroup() || layergroup.baselayer)">
                <layer-chooser layergroup="layergroup">
                </layer-chooser>
              </li>

              <li ng-repeat="layergroup in menu.layerGroups | orderObjectBy: 'order': false"
                  ng-if="layergroup.isEventLayerGroup() && !layergroup.baselayer">
                <eventlayer-chooser layergroup="layergroup">
                </eventlayer-chooser>
              </li>
            </ul>
          </li>
        </ul>
      </div>

      <div id="ribbon"
           class="ribbon"
           title="<% menu.enabled ? tooltips.closeMenu : tooltips.openMenu %>">
        <div class="arrow arrow-up" ng-click="menu.enabled = !menu.enabled">
        </div>
        <div class="arrow arrow-down" ng-click="menu.enabled = !menu.enabled">
        </div>
      </div>

      <span class="fa ribbon-icon clickable" ng-class="{
              'fa-spinner fa-spin': menu.state.gettingData,
              'fa-compass': !menu.state.gettingData
            }"
            ng-click="menu.enabled = !menu.enabled"
            title="<% menu.enabled ? tooltips.closeMenu : tooltips.openMenu %>">
      </span>

      <div class="button-list-container" id="">

        <div ng-if="context === 'map' || context === 'scenarios'">

          <div class="button-list-item"
               style="cursor: pointer">
            <a ng-click="menu.box.type = 'point'"
               class="button-list-link"
               title="<% 'Point selection' | translate %>"
               ng-class="{'active': menu.box.type === 'point'}">
               <i class="fa fa-map-marker"></i>
            </a>
          </div>

          <div class="button-list-item"
               style="cursor: pointer">
            <a ng-click="menu.box.type = 'line'"
               class="button-list-link"
               title="<% 'Line selection' | translate %>"
               ng-class="{'active': menu.box.type === 'line'}">
               <i class="fa fa-expand"></i>
            </a>
          </div>

          <div class="button-list-item"
               style="cursor: pointer">
            <a ng-click="menu.box.type = 'region'"
               class="button-list-link"
               title="<% 'Region selection' | translate %>"
               ng-class="{'active': menu.box.type === 'region'}">
               <i class="fa fa-lemon-o"></i>
            </a>
          </div>

          <div class="button-list-item"
               style="cursor: pointer">
            <a ng-click="menu.box.type = 'area'"
               class="button-list-link"
               title="<% 'View selection' | translate %>"
               ng-class="{'active': menu.box.type === 'area'}">
               <i class="fa fa-square-o"></i>
            </a>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
