
<div id="master" ng-controller="DatamenuController as menu">
  <div class="layer-menu-container">
    <div  class="layer-switcher-wrapper pull-right"
         ng-class="{'slide-left': menu.enabled && context === 'map'}">
      <div class="layer-switcher slide-left">
        <ul class="nav">
          <li class="nav-header">
            <ul class="list-group">
              <li ng-repeat="layergroup in menu.layerGroups | orderObjectBy: 'order': false">
                <layer-chooser layergroup="layergroup"></layer-chooser>
              </li>
            </ul>
          </li>
        </ul>
      </div>

      <div id="ribbon"
           class="ribbon"
           title="<% menu.enabled ? tooltips.closeMenu : tooltips.openMenu %>">
        <div class="arrow arrow-up" ng-click="menu.enabled = !menu.enabled">
        </div>
        <div class="arrow arrow-down" ng-click="menu.enabled = !menu.enabled">

          <span class="fa ribbon-icon" ng-class="{
            'fa-spinner fa-spin': menu.state.gettingData,
            'fa-compass': !menu.state.gettingData
          }"></span>

        </div>
      </div>

      <div class="button-list-container" id="">

        <div ng-if="context === 'map'">

          <div class="button-list-item"
               style="cursor: pointer">
            <a ng-click="menu.box.type = 'point'"
               class="button-list-link"
               title="punt selectie"
               ng-class="{'active': menu.box.type === 'point'}">
               <i class="fa fa-dot-circle-o"></i>
            </a>
          </div>

          <div class="button-list-item"
               style="cursor: pointer">
            <a ng-click="menu.box.type = 'line'"
               class="button-list-link"
               title="lijn selectie"
               ng-class="{'active': menu.box.type === 'line'}">
               <i class="fa fa-expand"></i>
            </a>
          </div>

          <div class="button-list-item"
               style="cursor: pointer">
            <a ng-click="menu.box.type = 'area'"
               class="button-list-link"
               title="scherm selectie"
               ng-class="{'active': menu.box.type === 'area'}">
               <i class="fa fa-square-o"></i>
            </a>
          </div>

        </div>

        <div class="button-list-item"
             style="cursor: pointer">

          <a ng-click="switchContext('map')"
             class="button-list-link"
             title="Toon kaart."
             ng-if="context === 'db'">
             <i class="fa fa-close"></i>
          </a>
        </div>

      </div>
    </div>
  </div>
</div>
