<div ng-controller="DatamenuController as menu">
    <div class="layer-switcher-wrapper"
      ng-class="{'slide-left': menu.enabled}">

      <div class="layer-switcher">
            <ul class="list-group">
              <li>
                <baselayer-chooser></baselayer-chooser>
              </li>
              <li ng-repeat="layergroup in menu.layerGroups | orderObjectBy: 'order': false"
                  ng-if="!(layergroup.isEventLayerGroup() || layergroup.baselayer)">
                <layer-chooser layergroup="layergroup">
                </layer-chooser>
              </li>

              <li ng-repeat="layergroup in menu.layerGroups | orderObjectBy: 'order': false"
                  ng-if="layergroup.isEventLayerGroup() && !layergroup.baselayer">
                <eventlayer-chooser layergroup="layergroup">
                </eventlayer-chooser>
              </li>
            </ul>
      </div>

      <div class="button-list-container">
        <div class="button-list-item">
          <span class="fa clickable" ng-class="{
                  'fa-spinner fa-spin': menu.state.gettingData,
                  'fa-compass': !menu.state.gettingData
                }"
                ng-click="menu.enabled = !menu.enabled"
                title="<% menu.enabled ? tooltips.closeMenu : tooltips.openMenu %>">
          </span>
        </div>
        <div ng-if="context === 'map' || context === 'scenarios'">

          <datamenu-item
            title="<% 'Point selection' | translate %>"
            box-type="menu.box.type"
            type="point" icon="map-marker"></datamenu-item>
          <datamenu-item
            title="<% 'Select Multiple Points' | translate %>"
            box-type="menu.box.type"
            type="multi-point" icon="th"></datamenu-item>
          <datamenu-item
            title="<% 'Line selection' | translate %>"
            box-type="menu.box.type"
            type="line" icon="expand"></datamenu-item>
          <datamenu-item
            title="<% 'Region selection' | translate %>"
            box-type="menu.box.type"
            type="region" icon="lemon-o"></datamenu-item>
          <datamenu-item
            title="<% 'View selection' | translate %>"
            box-type="menu.box.type"
            type="area" icon="square-o"></datamenu-item>

      </div>
    </div>
</div>
