<div class="layer-adder">
  <a class="go-back"
     href=""
     ng-click="menu.layerAdderEnabled = !menu.layerAdderEnabled">
    <i class="fa fa-angle-left"></i>&nbsp;&nbsp;Go back
  </a>
  <input ng-model="searchLayerGroups"
         placeholder="Filter layers..."
         class="material-shadow" />
  <table class="table table-hover">
    <tbody>
      <tr
        class="clickable"
        ng-repeat="obj in availableLayerGroups.results"
        ng-click="addLayerGroupToPortal(obj)"
        ng-mouseenter="hovering=true"
        ng-mouseleave="hovering=false">
        <td>
          <i class="fa"
             ng-class="hovering ? 'fa-plus' : 'fa-map'">
          </i>
        </td>
        <td><% obj.name %></td>
        <td><% obj.description %></td>
      </tr>
    </tbody>
  </table>
</div>
