<div class="layer-switcher">
  <ul class="list-group">
    <li>
      <baselayer-chooser></baselayer-chooser>
    </li>
    <li ng-repeat="layergroup in menu.layerGroups | orderObjectBy: 'order': false"
        ng-if="!(layergroup.isEventLayerGroup() || layergroup.baselayer)">
      <layer-chooser layergroup="layergroup">
      </layer-chooser>
    </li>

    <li ng-repeat="layergroup in menu.layerGroups | orderObjectBy: 'order': false"
        ng-if="layergroup.isEventLayerGroup() && !layergroup.baselayer">
      <eventlayer-chooser layergroup="layergroup">
      </eventlayer-chooser>
    </li>
    <li>
      <a class="layer-item add-data"
         ng-click="menu.layerAdderEnabled = !menu.layerAdderEnabled"
         href=""
         translate>
        Add data&hellip;
        <i class="fa fa-plus"></i>
      </a>
    </li>
  </ul>
</div>
