<div id="timeline"
     ng-controller="TimeCtrl as timeline">

    <div class="clock-wrapper noselect">

      <!-- TODO?: use toLocaleString() for datetime dutchification? -->

      <div class="clock-time">
        <div
           ng-click="timeline.toggleTimelineVisiblity()"
           ng-bind="timeline.state.temporal.at | date: timeline.formatDatetime()">
        </div>
        <div ng-if="timeline.showContextSwitch">
          <a
            ng-click="timeline.toggleTimeCtx()"
            class="button-list-link"
            title="<% 'Show dashboard' | translate %>"
            style="cursor: pointer;">
            <i class="fa" ng-class="{
              'fa-minus-square': timeline.state.context === 'dashboard',
              'fa-bar-chart': timeline.state.context === 'map'
            }"></i>
          </a>
        </div>
      </div>

    </div>

  <div class="timeline-wrapper">
    <div class="time-controls" ng-if="timeline.animatable">
      <div class="btn-group">
        <a ng-click="timeline.playPauseAnimation()"
           class="extra-padding timeline-button"
           ng-class="{
            'active': timeline.state.temporal.playing,
            'hidden': !timeline.animatable
           }"
           title="<% timeline.state.temporal.playing ? tooltips.stopAnim : tooltips.startAnim %>"
           data-original-title="<% 'Play/pause' | translate %>">
          <span
            ng-if="timeline.state.layerGroups.timeIsSyncing"
            class="fa fa-circle-o-notch fa-spin">
          </span>
          <span
            ng-if="!timeline.state.layerGroups.timeIsSyncing"
            ng-class="{
              'fa fa-pause active': timeline.state.temporal.playing,
              'fa fa-play': !timeline.state.temporal.playing,
              }">
          </span>
        </a>
      </div>
    </div>
    <div id="timeline-svg-wrapper" class="timeline-svg-wrapper">
      <svg></svg>
    </div>
    <div class="time-controls-right">
      <div class="btn-group-horizontal">
          <a class="btn btn-default btn-xss" ng-click="timeline.zoom('in')"
            class="extra-padding timeline-button"
            title="<% tooltips.zoomInTimeline %>"
            data-original-title="Zoom in">
            <i class="fa fa-plus"></i>
          </a>
          <a class="btn btn-default btn-xss" ng-mousedown="timeline.zoomToNow()"
            class="extra-padding timeline-button"
            title="<% tooltips.goToNow %>"
            data-original-title="Naar nu">
            <i class="fa fa-clock-o"></i>
          </a>
          <a class="btn btn-default btn-xss" ng-click="timeline.zoom('out')"
            class="extra-padding timeline-button"
            title="<% tooltips.zoomOutTimeline %>"
            data-original-title="Zoom uit">
            <i class="fa fa-minus"></i>
          </a>
      </div>
    </div>
  </div>
</div>
