<div id="timeline"
     ng-controller="TimeCtrl as timeline">
  <div class="clock-wrapper noselect">

    <!-- TODO?: use toLocaleString() for datetime dutchification? -->

    <div class="clock-time"
         ng-click="timeline.toggleTimelineVisiblity()"
         ng-bind="timeline.state.at | date: timeline.formatDatetime() | dutchifyDatetime ">
    </div>

  </div>

  <div class="timeline-wrapper">
    <div class="time-controls" ng-if="context === 'map'">
      <div class="btn-group">
        <a ng-click="timeline.playPauseAnimation()"
           class="extra-padding timeline-button"
           ng-class="{'active': timeline.state.playing, 'hidden': !timeline.animatable}"
           title="<% timeline.state.playing ? tooltips.stopAnim : tooltips.startAnim %>"
           data-original-title="Afspelen/pauzeren">
          <span class="fa"  ng-class="{
              'fa-play': !timeline.state.playing,
              'fa-pause active': timeline.state.playing,
              'fa-circle-o-notch fa-spin' : timeline.layerGroups.timeIsSyncing
              }"></span>
        </a>
      </div>
    </div>
    <div id="timeline-svg-wrapper" class="timeline-svg-wrapper">
      <svg></svg>
    </div>
    <div class="time-controls-right">
      <div class="btn-group-horizontal">
          <a class="btn btn-default btn-xss" ng-click="timeline.zoom('in')"
            class="extra-padding timeline-button"
            title="<% tooltips.zoomInTimeline %>"
            data-original-title="Zoom in">
            <i class="fa fa-plus"></i>
          </a>
          <a class="btn btn-default btn-xss" ng-mousedown="timeline.zoomToNow()"
            class="extra-padding timeline-button"
            title="<% tooltips.goToNow %>"
            data-original-title="Naar nu">
            <i class="fa fa-clock-o"></i>
          </a>
          <a class="btn btn-default btn-xss" ng-click="timeline.zoom('out')"
            class="extra-padding timeline-button"
            title="<% tooltips.zoomOutTimeline %>"
            data-original-title="Zoom uit">
            <i class="fa fa-minus"></i>
          </a>
      </div>
    </div>
  </div>
</div>
