{% load i18n %}
<!DOCTYPE html>
<html ng-app="lizard-nxt" ng-controller="MasterCtrl">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>Lizard</title>
    
    {% block css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}vendor/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}vendor/leaflet/dist/leaflet.css" />

    <link href="{{ STATIC_URL }}vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="{{ STATIC_URL }}source/assets/css/omnibox.css" rel="stylesheet" />
    <link href="{{ STATIC_URL }}source/assets/css/graph.css" rel="stylesheet" />
    <link href="{{ STATIC_URL }}source/assets/css/nxt_base.css" rel="stylesheet" />
    <link rel="stylesheet" href="{{ STATIC_URL }}vendor/Leaflet.awesome-markers/dist/leaflet.awesome-markers.css">
    <link href="{{ STATIC_URL }}threedi/css/threedi.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
    {% endblock css %}

    <script>
      var debug = true;

      var baseLayers = {{ strap_base_layers }};
      var layers = {{ strap_layers }};
      var layerGroups = {{ strap_layer_groups }};

      var threedi_api_url = "{{ threedi_instance.api_url }}";
      var threedi_subgrid_url = "{{ threedi_instance.socket_url }}";
      var threedi_wms_server_url = "{{ threedi_instance.wms_url }}";
      var threedi_data_url = "{{ threedi_instance.data_url }}";

      function logOut() {
        var r=confirm("Weet u zeker dat u wilt uitloggen?");
        if (r==true) {
          window.location = "{% url "login" %}?next=/";
          }
        else {
          return false;
        }
        }
    </script>
  </head>

  <body ng-controller="Threedi">

    {% include "client/index.html" %}
    {% block content %}

      <div>
        <map layer-switch 
             move-end pan-zoom="panZoom"
             layers="mapState.layers"
             rasterprofile="disabled"
             locate="locate"
             zoom-to-layer="zoomToLayer"
             vectorlayer
             threedi-map>
         </map>
      </div>
    <timeline class="hidden navbar timeline navbar-fixed-bottom"></timeline>

    {% block box_awesome %}{% endblock %}
    <div class="container">
      <omnibox id="omnibox"></omnibox>
    </div>

    {% block toolbar_controllers %}
    <!--div class="container-fluid">
<div class="navbar navbar-fixed-bottom" ng-controller="ClientState">
  <div class="navbar-inner">
    <div class="control">
      <div class="btn-group bar-buttons">
        <a class="btn btn-info-line" ng-class="{'btn-primary': clientstate.program_mode == 'infoline'}" ng-click="setMode('infoline')">
          <i class="icon-threedi-line-info"></i></a>
        <a class="btn btn-info-point" ng-class="{'btn-primary': clientstate.program_mode == 'infopoint'}" ng-click="setMode('infopoint')">
          <i class="icon-threedi-info"></i></a>
      </div>

      <div class="btn-group control-edit-buttons hide" 
           ng-controller="RemoteControl" 
           ng-class="{hide: !isMaster}">

        <a href="#" class="btn btn-replay" ng-class="{disabled:!isMaster || wait_for_server_response}"
        ng-click="!isMaster || reset()">
          <i class="icon-repeat"></i>
        </a>
        <a id="btn-play" class="btn" ng-class="{active: isPlaying, disabled:!isMaster || wait_for_server_response}" ng-click="!isMaster || play()">
          <i class="icon-play" ng-class="{green: has_future_events}"></i>
        </a>
        <a id="btn-stop" class="btn" ng-class="{active: !isPlaying, disabled: !isMaster || wait_for_server_response}" ng-click="!isMaster || stop()">
          <i class="icon-stop"></i>
        </a>
      </div>

      <div class="btn-group control-edit-buttons hide" 
           ng-controller="Simulator" 
           ng-class="{hide: !isMaster}">

        <a class="btn btn-rain" ng-class="{disabled: !isMaster, 'btn-primary': clientstate.program_mode == 'rain'}" ng-click="!isMaster || setMode('rain')">
          <i class="icon-threedi-rain"></i></a>
        <a class="btn btn-discharge" ng-class="{disabled: !isMaster,
        'btn-primary': clientstate.program_mode == 'discharge'}"
        ng-click="!isMaster || setMode('discharge')">
          <i class="icon-threedi-manhole"></i></a>
        <a class="btn btn-manhole" ng-class="{disabled: !isMaster,
        'btn-primary': clientstate.program_mode == 'manhole'}"
        ng-click="!isMaster || setMode('manhole')">
          <i class="icon-threedi-pump"></i></a>
        <a class="btn btn-edit-bathy" ng-class="{disabled: !isMaster,
        'btn-primary': clientstate.program_mode == 'edit'}"
        ng-click="!isMaster || setMode('edit')">
          <i class="icon-circle-arrow-up"></i></a>
      </div>

      <div class="btn-group pull-right" ng-controller="Director">
        <a class="btn" ng-click="requestMaster()" ng-class="{disabled: have_master && !isMaster}" title="{[{ master_name }]}">
          <i ng-class="{'icon-star-empty': !isMaster, 'icon-star': isMaster}"> </i>
        </a>
      </div>

      <div class="timeline non-btn-group right" ng-controller="Timeline">
        <span class="timeline non-btn" title="Time (HH:MM)">
          {[{ slider.human_at }]}
        </span>
      </div>

      <div ng-controller="Status" class="non-btn-group right">
          <i class="icon-circle non-btn"
             ng-class="{
             'state-wait': serverState == 'wait',
             'state-sim': serverState == 'sim',
             'state-standby': serverState == 'standby',
             'state-prepare-wms': serverState == 'prepare-wms',
             'state-load-model': serverState == 'load-model',
             'state-loaded-model': serverState == 'loaded-model',
             'state-stopping': serverState == 'stopping'
            }"
          title="{[{ label }]}"></i>
      </div>

   </div>
  </div>
</div>
    </div-->
        {% endblock toolbar_controllers %}

    {% endblock content %}

    {% block javascript_body %}
    <script type="text/javascript" src="{{ STATIC_URL }}vendor/jquery/jquery.min.js?{{ random_string }}"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}vendor/leaflet/dist/leaflet.js?{{ random_string }}"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}vendor/Leaflet.utfgrid/src/leaflet.utfgrid.js?{{ random_string }}"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}vendor/leaflet-tilelayer-geojson/TileLayer.GeoJSON.js?{{ random_string }}"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}source/app/lib/TileLayer.GeoJSONd3.js?{{ random_string }}"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}vendor/angular/angular.js?{{ random_string }}"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}vendor/angular-resource/angular-resource.min.js?{{ random_string }}"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}vendor/bootstrap/dist/js/bootstrap.js?{{ random_string }}"></script>
    <!-- NOTE: this should be part of d3js? otherwise we could just use d3 colors to get rid of this dependency -->
    <script type="text/javascript" src="{{ STATIC_URL }}vendor/colorbrewer/colorbrewer.js?{{ random_string }}"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}source/app/lib/leaflet.points-layer.js?{{ random_string }}"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}source/app/lizard-nxt-services.js?{{ random_string }}"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}source/app/lizard-nxt.js?{{ random_string }}"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}source/app/directives/map-directives.js?{{ random_string }}"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}source/app/directives/aggregate-directives.js?{{ random_string }}"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}source/app/directives/omnibox-directives.js?{{ random_string }}"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}source/app/directives/graph-directives.js?{{ random_string }}"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}source/app/directives/profile-directives.js?{{ random_string }}"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}source/app/directives/timeline-directives.js?{{ random_string }}"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}source/app/templates/templates.js?{{ random_string }}"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}vendor/d3/d3.min.js?{{ random_string }}"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}vendor/socket.io-client/dist/socket.io.min.js"></script>
    <!--script src="{{ STATIC_URL }}vendor/Leaflet.awesome-markers/dist/leaflet.awesome-markers.js"></scrip-->
    <script type="text/javascript" src="{{ STATIC_URL }}vendor/Leaflet.bouncemarker/bouncemarker.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}threedi/leaflet-plugins/TileLayer.WMS.incrementalSingleTile.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}threedi/js/animations.js?{{ random_string }}"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}threedi/js/threedi-nxt.js?{{ random_string }}"></script>
    <!--script type="text/javascript" src="{{ STATIC_URL }}threedi/js/threedi-ng.js?{{ random_string }}"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}threedi/js/threedi-leaflet.js?{{ random_string }}"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}threedi/js/animations.js?{{ random_string }}"></script-->
    <!--script type="text/javascript" src="{{ STATIC_URL }}lib/nxt_graph/nxt-graph.js?{{ random_string }}"></script-->
    {% endblock %}

  </body>
</html>
