{% load i18n %}
<!DOCTYPE html>
<html ng-app="lizard-nxt">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>Lizard</title>
    
    {% block css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}vendor/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}vendor/leaflet/dist/leaflet.css" />

    <!-- CSS for jqueryui: "smoothness" theme -->
    <!--<link href="{{ STATIC_URL }}vendor/jquery-ui-1.10.1.custom/themes/smoothness/jquery-ui.min.css" rel="stylesheet" />-->
    <link href="{{ STATIC_URL }}vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="{{ STATIC_URL }}source/assets/css/nxt_base.css" rel="stylesheet" />
    <link href="{{ STATIC_URL }}source/common/nxt_box/nxt-box.css" rel="stylesheet"/>
    <link href="{{ STATIC_URL }}source/assets/css/animations.css" rel="stylesheet" />
    <link href="{{ STATIC_URL }}vendor/ngprogress/ngProgress.css" rel="stylesheet" />
    <!--<link href="{{ STATIC_URL }}vendor/nvd3/source/nv.d3.css" rel="stylesheet"/>-->
    {% endblock css %}

    <script>
      var debug = true;

      var baseLayers = {{ strap_base_layers }};
      var layers = {{ strap_layers }};
      var layerGroups = {{ strap_layer_groups }};
    </script>
  </head>

  <body ng-controller="MasterCtrl">
    <header>
      <div id="logo-row" class="navbar">
        <div id="logo">
          <a href="/" title="{% trans 'Back to homepage' %}"><img src="{{ STATIC_URL }}source/assets/images/logo_text.png" alt="Lizard"></a>
        </div>
        <div id="site-actions">
          <ul class="nav pull-right" id="rightbar-actions">
            <li class="site">
              <a href="#" ng-click="toggle_profile()"><i class="icon-resize-full"></i></a>
            </li>
            <li>
              <a href="#" ng-click="show()" ng-controller="ImpeachCandidate"><i class="icon-dashboard"></i></a>
            </li>
            {% if user.is_authenticated %}
              <li class="dropdown">
                <a class="dropdown-toggle" data-content="Toon loginopties" data-title="" href="#" data-toggle="dropdown" 
                data-delay=200>
                  <i class="icon-user"></i> {{ user.first_name }}
                  <b class="caret"></b>
                </a>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="{% url "lizard_auth_client.sso_logout" %}?next=/"> {% trans "Logout" %}
                      </a>
                    </li>
                    <li>
                      <a href="http://sso.lizard.net/edit_profile/"> {% trans "Edit profile" %}
                      </a>
                    </li>
                  </ul>
              </li>
            {% else %}
              <li>
                <a href="{% url "login" %}?next=/"><i class="icon-user"></i> {% trans "Login" %}</a>
              </li>
            {% endif %}
          </ul>
          {% block site_actions %}{% endblock site_actions %}
        </div>
      </div>
    </header>

    {% block content %}

      <div ng-controller="MapCtrl" >
        <map layer-switch kpilayer="onAreaClick()" pan-zoom="panZoom" layers="data.layers" rasterprofile="disabled" ng-controller="ProfileCtrl"></map>
        <div class="layer-switcher-enabler"  ng-class="{'enabler-switch-left': data.enabled}" ng-mouseover="" ng-click="toggleLayerSwitcher()"><i class="icon-globe"></i></div>
        <div class="arrow-up" ng-class="{'arrow-switch-left': data.enabled}" ng-click="toggleLayerSwitcher()"></div>
        <div class="arrow-down" ng-class="{'arrow-switch-left': data.enabled}" ng-click="toggleLayerSwitcher()"></div>
        <div class="layer-switcher well searchbox-shadow" ng-show="data.enabled" style="visibility:hidden;" ng-style="{visibility:'visible'}">
          <ul class="nav nav-list">
            <li class="nav-header">
              {% trans "Basiskaarten" %}
              <ul class="unstyled">
                <li ng-repeat="layer in data.baselayers | orderBy:'order':true">
                  <input id="<%layer.id%>-baselayer" class="hide" type="radio" ng-model="data.activeBaselayer" ng-value="layer.id" name="baselayer" ng-change="switchBaseLayer()"> 
                  <label class="ng-class: {active: layer.active};" for="<% layer.id %>-baselayer" ng-bind="layer.name"></label>
                </li>
              </ul>
            </li>
            <li class="nav-header">
              {% trans "Themakaarten" %}
              <ul class="unstyled">
                <li ng-repeat="layergroup in data.layergroups | orderBy:'order':true" >
                  <input id="<%layergroup.id%>-layergroup" class="hide" type="checkbox" ng-model="layergroup.active" ng-change="toggleLayerGroup(layergroup)">
                  <label class="ng-class: {active: layergroup.active};" for="<% layergroup.id %>-layergroup" ng-bind="layergroup.name"></label>
                </li>
              </ul>
            </li>
            <li class="nav-header">
              {% trans "Specifieke Kaarten" %}
              <ul class="unstyled">
                <li ng-repeat="layer in data.layers | orderBy:'order':true">
                  <input id="<%layer.id%>-layer" class="hide" type="checkbox" ng-model="layer.active" ng-change="changed()">
                  <label class="ng-class: {active: layer.active};" for="<% layer.id %>-layer" ng-bind="layer.name"></label>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      





    {% block box_awesome %}{% endblock %}
    <div class="container-fluid">
        {% block toolbar_controllers %}
        {% endblock %}
    {% endblock content %}

    {% block javascript_body %}
    <script type="text/javascript" src="{{ STATIC_URL }}vendor/jquery/jquery.min.js?{{ random_string }}"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}vendor/leaflet/dist/leaflet.js?{{ random_string }}"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}vendor/Leaflet.utfgrid/src/leaflet.utfgrid.js?{{ random_string }}"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}vendor/leaflet-tilelayer-geojson/TileLayer.GeoJSON.js?{{ random_string }}"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}vendor/angular/angular.js?{{ random_string }}"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}vendor/angular-resource/angular-resource.min.js?{{ random_string }}"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}vendor/angular-ui-utils/modules/event/event.js?{{ random_string }}"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}vendor/angular-ui-utils/modules/highlight/highlight.js?{{ random_string }}"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}vendor/angular-ui-utils/modules/keypress/keypress.js?{{ random_string }}"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}vendor/ngprogress/build/ngProgress.js?{{ random_string }}"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}vendor/bootstrap/js/bootstrap.js?{{ random_string }}"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}source/app/lizard-nxt-services.js?{{ random_string }}"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}source/app/lizard-nxt.js?{{ random_string }}"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}source/app/directives/omnibox-directives.js?{{ random_string }}"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}source/app/directives/map-directives.js?{{ random_string }}"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}source/app/directives/kpi-directives.js?{{ random_string }}"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}source/app/directives/profile-directives.js?{{ random_string }}"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}source/app/controllers/omnibox-controllers.js?{{ random_string }}"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}source/app/controllers/kpi-controllers.js?{{ random_string }}"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}source/app/controllers/profile-controllers.js?{{ random_string }}"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}source/app/filters/truncate.js?{{ random_string }}"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}source/common/nxt_box/nxt-box.js?{{ random_string }}"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}source/common/nxt_graph/nxt-graph.js?{{ random_string }}"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}vendor/d3/d3.min.js?{{ random_string }}"></script>
    <!-- <script type="text/javascript" src="{{ STATIC_URL }}lib/nxt_graph/nxt-graph.js?{{ random_string }}"></script> -->
    {% endblock %}

  </body>
</html>
