<li class="noselect">
  <label
    class="ng-class: {active: layergroup.isActive()}; layer-chooser"
    for="<% layergroup.id %>-layer"
    title="<% layergroup.name %>">
      <div class="layer-img" class="layer-chooser" ng-style="layergroup.imageStyle"></div>
      <span
        single-click="menu.toggleLayerGroup(layergroup)"
        ng-dblclick="layergroup.dblClick()"
        class="layer-text" ng-bind="layergroup.name">
      </span>
      <span
        ng-if="((layergroup.spatialBounds.north - layergroup.spatialBounds.east) !== 0)
               && layergroup.isActive()"
        class="layer-icon"
        single-click="menu.zoomToBounds(layergroup.spatialBounds, layergroup.temporalBounds)">
          <i class="fa fa-crosshairs"></i>
      </span>
  </label>
</li>

<opacity-slider title="<% tooltips.transparency %>"></opacity-slider>
