<div class="noselect">
  <label
    single-click="menu.toggleLayerGroup(layergroup)"
    ng-dblclick="layergroup.dblClick()"
    ng-class ="{active: layergroup.isActive()}"
    class="layer-item layer-img"
    for="<% layergroup.id %>-layer"
    title="<% layergroup.name %>"
    ng-style="layergroup.imageStyle">
      <span ng-bind="layergroup.name"></span>
      <i
        ng-if="((layergroup.spatialBounds.north - layergroup.spatialBounds.east) !== 0)
               && layergroup.isActive()"
        ng-click="menu.zoomToBounds(layergroup.spatialBounds, layergroup.temporalBounds); $event.stopPropagation()"
        class="fa fa-crosshairs">
      </i>
      <i class="fa fa-close"
         ng-click="removeLayerGroup(layergroup); $event.stopPropagation()"></i>
  </label>
</div>

<opacity-slider title="<% tooltips.transparency %>"></opacity-slider>
