<li class="noselect">

  <!-- normal, "overlayer" menu-items (plural): -->
  <label
    class="ng-class: {active: layergroup.isActive()}; layer-chooser"
    for="<% layergroup.id %>-layer"
    single-click="menu.toggleLayerGroup(layergroup)"
		ng-dblclick="layergroup.dblClick()"
    title="<% layergroup.name %>">
    <span class="layer-text" ng-bind="layergroup.name"></span>
    <div class="layer-img" class="layer-chooser" ng-style="layergroup.imageStyle"></div>
  </label>
</li>

<div ng-if="context === 'map'">
  <opacity-slider title="<% tooltips.transparency %>"></opacity-slider>
</div>
