<div class="material-shadow"
   ng-class="{'slide-left': menu.enabled,
    'layer-adder-wrapper': menu.layerAdderEnabled,
    'layer-switcher-wrapper': !menu.layerAdderEnabled,}">

  <div ng-if="!menu.layerAdderEnabled" class="layer-switcher">
    <ul class="list-group">

      <baselayers layers="layers"></baselayers>

      <div ng-repeat="layer in layers | orderBy:'order'">
        <assetlayer
          ng-if="layer.type === 'asset'"
          asset="layer">
        </assetlayer>
        <raster
          ng-if="!layer.scenario && layer.type === 'raster'"
          raster="layer">
        </raster>
        <wmslayer
          ng-if="!layer.scenario && layer.type === 'wmslayer'"
          wms-layer="layer">
        </wmslayer>
        <eventseries
          ng-if="layer && layer.type === 'eventseries'"
          eventseries="layer">
        </eventseries>
      </div>

      <li>
        <a class="layer-item add-data"
           ng-click="menu.layerAdderEnabled = !menu.layerAdderEnabled"
           translate>
          Add data&hellip;
          <div class="layer-chooser-tools">
            <i class="fa fa-plus"></i>
          </div>
        </a>
      </li>

    </ul>
  </div>

  <layer-adder ng-if="menu.layerAdderEnabled" menu="menu"></layer-adder>

  <div class="button-list-container">
    <div class="button-list-item compass"
     ng-click="menu.enabled = !menu.enabled">
      <span class="fa"
        ng-class="{
          'fa-spinner fa-spin': menu.state.gettingData,
          'fa-compass': !menu.state.gettingData
        }"
        title="<% menu.enabled ? tooltips.closeMenu : tooltips.openMenu %>">
      </span>
    </div>
    <datamenu-item
      title="<% 'Point selection' | translate %>"
      box-type="menu.box.type"
      type="point" icon="map-marker">
    </datamenu-item>
    <datamenu-item
      title="<% 'Select Multiple Points' | translate %>"
      box-type="menu.box.type"
      type="multi-point" icon="th">
    </datamenu-item>
    <datamenu-item
      title="<% 'Line selection' | translate %>"
      box-type="menu.box.type"
      type="line" icon="expand">
    </datamenu-item>
    <datamenu-item
      title="<% 'Region selection' | translate %>"
      box-type="menu.box.type"
      type="region" icon="lemon-o">
    </datamenu-item>
    <datamenu-item
      title="<% 'View selection' | translate %>"
      box-type="menu.box.type"
      type="area" icon="square-o">
    </datamenu-item>
  </div>

</div>
