<div class="material-shadow"
   ng-class="{'slide-left': menu.enabled,
    'layer-adder-wrapper': menu.fullMenu,
    'layer-switcher-wrapper': !menu.fullMenu,}">

  <div class="button-list-container">
    <div class="button-list-item compass"
     ng-click="menu.enabled = !menu.enabled">
      <span class="fa"
        ng-class="{
          'fa-spinner fa-spin': menu.state.gettingData,
          'fa-caret-left': !menu.state.gettingData && !menu.enabled,
          'fa-caret-right': !menu.state.gettingData && menu.enabled
        }"
        title="<% menu.enabled ? tooltips.closeMenu : tooltips.openMenu %>">
      </span>
    </div>
    <datamenu-item
      title="<% 'Point selection' | translate %>"
      box-type="menu.box.type"
      type="point"
      icon="map-marker">
    </datamenu-item>
    <datamenu-item
      title="<% 'Select Multiple Points' | translate %>"
      box-type="menu.box.type"
      type="multi-point"
      icon="multi-point-tool">
    </datamenu-item>
    <datamenu-item
      title="<% 'Line selection' | translate %>"
      box-type="menu.box.type"
      type="line"
      icon="line-tool">
    </datamenu-item>
    <datamenu-item
      title="<% 'Region selection' | translate %>"
      box-type="menu.box.type"
      type="region"
      icon="region-tool">
    </datamenu-item>
    <datamenu-item
      title="<% 'View selection' | translate %>"
      box-type="menu.box.type"
      type="area" icon="square-o">
    </datamenu-item>
  </div>

  <div ng-show="!menu.layerAdderEnabled" class="layer-switcher">
    <ul class="list-group">
      <div class="layer-menu-explanation">
        <span translate>Select datalayers:</span>
      </div>
      <baselayers state="state"></baselayers>

      <div ng-repeat="layer in state.layers track by layer.uuid">
        <assetlayer
          ng-if="layer.type === 'assetgroup'"
          layer="layer">
        </assetlayer>
        <rasterlayer
          ng-if="!layer.scenario && layer.type === 'raster'"
          layer="layer">
        </rasterlayer>
        <wmslayer
          ng-if="!layer.scenario && layer.type === 'wmslayer'"
          layer="layer">
        </wmslayer>
        <eventseries
          ng-if="!layer.scenario && layer.type === 'eventseries'"
          layer="layer">
        </eventseries>
        <scenario
          ng-if="layer.type === 'scenario'"
          layer="layer">
        </scenario>
      </div>

      <annotations-layer
        ng-if="state.annotations.present"
        annotations="state.annotations">
      </annotations-layer>

      <li>
        <a class="layer-item add-data"
           ng-click="menu.layerAdderEnabled = !menu.layerAdderEnabled"
           translate>
          Add data&hellip;
          <div class="layer-chooser-tools">
            <i class="fa fa-plus"></i>
          </div>
        </a>
      </li>

    </ul>
  </div>

  <layer-adder ng-if="menu.layerAdderEnabled" menu="menu" state="state"></layer-adder>

</div>
