<div>

  <div ng-if="!layer.active">
    <div class="noselect">
      <label
        ng-click="layer.active = !layer.active"
        ng-class ="{active: layer.active }"
        class="layer-item layer-img"
        title="{{ layer.name || layer.type + ': ' + layer.uuid }}">
          <span ng-bind="layer.name"></span>
          <div class="layer-chooser-tools">
            <i class="fa fa-close"
               ng-click="remove(layer); $event.stopPropagation()">
           </i>
          </div>
      </label>
    </div>
    <opacity-slider title="{{ tooltips.transparency }}" layer="{active: false}"></opacity-slider>
  </div>

  <div ng-if="layer.active">
    <div class="noselect panel panel-default">
      <div
        ng-click="layer.active = !layer.active"
        class="panel-heading layer-item layer-img"
        title="{{ layer.name || layer.type + ': ' + layer.uuid }}">
          {{ layer.name  || 'raster' + ': ' + layer.uuid }}
          <div class="layer-chooser-tools">
            <i class="fa fa-close"
               ng-click="remove(layer); $event.stopPropagation()">
           </i>
          </div>
      </div>

      <table class="table" border="0">
        <tr>
          <td colspan="3">
            <span translate>Model:</span>
              <span>
                {{ scenario.model_name }}#{{ scenario.model_revision }}
              </span>
          </td>
        </tr>
        <tr>
          <td>
            <span translate>Start (simulation time)</span>
          </td>
          <td colspan="2">
            <span ng-if="scenario.start_time_sim">
              {{ scenario.start_time_sim | date: 'M/d/y HH:mm:ss' }}
            </span>
            <span ng-if="!scenario.start_time_sim">
              --/--/---- --:--:--
            </span>
          </td>
        </tr>
        <tr>
          <td>
            <span translate>End (simulation time)</span>
          </td>
          <td colspan="2">
            <span ng-if="scenario.start_time_sim">
              {{ scenario.end_time_sim | date: 'M/d/y HH:mm:ss' }}
            </span>
            <span ng-if="!scenario.end_time_sim">
              --/--/---- --:--:--
            </span>
          </td>
        </tr>

        <tr ng-repeat="result in scenario.result_set">
          <td class="col-md-6" title="{{ result.result_type.name }}">
            <span ng-if="!result.result_type.has_raster">
              <small>{{ result.result_type.name }}</small>
            </span>
            <rasterlayer
              closebutton="false"
              ng-if="result.result_type.has_raster"
              layer="result.layer">
            </rasterlayer>
          </td>
          <td class="col-md-3" >
            <span ng-if="result.result_type.has_value">
              <span>
                <small ng-if="!result.result_type.has_raster">
                {{ result.result_type.code === 'damage_estimation_json' ? '&euro;' : '' }}
                {{ result.value | number: 0 }}
                </small>
                <span ng-if="result.result_type.has_raster">
                {{ result.result_type.code === 'damage_estimation_json' ? '&euro;' : '' }}
                {{ result.value | number: 0 }}
              </span>
              </span>
            </span>
          </td>

          <td class="col-md-3">
            <div>

              <a href="#"
                 ng-click="launchExportModal(result)"
                 class="btn btn-default btn-xs pull-right"
                 title="{{ 'Export scenario data' | translate }}"
                 ng-if="result.result_type.has_raster && !mustEnableExportBtn(result)"
                 disabled>
                <i class="fa fa-share-square-o"></i>
                <span translate>Export</span>
              </a>

              <a href="#"
                 ng-click="launchExportModal(result)"
                 class="btn btn-default btn-xs pull-right"
                 title="{{ 'Export scenario data' | translate }}"
                 ng-if="result.result_type.has_raster && mustEnableExportBtn(result)">
                <i class="fa fa-share-square-o"></i>
                <span translate>Export</span>
              </a>

              <a href="{{ result.attachment_url || '#' }}"
                 class="btn btn-default btn-xs pull-right"
                 title="{{ 'Export scenario data' | translate }}"
                 ng-if="!result.result_type.has_raster && result.result_type.has_attachment && result.attachment_url">
                <i ng-init="dbg(result)"
                   class="fa fa-share-square-o"></i>
                <span translate>Export</span>
              </a>

            </div>
          </td>
        </tr>
      </table>
    </div>
</div>
