<div>

  <div ng-if="!layer.active">
    <div class="noselect">
      <label
        ng-click="layer.active = !layer.active"
        ng-class ="{active: layer.active }"
        class="layer-item layer-img"
        title="<% layer.name || layer.type + ': ' + layer.uuid %>">
          <span ng-bind="layer.name"></span>
          <div class="layer-chooser-tools">
            <i class="fa fa-close"
               ng-click="remove(layer); $event.stopPropagation()">
           </i>
          </div>
      </label>
    </div>

    <opacity-slider title="<% tooltips.transparency %>" layer="{active: false}"></opacity-slider>
  </div>

  <div ng-if="layer.active">
    <div class="noselect panel panel-default">
      <div
        ng-click="layer.active = !layer.active"
        class="panel-heading layer-item layer-img"
        title="<% layer.name || layer.type + ': ' + layer.uuid %>">
          <% layer.name  || 'raster' + ': ' + layer.uuid %>
          <span class="pull-right filesize"><% scenario.total_size / 1000000 | number : 2 %>mb</span>
          <div class="layer-chooser-tools">
            <i class="fa fa-close"
               ng-click="remove(layer); $event.stopPropagation()">
           </i>
          </div>
      </div>

      <table class="table">
        <tr>
          <td colspan="3">
            <span translate>Model:</span>
            <a href="<% scenario.model_url %>" target="_blank" title="<% 'Go to modelbank' | translate %>">
              <span><% scenario.model_name %>#<% scenario.model_revision %></span>
          </td>
          <td/>
          <td/>
        </tr>
        <tr>
          <td colspan="3">
            <span translate>Start (simulation time)</span>
          </td>
          <td>
            <span ng-if="scenario.start_time_sim">
              <% scenario.start_time_sim | date: 'M/d/y HH:mm:ss' %>
            </span>
            <span ng-if="!scenario.start_time_sim">
              --:--:--
            </span>
          </td>
          <td/>
        </tr>
        <tr>
          <td colspan="3">
            <span translate>End (simulation time)</span>
          </td>
          <td>
            <span ng-if="scenario.start_time_sim"><% scenario.end_time_sim | date: 'M/d/y HH:mm:ss' %></span>
            <span ng-if="!scenario.end_time_sim">
              --:--:--
            </span>
          </td>
          <td/>
        </tr>

        <tr ng-repeat="result in scenario.result_set">
          <td colspan="3" title="<% result.result_type.name %>">
            <span ng-if="!result.raster">
              <% result.result_type.name %>
            </span>
            <rasterlayer
              closebutton="false"
              ng-if="result.raster"
              layer="result.layer">
            </rasterlayer>
          </td>
          <td>
            <span ng-if="result.result_type.has_value">
              <span>
                {{ result.result_type.code === 'damage' ? '&euro;' : '' }}
                <% result.value | number: 0 %>
              </span>
            </span>
          </td>
          <td>
            <div ng-if="result.result_type.has_attachment">
              <a target="_blank"
                 href="<% result.attachment_url %>"
                 class="btn btn-default btn-xs pull-right"
                 title="Exporteer scenario data">
                <i class="fa fa-share-square-o"></i>
                <span translate>Exporteer</span>
              </a>
            </div>
          </td>
        </tr>
      </table>
    </div>
</div>
