<nav class="navbar navbar-default">
  <ul class="nav navbar-nav">
    <li ng-if="context == 'map'">
      <a ng-click="toggleDashboard()"
         title="<% 'Switch to dashboard' | translate %>"
         target="_blank"
         href="">
        <i class="fa fa-bar-chart"></i>
        <span translate>Dashboard</span>
      </a>
    </li>
    <li ng-if="context == 'dashboard'">
      <a class="hidden-xs material-shadow"
         ng-click="toggleDashboard()"
         title="<% 'Switch to map' | translate %>"
         target="_blank"
         href="">
        <i class="fa fa-globe"></i>
        <span translate>Map</span>
      </a>
    </li>
    <li ng-if="!user.authenticated">
      <a onclick="logIn()"
         title="<% tooltips.login %>"
         class="clickable">
        <div ng-cloak id="username">
          <i id="" class="fa fa-user"></i>
          <span translate>Log in</span>
        </div>
      </a>
    </li>
    <li class="dropdown" ng-if="user.authenticated">
      <a title="<% tooltips.profile %>"
         class="dropdown-toggle"
         data-toggle="dropdown"
         role="button"
         aria-haspopup="true"
         aria-expanded="false"
         href="#">
        <span ng-cloak id="username">
          <i class="fa fa-user"></i>
          <span ng-bind="user.firstName"></span>
          <span class="caret"></span>
        </span>
      </a>
      <ul class="dropdown-menu">
        <li>
          <a href="http://sso.lizard.net/edit_profile/"
             title="<% 'Edit profile' | translate %>">
            <i class="fa fa-pencil"></i>
            <span translate>Edit profile</span>
          </a>
        </li>
        <li role="separator" class="divider"></li>
        <li>
          <a ng-if="user.authenticated"
             class="logout user"
             href="/accounts/logout/?next=/"
             title="<% tooltips.logout %>"
             onclick="return logOut()">
             <i id="" class="fa fa-power-off"></i>
             <span translate>Log out</span>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
